[2012-04-02 11:33] xerxesb opened #41 "Display detailed diff for string comparisons when calling ShouldBe"
This task is to enhance the message reporting of ShouldBe(string) method to show more information about the string and where it differed from the target.

The basic idea (from my recollection) was taken from Phil Haack's blogpost on comparing strings un unit tests. (http://haacked.com/archive/2012/01/14/comparing-strings-in-unit-tests.aspx)

He has a reference implementation which (with some love)

[2012-05-22 23:39] xerxesb opened #47 "Add ShouldSoundLike for System.String"
String similarity checking using a [Levenshtein distance](http://en.wikipedia.org/wiki/Levenshtein_distance)

[code]

[2012-11-16 05:55] xerxesb opened #52 "Refactor ShouldlyMessage to use Message Generators"
Current message generators work, but are difficult to extend when we want to use custom error messages for different Should* methods.

This refactor is to refactor the existing ShouldlyMessage infrastructure to take full advantage of the MessageGenerators. Currently, MessageGenerators work for Shouldly* methods which take only the _actual_ and no _expected_ (for instance ShouldContain).

The goal

[2014-02-25 17:33] vorou opened #105 ""Length cannot be less than zero" at Shouldly.ShouldlyMessage.ToString()"
This assertion:

[code]

results into this output:

[code]

Here's how I get the `actual` value (`elastic` is an instance of [NEST](https://github.com/Mpdreamz/NEST) client):

[code]

and it's not empty, so I actually expect the assertion to fail, but with more elaborate message.

[2014-04-01 11:42] asgerhallas opened #133 "Should.Throw and dynamic"
I have troubles with dynamic in some shouldly tests. If I do this:

[code]

it fails. I can look into it, if you want me to :)

[2014-09-14 23:36] robdmoore opened #140 "Idea: ShouldBeUnique for collections"
It would be handy to have a `.ShouldBeUnique` for collections.

[2014-09-18 11:33] chaitanyagurrapu opened #142 "Improved failure message - "ShouldBeOneOf"/"ShouldNotBeOneOf" can display the variable name"
It might be better to tackle this after issue #52 is resolved, but the error message for "ShouldBeOneOf" can be improved by using the variable name of the IEnumerable being tested.

For example, the test ..

[code]

... currently shows the following message on failure ...

[code]

... but it would be better if it showed something like ...

[code]

Similar thing with the `ShouldNotBeOneOf` , `Shoul

[2014-11-11 11:25] JakeGinnivan opened #150 "ShouldAllBe message generator"
Currently error message is `new[]{1,2,3} should all be an element satisfying the condition ((x + 4) < 7) but does not`

It should be `new[]{1,2,3,4} should satisfying the condition ((x + 4) < 7) but [3] does not` or `new[]{1,2,3} should satisfying the condition ((x + 4) < 7) but [3,4] does not`

[2014-11-17 09:03] JakeGinnivan opened #153 "Add InstantHandleAttribute to Should.Throw"
Which can remove warnings like `Access to disposed closure`

InstantHandleAttribute is a ReSharper code annotation

[2014-11-27 14:21] JakeGinnivan opened #158 "Message generator for ShouldBeSubsetOf"
The error message is not very informative, it should say which items are additionally in the actual.

[2014-12-22 14:59] vorou opened #164 "Ignore case = true breaks comparison for yield break/yield return methods"
`ShouldBe` on a IEnumerable method returning iterator (i.e., either yield breaking or yield returning) returns false positive if ignore case sets to true. Changing any of these constraints results in proper behavior of `ShouldBe` (if method returns collection, OR if ignore case is false, should be is blowing up as expected).

I've hacked up [some test cases](https://github.com/vorou/shouldly/commi

[2015-01-10 14:21] JakeGinnivan commented on #164
Yeah it is a bug.. really silly one too, nothing to do with yield/iterators either. Thanks for the tests, made it easy to reproduce/fix.

[2015-01-12 07:52] #164 closed

[2015-01-13 08:47] JakeGinnivan opened #168 "Update http://shouldly.github.io/"
Currently the build status indicator blocks loading for quite a while, also the features and examples list is really out of date.

The site page needs a refresh

[2015-01-13 09:30] JakeGinnivan opened #169 "Allow additional context to be passed to Shouldly"
There are times when additional context would be useful. As an example https://gist.github.com/raybooysen/5cf4c9b74a7d35d9ba0b

This is *not* a custom error message like many other frameworks. I am thinking:

`type.IsSealed.ShouldBe(false, "type is " + type.FullName);`

Error message would be
[code]

[2015-01-14 13:47] JoeMighty commented on #169
Are you thinking this should be added to all of the Should/ShouldBe/ShouldNotBe methods?

[2015-01-14 13:57] JakeGinnivan commented on #169
Most likely. I think we can assume that any type of assertion could always want additional context to improve the message.

Also they need to be overloads, not optional parameters otherwise we break semantic versioning

[2015-01-14 22:29] JoeMighty commented on #169
Yes, I thought as much. I'll give this one a shot and see how I go!

[2015-01-19 16:02] asgerhallas commented on #105
I have this too, but only on my build server:

System.ArgumentOutOfRangeException : Length cannot be less than zero.
    Parameter name: length
       at System.String.Substring(Int32 startIndex, Int32 length)
       at Shouldly.ShouldlyMessageGenerator.GetCodePart(TestEnvironment environment) in c:\TeamCity\buildAgent\work\10efaabfa8adbd4e\src\Shouldly\ShouldlyMessageGenerators.cs:line 100

[2015-01-19 16:05] JakeGinnivan commented on #105
Is the source code available or are you building without PDB's?

[2015-01-19 16:05] asgerhallas commented on #105
Ah, yes I see, it's only on release builds with no pdb's or source.

[2015-01-19 16:06] asgerhallas commented on #105
I'll try to deploy the pdb's too and give you feedback in a second :)

[2015-01-19 16:07] JakeGinnivan opened #170 "Graceful fall-back when source/pdbs are not available"
See https://github.com/shouldly/shouldly/issues/105 for info on the issue.

We need to not crash and try our best to display a decent error message.

[2015-01-19 16:07] JakeGinnivan commented on #105
We need to gracefully fall back. I thought that I had done that.

Opened #170 to track the issue

[2015-01-19 16:10] asgerhallas commented on #105
Hmm... actually the PDB's a being built and the source code is available too.

[2015-01-19 16:14] JakeGinnivan commented on #105
Damn.. Not sure what the issue is then. Should be able to craft a fix anyways so we do not crash.

[2015-01-19 16:17] asgerhallas commented on #105
Not sure either, but it consistently fails on Release builds now. Also locally, in Resharper runner and for any type of assertion it seems.

But great if it could suppress the error somehow... :)

[2015-01-20 10:25] chaitanyagurrapu commented on #105
Would you be able to update your version of Shouldly and then post the updated stack trace please?

I am having trouble reproducing this with the current version. I compiled a sandbox nunit test project in release mode. In the project's advanced build settings, changed the "Debug Info" option to "None". Copied the dll (minus the pdb) to a completely different machine - a windows 2008 server VM. An

[2015-01-21 14:32] JakeGinnivan opened #172 "Add `Should.ThrowAsync` method"
Current `Should.Throw` is blocking. We should add a `Should.ThrowAsync` which returns a task and requires awaiting.

[2015-01-21 14:33] PureKrome commented on #172
I'm on it!

[2015-01-21 14:45] PureKrome commented on #172
Oh snap - this is targetting `.NET 4.0` right? oh urgh. Can i bump it to `.NET 4.5`  to use `async/await` ?

[2015-01-21 15:04] JakeGinnivan commented on #172
You will have to write it using TPL.

Something like this:

[code]

[2015-01-21 16:10] asgerhallas commented on #105
Sorry for the delayed answer. I've just fetched the latest Shouldly source from github and implemented this simple test:

    [TestFixture]
    public class ShouldFail
    {
        [Test]
        public void Hello()
        {
            "asger".ShouldBe("horse");
        }
    }

Built with Release config and it fails with:

    System.ArgumentOutOfRangeException : Length cannot be less than zer

[2015-01-21 16:12] JakeGinnivan commented on #105
What version of visual studio/.net

[2015-01-21 16:12] asgerhallas commented on #105
VS 2013 Premium update 3

[2015-01-21 16:14] asgerhallas commented on #105
It skips too many line numbers when it reads the code lines from the file. It finds the file alright though, but this is the content of codeLines for the above test in a single file:

            }
        }
    }

[2015-01-21 16:17] asgerhallas commented on #105
LineNumber for Release config is 11 and for Debug config it is 10.

[2015-01-21 16:19] asgerhallas commented on #105
I don't know if it's always the case, but the -1 in this line

           LineNumber = originatingFrame.GetFileLineNumber() - 1;

seems to be dependent on the build config.

[2015-01-21 16:52] asgerhallas commented on #105
I thought I'd make a pull request for you, but the offset of line number is really not consistent. My simple test was two lines offset, but quite a few other tests in Shouldly.Tests failed for me when run in Release. I'm sorry, I don't see a good solution right now.

[2015-01-22 01:36] PureKrome commented on #172
Ah ok - TPL. Um ... i've not used any of that so I'll pull myself off this task now and let someone will TPL skills jump on, instead :blush:

[2015-01-22 09:46] txdv commented on #172
Sigh ... It is not rocket science.

[2015-01-23 08:49] JakeGinnivan commented on #105
I've put up a pull request. The test still fail in release mode, but because the error messages don't match. Not the crash

[2015-01-29 22:47] JakeGinnivan commented on #105
This has been fixed in 2.4.0

[2015-01-30 09:08] JakeGinnivan commented on #169
Have any luck @JoeMighty?

[2015-01-31 16:34] JakeGinnivan opened #174 "Improve ShouldContain error message"
Working on carnac and I got this:

[code]

`but did not` would be sufficient I think? We don't care what else is in the collection, right?

[2015-02-04 22:02] JakeGinnivan opened #175 "[Feedback wanted] New Docs Site"
http://docs.shouldly-lib.net

Thoughts @robdmoore @chaitanyagurrapu ?

Thinking of redirecting current github page to that and cutting the readme right back to include contribution info and such.

[2015-02-04 22:03] JakeGinnivan commented on #168
See #175

[2015-02-04 22:04] JakeGinnivan commented on #175
Will also redirect shouldly-lib.net to docs.shouldly-lib.net

As for domains, it was that or shouldly.io and I thought shouldly-lib.net was better

[2015-02-04 22:04] JakeGinnivan commented on #175
But thoughts welcome

[2015-02-04 23:34] robdmoore commented on #175
It's *beautiful*! wow.

[2015-02-05 04:10] chaitanyagurrapu commented on #175
Very nice. I like it. Perhaps the contrast between the right most pane (failure messages) and the middle one can be less? Maybe very light gray or light blue?

I've never used readme.io. Can I use my github login or do I need to sign up to it separately to suggest edits?

[2015-02-05 05:08] xerxesb commented on #175
kudos!

Looks great!

On 5 February 2015 at 09:02, Jake Ginnivan <notifications@github.com> wrote:

[2015-02-09 19:01] #175 closed

[2015-02-09 19:16] JakeGinnivan commented on #168
Done

[2015-02-09 19:16] #168 closed

[2015-02-09 19:16] JakeGinnivan opened #177 "Improve examples on docs site"
The simpsons examples should override ToString so they give better error messages

[2015-02-13 13:45] JoeMighty commented on #169
Sorry for the late reply, I missed that you commented. I think I've bitten off more than I can chew with this one I'm afraid!

[2015-02-13 14:28] JakeGinnivan commented on #169
No worries, feel free to pick something smaller up.

[2015-02-21 00:17] urig commented on #174
Hi @JakeGinnivan. I'd like to jump-in :).
Couple of questions if you will:
1. Your specification is to just print "but did not" instead of printing the collection?
2. Is there an existing test scenario for this? (I can't seem to find it)

[2015-03-04 15:19] jbogard opened #179 "Client-friendly exception names"
On a couple of clients now we've had to explain what a Wobbly is and how it getting Chucked is not reason for alarm. That it's actually an assertion failure.

Any thoughts of making the ChuckedAWobblyException a little more explicit in what it is and not a funny name?

[2015-03-04 16:32] ChrisMissal commented on #179
:+1:

[2015-03-04 23:02] chaitanyagurrapu commented on #179
+1. I've heard a similar comment at my current place as well. The naysayers find the "Chucked A Wobbly" to be very unprofessional and annoying.

[2015-03-06 13:28] JakeGinnivan commented on #179
Not against this. I would suggest that we create a new exception which inherits from ChuckedAWobblyException so we do not break anyone catching that exception.

What should we call the exception?

[2015-03-06 13:45] plioi commented on #179
Let's go Full Boring: AssertionException.

[2015-03-06 13:47] asgerhallas opened #180 "Make Should-methods chainable"
Would it be an idea to make the rest of the should-methods chainable like ShouldBeTypeOf?

I use ShouldBeTypeOf and it's chainability, but I often need to assert on more than one property on the  cast subject, like

            commands[0].ShouldBeOfType<AddColumn>()
                .Tablename.ShouldBe(GetTableFor<Entity>().Name);
                .Column.ShouldBe("Something");

That would be quite

[2015-03-06 14:24] jbogard commented on #179
- XUnit - assertion-specific exception `throw new FalseException()`
- NUnit has one `AssertionException`
- MSTest has `AssertFailedException`
- mspec has `SpecificationException`

My vote is something with Assert in it or `ಠ_ಠException`

[2015-03-06 14:58] JakeGinnivan commented on #180
The problem with this is how shouldly grabs the code. The best would be if we could remove the `.Should*` methods out completely so say the column is wrong the error would be:

`((AddColumn)commands[0]).Tablename.GetTableFor<Entity>().Name.Column` because that is what you are asserting.

I don't have an issue with doing this, but it will require a bit of testing to make sure the error messages are

[2015-03-06 14:59] JakeGinnivan commented on #179
`ShouldAssertException` maybe.

[2015-03-11 11:11] cottsak commented on #150
`new[]{1,2,3,4} should satisfying` or `new[]{1,2,3,4} should satisfy`?

[2015-03-11 11:13] JakeGinnivan commented on #150
`satisfy` is better

[2015-03-11 11:24] cottsak commented on #150
@JakeGinnivan I'll try and jump in on this one (GitHub membership is all mine!!)

[2015-03-11 12:07] cottsak commented on #150
Fixed in https://github.com/shouldly/shouldly/pull/181

[2015-03-11 12:14] JakeGinnivan commented on #150
Will be released in next (>2.4.0) release

[2015-03-11 12:14] #150 closed

[2015-03-12 13:20] JakeGinnivan opened #183 "NuGet Readme should be simplified like the github readme"
I just upgraded shouldly and the readme that pops up is out of date and should be simplified and brought into line with the Readme.md in this repo

[2015-03-12 14:39] JakeGinnivan opened #184 "Add InstantHandleAttribute to ShouldContain"
R# hint to not warn about modified closure as the lambda is executed immediately not delayed

[2015-03-12 15:01] JakeGinnivan opened #185 "Better expression printing"
Just got a error message when using a expression:

` sut.FixingReferences should contain an element satisfying the condition ((r.Symbol == value(Portlet.Tests.Portlet.DefaultPreferencesScenarios+<>c__DisplayClass3).something.Symbol) AndAlso (r.Reference == value(Portlet.Tests.Portlet.DefaultPreferencesScenarios+<>c__DisplayClass3).something.Reference)) but does not`

I created a class to do this i

[2015-03-13 23:12] #174 closed

[2015-03-16 15:38] #179 closed

[2015-03-17 09:26] #185 closed

[2015-03-19 04:45] PureKrome opened #189 "Typo in Docs"
![image](https://cloud.githubusercontent.com/assets/899878/6724571/d893705c-ce4e-11e4-9724-81569fc98c2b.png)

To edit that, it asked me to create a ReadMe.io account -- Too hard already. Issue here, instead :)

[2015-03-19 05:12] chaitanyagurrapu commented on #180
What if there was an other keyword introduced to help with this. 'AndAlso' for example. So the test could be written as

       commands[0].ShouldBeOfType<AddColumn>()
            AndAlso.Tablename.ShouldBe(GetTableFor<Entity>().Name);
            AndAlso.Column.ShouldBe("Something");

This way, when printing the error message shouldly can search for text between the `should*` method and `AndAlso`

[2015-03-19 07:30] JakeGinnivan commented on #189
Thanks. Have suggested they allow login for edits via GitHub

Have fixed

[2015-03-19 07:30] #189 closed

[2015-03-23 22:39] aaronpowell opened #190 "Allow custom/additional message to ShouldlyMessage"
I think this is related to #52 but figured I'd like to add it anyway.

I'd **really** like a way to provide a custom message to the 'assert' that is executed.

Scenario:

Here's a sample of how I'd see the API working:

    [Fact]
    public async Task Should_return_OK() {
        var response = await GetAsync("/api/something");

        response.StatusCode.ShouldBe(HttpStatusCode.OK, () => respon

[2015-03-23 23:26] fekberg commented on #190
I like the idea of having extra information in the ShouldlyMessage, just a small note on the asynchronous part where you are forcing a block. That code might deadlock, which isn't ideal. It's generally bad practice to force a wait/blocking.

You could change it in two ways.

**Async all the way**
`response.StatusCode.ShouldBe(HttpStatusCode.OK, async () => await response.Content.ReadAsStringAsync(

[2015-03-23 23:57] robdmoore commented on #190
+1 I've wanted custom messages a couple of times. This example being one of them actually!

I'd want a string overload as well as the lambda though.

[2015-03-23 23:58] PureKrome commented on #190
Blammo! same here @aaronpowell and @robdmoore

[2015-03-24 03:15] pawelpabich commented on #190
+1 one for simple string overload

[2015-03-24 03:21] aaronpowell commented on #190
@fekberg just having a quick dig into the code, it supports .NET 3.5, would that have any problem with the async/await stuff?

[2015-03-24 03:55] fekberg commented on #190
@aaronpowell TPL was introduced in .NET 4.0 and async/await in .NET 4.5. You won't want to make Shouldly know about TPL/async&await just think about it when you consume it from an application that uses async & await.

[2015-03-24 09:08] JakeGinnivan commented on #190
@fekberg we have `#IF NET40` to turn on the task support in the .net 40 builds.

What I am hearing is the following overloads

[code]

Also @fekberg we use the `Task.Run(() => ...)` trick in `Should.Throw(Task<T>)` to make sure the lambda is run without a sync context then we block and wait for completion. #172 is tracking adding a `Should.ThrowAsync()` overload which is asynchronous.

Any volunte

[2015-03-24 09:10] JakeGinnivan commented on #190
#169 is similar to this, except the task/func overloads are not in that one

[2015-03-24 09:15] JakeGinnivan commented on #190
@fekberg the ShouldThrow task support code: https://github.com/shouldly/shouldly/blob/master/src/Shouldly/ShouldThrowTaskExtensions.cs

[2015-03-24 13:51] JoeMighty commented on #153
How would you like to deal with `JetBrains.Annotations` package dependency? Are you happy for me to add the latest `JetBrains.Annotations` NuGet package to the solution?

[2015-03-24 14:36] JakeGinnivan commented on #153
I think it can be added as a source file and be marked internal. @citizenmatt - suggestions?

[2015-03-24 17:20] YogirajA commented on #172
@JakeGinnivan  I am taking a stab at this one. I need some pointers on testing it. What could be a sample passing and failing test here?

[2015-03-24 17:24] JakeGinnivan commented on #172
Have a look at https://github.com/shouldly/shouldly/blob/master/src/Shouldly.Tests/ShouldThrow/FuncOfTaskScenario.cs

The difference will be that it will be asynchronous, so you will need to do soemthing like this:

[code]

[2015-03-25 05:31] YogirajA commented on #172
@JakeGinnivan  What do you think of [this?](https://github.com/YogirajA/shouldly/blob/development/src/Shouldly/ShouldThrowTaskExtensions.cs) It is work in progress. Am I going in the right direction?
I ran into some trouble with the [ShouldThrowAWobbly test]
(https://github.com/YogirajA/shouldly/blob/development/src/Shouldly.Tests/ShouldThrowAsync/FuncOfTaskScenarioAsync.cs). The other one succeed

[2015-03-25 09:02] JakeGinnivan commented on #172
If it doesn't make sense to use the base fixture, don't. Just write a test normally, the base class is there to save time and give some structure by default.

But likely you need to wrap https://github.com/YogirajA/shouldly/blob/development/src/Shouldly.Tests/ShouldThrowAsync/FuncOfTaskScenarioAsync.cs#L15 with a try/catch. Catch the `AggregateException` then rethrow the InnerException which shoul

[2015-03-25 09:03] JakeGinnivan commented on #172
Submit a work in progress pull request if you want, then we can comment on the code easily

[2015-03-25 11:56] citizenmatt commented on #153
Yep. Here are the recommended ways:

1. **Add a reference to the `JetBrains.Annotations` package**

    The attributes in the package are marked with the `[Conditional]` attribute, which by default means they don't get compiled into the resulting assembly, but are still used for analysis of the source code of the current project.

    Defining `JETBRAINS_ANNOTATIONS` means they get compiled into t

[2015-03-25 13:02] JoeMighty commented on #153
Thanks @citizenmatt. It sounds like number 2 is the best way to go then.

[2015-03-25 22:04] aaronpowell commented on #190
@JakeGinnivan looking into the source there's currently 11 `.ShouldBe` methods. To support all 3 _styles_ there will be 33 `.ShouldBe` methods. In fact there's 33 methods in `ShouldBeTestExtensions`, which then becomes 99 methods.

This is why I suggested just the `Func<string>` property, which could be defaulted to `null` (or `() => string.Empty`) which is easy for use with all scenarios from jus

[2015-03-25 22:47] aaronpowell commented on #190
PR opened with some initial work on this implementation. Since the test project is .NET 4.0 I'm not sure how to do `Task.Run`, @fekberg - any opinions?

[2015-03-25 23:10] xerxesb commented on #190
I'm typically pretty quiet now-a-days about the direction of Shouldly, but one thing that bugs me about this thread is that there hasn't been any discussion about the assertion failure message itself.

Shouldly differentiated itself from other assertion frameworks because failure messages were contextual and the actual error was human readable, where other frameworks typically left the developer t

[2015-03-25 23:25] aaronpowell commented on #190
@xerxesb Sure, I get that that's what Shouldly is about, useful messages without you having to write them yourself. The problem that can happen comes back to what you mention, context. Sometimes context requires more information than can be gained from the particular object you're asserting against, as in my original example.

Here's an example from our build server:

    Shouldly.ChuckedAWobbly :

[2015-03-25 23:58] xerxesb commented on #190
:+1:

[2015-03-26 01:00] pawelpabich commented on #190
This is ugly and I'm not sure whether it is even possible, but it will not require us to create any new overloads. actualValue.WithAdditionalMessage("details").ShouldBe(expectedValue);

[2015-03-26 01:05] aaronpowell commented on #190
Shouldly is extension methods on top of `object` so you'd need to introduce a proxy object which might get funky

[2015-03-26 04:32] YogirajA commented on #172
@JakeGinnivan Thanks! Please let me know if you see any issues with the code in the pull request.

[2015-03-26 06:01] fekberg commented on #190
@aaronpowell in .NET 4.0 you'd do `Task.StartNew`. `Run` was added later, as a short hand for that!

[2015-03-26 07:22] JakeGinnivan commented on #190
@xerxesb this is similar to #169 which specifies the messages.

My thoughts were simple add:

[code]

Under what we have already, this way we still get the full shouldly error but some additional context

[2015-03-27 11:27] AntoninB opened #198 "bug Should.Throw"
This works:
                try
                {
                    methodTested();
                    Assert.Fail("No exception throwned");
                }
                catch (MyException){}
                catch (Exception) { Assert.Fail("Wrong exception called");}

this doesn't in 2.4.0:
                Should.Throw<MyException>(() => methodTested());

[2015-03-27 11:39] JakeGinnivan commented on #198
Am just trying to understand the issue. It seems fine for me. Here is a simple LinqPad script, failing to replicate this issue.
[code]

The output is:
[code]

Can you elaborate on your issue?

[2015-03-30 07:54] JakeGinnivan commented on #198
@AntoninB just following up on this

[2015-03-31 09:46] AntoninB commented on #198
It's a little more complicated to reproduce than I thought:
Here are five class, in two project

project TestLocalProject, a console project

    public abstract class AbstractClass
    {
        public int intNumerator { get; set; }

        public void TestMethod()
        {
            throw new PersonalizedException("test message", 1);
        }
    }

    public class TestClass:AbstractClass

[2015-03-31 10:40] JakeGinnivan commented on #198
Ok, so what version of .net are you using?

I just put this in linqpad:

[code]

The output is `works`

I can't reproduce :(

[2015-03-31 11:02] #158 closed

[2015-03-31 11:12] AntoninB commented on #198
Visual C# 2013 update 4

and for the unit test project
Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll v 10.0.0.0
runtime version v2.0.50727

[2015-03-31 11:36] JakeGinnivan commented on #198
Are you able to submit a failing test in a pull request?

[2015-03-31 11:37] AntoninB commented on #198
It's my first time using GitHub. Let me a moment to know how I can do this.

[2015-03-31 11:47] JakeGinnivan commented on #198
Sure!

https://help.github.com/articles/creating-a-pull-request/ and https://help.github.com/articles/using-pull-requests/ are useful resources.

As for tools, if you don't have git setup. This is how I do it: http://jake.ginnivan.net/setting-up-git/

Just ask if you have any specific issues

[2015-03-31 12:40] AntoninB commented on #198
I think it's done. Unfortuantelly I have to work now so I won't be able to do much before I come home in 4/6 hours

[2015-03-31 12:42] JakeGinnivan commented on #198
No probs, will try to have a look.

[2015-04-06 08:55] JakeGinnivan commented on #198
This is working fine for me. `Should.Throw<PersonalizedException>(() => { testClass.TestMethod(); });` calls TestMethod which throws a `PersonalizedException`. So the assertion is valid and Shouldly does not throw.

Should.Throw will fail if the exception is *not* thrown. If you want shouldly to fail when an exception *is* thrown you want `Should.NotThrow`

[2015-04-08 10:24] chaitanyagurrapu opened #206 "Add optional case sensitivity to Should[Not]StartWith and Should[Not]EndWith"
Currently the string.ShouldBe extension method takes an optional case sensitivity parameter to determine whether to do a case sensitive comparison or a case insensitive comparison.

This option should also be extended to "ShouldStartWith", "ShouldNotStartWith", "ShouldEndWith" and "ShouldNotEndWith" methods. Currently these methods only perform a case insensitive match.

[2015-04-08 10:25] JakeGinnivan commented on #206
:+1: we need to make sure that case sensitive is opt in so this is not a breaking change

[2015-04-08 16:40] robertlyson commented on #177
I edited through http://docs.shouldly-lib.net/v2.4.0/docs failure messages for following tests: `IEnumerable_ShouldBe`, `ShouldBeOneOf`, `ShouldNotBeOneOf`, `ShouldBeAssignableTo`, `IEnumerable_ShouldContain`, `IEnumerable_ShouldNotContain`, `IEnumerable_ShouldBeEmpty`, `IEnumerable_ShouldBeOneOf` and `IEnumerable_ShouldBeSubsetOf`.

Hope it helps.

[2015-04-08 16:55] JakeGinnivan commented on #177
Awesome! Great work.

The only one that looked a bit strange was https://dash.readme.io/project/shouldly/v2.4.0/docs/shouldbeoneof-1 - but that was not your doing.. I will have to look into that

[2015-04-08 18:15] JakeGinnivan commented on #198
Going to close this. I can't reproduce. Feel free to reopen if you can elaborate on the issue.

[2015-04-08 18:15] #198 closed

[2015-04-08 18:39] JakeGinnivan commented on #52
Looks like message generators have been completed for the methods which needed the error message improved. This can finally be closed

[2015-04-08 18:39] #52 closed

[2015-04-08 21:06] JoeMighty commented on #206
Presumably this is going to dramatically increase the number of methods for the aforementioned Shouldly methods? At the moment (if we're going on the changes in the AdditionalInfoMessages branch) there are 3 methods per Shouldly test (2 of which are overloads), this would take it to 6 per test method?

[2015-04-09 10:40] JakeGinnivan commented on #206
It will, it would be nice to use optional parameters for this. Technically that is a breaking change though.

Maybe we can try and consolidate the overloads which can be simplified with optional parameters as well, then bump to v3?

[2015-04-09 12:18] JoeMighty commented on #206
Yeah, optional parameters are an option. Though wouldn't making them optional introduce an inconsistency in the api? ShouldBe's caseSensitivity argument aren't optional. Perhaps it's worth making ShouldBe optional too?

[2015-04-09 12:36] JakeGinnivan commented on #206
The reason they were not made optional is that is a binary breaking change in the API. We probably don't need binary compatibility with a assertion framework though.. Might ask twitter

[2015-04-09 12:46] JakeGinnivan commented on #206
Consensus seems to be binary. Lets not use optional parameters and then we can release 2.5 instead of 3.0. We are going for more overloads with the custom message, so lets do more overloads in this case too.

@chaitanyagurrapu could you change it to use overloads instead? Once it is merged we will need to add another task on #195 to add optional parameters for the overloads with custom messages (t

[2015-04-09 14:26] JoeMighty commented on #206
@JakeGinnivan I see, that makes sense.

[2015-04-10 09:00] chaitanyagurrapu commented on #206
Done. Hope that is what you were looking for.

[2015-04-10 12:26] JakeGinnivan commented on #206
After making you go to that effort. I realised my moving methods around in the custom messages PR is a breaking change. Am going to bump the next release to v3

Sorry about that

[2015-04-10 12:34] JakeGinnivan commented on #206
I have integrated this change with the custom message PR.

We should probably do this for ShouldContain and other string related methods

[2015-04-10 12:39] #206 closed

[2015-04-10 12:40] JakeGinnivan opened #211 "ShouldContain case sensitivity option"

[2015-04-10 12:56] JakeGinnivan opened #212 "v3 API Review"
With all the additional overloads being added recently it makes sense to reorganise the shouldly methods into a much of smaller classes to make it easier to maintain. This is a binary breaking change, so the next release will be a major release.

While making the breaking change we should look for opportunities to simplify the API with optional parameters and put the different Should methods into

[2015-04-10 13:21] mountain65 commented on #183
I would love to do this, but have no idea where to find the files. They are not in this repo, as far as I can see.

[2015-04-10 13:28] JakeGinnivan commented on #183
Just had a look at this. We actually just need to deploy, the readme updates were done after the last deploy to github.. See: http://teamcity.ginnivan.net/repository/download/OpenSourceProjects_Shouldly_CI/10672:id/Shouldly.2.4.1.nupkg%21/README.txt

My bad!

[2015-04-10 13:28] #183 closed

[2015-04-10 13:46] kpstolk opened #213 "Add extension methods on System.Action for ShouldThrow etc"
It is easier in my opinion to have an extension on System.Action like this:

    Action action = () => { throw new NotImplementedException(); };
    action.Throws<NotImplementedException>();

instead of:

    Action action = () => { throw new NotImplementedException(); };
    Should.Throws<NotImplementedException>(action);

[2015-04-11 19:31] JakeGinnivan commented on #212
Fixed binary compatibility, don't need to bump now

[2015-04-11 19:31] #212 closed

[2015-04-11 22:46] JakeGinnivan opened #216 "Should.Throw(Task) Overloads"
At the moment there is just the signature `Should.Throw(Func<Task>)`. There should be `Should.Throw(Task)`

[2015-04-11 22:47] JakeGinnivan opened #217 "Should.NotThrowAsync(Task) and Should.NotThrowAsync(Func<Task>)"
We have Should.ThrowAsync but not the opposite

[2015-04-12 01:37] JoeMighty commented on #153
I've created a pull request for this (#218).

[2015-04-12 01:42] JoeMighty commented on #216
I've created a pull request for this (#219).

What about the other methods (such as `NotThrow`, `ThrowAsync` etc)? Let me know and I'll update my PR.

[2015-04-12 08:33] JakeGinnivan opened #220 "Should.NotThrow message generator"
[code]

Is not great. Something like this would be better:

[code]

[2015-04-12 08:41] JakeGinnivan opened #221 "ShouldContainWithoutWhitespace message generator"
Current:

[code]

It should have the actual message as well to make diagnosing the issue easier

[2015-04-12 09:15] JakeGinnivan commented on #184
@JoeMighty hold off on this until #195 is merged, otherwise we have to do it again after

[2015-04-12 09:26] JakeGinnivan commented on #216
I'm on this one

[2015-04-12 09:26] JakeGinnivan commented on #217
Wait until #195 is merged

[2015-04-12 09:28] JoeMighty commented on #184
Alright, will do.

[2015-04-12 10:23] #190 closed

[2015-04-12 10:24] JakeGinnivan commented on #184
Ok this is good to go.

[2015-04-12 10:25] JakeGinnivan commented on #153
@JoeMighty there are now a heap more overloads. So the work for this needs to be done again, at least the nuget package change is done

[2015-04-12 10:27] JakeGinnivan commented on #216
Fixed in #195

[2015-04-12 10:27] #216 closed

[2015-04-12 16:16] JakeGinnivan commented on #172
I ended up commenting this out as I was getting exceptions when shouldly was trying to check out the stack frame to get the code.

This needs to be looked at again. I did extend the tests so it might have just hit a edge case. At any rate this will not be in the next release until I (or someone else) can look into it more

[2015-04-12 16:19] #169 closed

[2015-04-12 18:59] urig commented on #221
How do I reproduce this?

[2015-04-12 20:43] urig commented on #221
Would it be acceptable to go:

    throw new ShouldAssertException(new ExpectedShouldlyMessage(ex, customMessage).ToString());

Instead of:

    throw new ShouldAssertException(new ExpectedShouldlyMessage(ex.GetType(), customMessage).ToString());

Here: https://github.com/shouldly/shouldly/blob/master/src/Shouldly/ShouldStaticClasses/ShouldThrowTaskExtensions.cs#L173 ? (and on line 169 naturally)

[2015-04-13 04:48] YogirajA commented on #172
@JakeGinnivan Can you give me steps to recreate it? I will take a look.

[2015-04-13 06:34] JakeGinnivan commented on #172
No worries! Thanks for looking into it. I wanted to get the release out so I just commented it to get past the issue.

[2015-04-13 09:06] JakeGinnivan commented on #221
I explained it badly, it is not the Should.Throw methods, it is the `ShouldContainWithoutWhitespace` method. We use that method to verify others, I was writing tests for the Should.Throw method.

[code]

Maybe something like:

[code]

[2015-04-13 13:03] JoeMighty commented on #153
No worries, I'll take a look at these then. Are these the Should.Throw(Task) overloads you're referring to?

[2015-04-13 13:04] JoeMighty commented on #184
Good good! I'll get sort this then.

[2015-04-13 13:08] JakeGinnivan commented on #153
Yep, and the custom message overloads

[2015-04-13 16:22] JoeMighty commented on #153
Alright, sounds good. I'll get on it!

[2015-04-14 05:48] YogirajA commented on #172
I did some digging today. I compared the stacktrace of the master code with the working one from one my local branches. They looked almost identical. They both have the same frame null. In the working code however, the while loop does not go this far. This call  `IsShouldlyMethod(currentFrame.GetMethod())` returns true when  the value of i is 2. In the master code, that method doesn't return true

[2015-04-14 12:58] JoeMighty commented on #184
The Should.Throw methods are sorted (#226). Are you happy for me to sort the NotThrow methods under this issue or do you want to create a new one?

[2015-04-14 13:00] JoeMighty commented on #153
The Should.Throw methods are sorted (#226). Are you happy for me to sort the `NotThrow` methods under this issue or do you want to create a new one?

[2015-04-14 13:17] JakeGinnivan commented on #153
Just do it in the same PR

[2015-04-14 13:19] JakeGinnivan commented on #172
Interesting. Your local branch would not have as many overloads and also I ended up changing the code around ShouldCompleteIn to give it better exceptions. All of these things could have changed the stacktrace slightly. I was short on time to investigate, not sure when I will get a chance. Am in Prague this weekend

[2015-04-14 23:48] JoeMighty commented on #153
There we go, that's `Throw` and `NotThrow` sorted. I used your rebase -i instruction and it worked like a charm!

[2015-04-15 06:21] urig commented on #221
I'm afraid I still don't quite get what you're specifying here. Can we have a quick chat about it [here](https://gitter.im/urig/shouldly) sometime?

[2015-04-15 13:03] JoeMighty commented on #184
Just submitted PR #228 to fix this issue.

[2015-04-17 00:26] JoeMighty commented on #211
I've made a start on this one.

[2015-04-20 03:20] JoeMighty commented on #211
I've just created a PR (#229) for this issue.

[2015-05-01 19:35] #221 closed

[2015-05-01 21:36] JakeGinnivan commented on #213
I think having these extension methods make sense. They should just proxy to the existing static methods.

All the Should.Throw tests should be moved over to use the new extension methods so all code paths are still tested

Happy to have a pull request for this

[2015-05-01 21:36] JakeGinnivan commented on #213
I think this is even more useful for the task overloads.

`await task.ShouldThrowAsync<InvalidOperationException>()`

[2015-05-01 21:37] #172 closed

[2015-05-01 21:38] #105 closed

[2015-05-01 22:14] JoeMighty commented on #211
This can not be closed.

[2015-05-02 01:26] JoeMighty commented on #220
I've made a start on this one.

[2015-05-02 09:12] JakeGinnivan commented on #220
It is not the simplest change. We don't have any code to extract arguments from a static shouldly message. Good luck :)

[2015-05-02 18:34] JoeMighty commented on #220
Yeah, I quickly realised that! The rest of it is done; extracting the arguments is all that's left. Am I correct in thinking that by arguments you mean the contents of the delegate? ie: `Should.NotThrow(() => { MyMethod(); });` (in this case the `MyMethod` should be output at the beginning of the shouldly message?

[2015-05-02 18:39] JoeMighty commented on #184
At one point we briefly talked about adding the InstantHandleAttribute to the custom message parameters; are you still keen to do this?

[2015-05-03 02:06] JoeMighty commented on #220
Here's the branch in its current state https://github.com/JoeMighty/shouldly/tree/ShouldNotThrowMessageGenerator

[2015-05-03 06:23] JakeGinnivan commented on #184
Yep, see no reason not to

Sent from my Windows Phone
________________________________
From: JoeMighty<mailto:notifications@github.com>
Sent: ‎02/‎05/‎2015 19:39
To: shouldly/shouldly<mailto:shouldly@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [shouldly] Add InstantHandleAttribute to ShouldContain (#184)

At one point we briefly talked about adding the InstantHandl

[2015-05-03 06:25] JakeGinnivan commented on #220
I think it should be the entire lambda `() => MyMethod()`. I'm not sure if we have overloads, if we do we just want the first argument.
Will check this out tomorrow when back in London

Sent from my Windows Phone
________________________________
From: JoeMighty<mailto:notifications@github.com>
Sent: ‎02/‎05/‎2015 19:35
To: shouldly/shouldly<mailto:shouldly@noreply.github.com>
Cc: Jake Ginnivan<mai

[2015-05-03 11:29] JoeMighty commented on #220
Cool, sounds good. I'm pretty certain you can get that info by wrapping the delegate in an `Expression<>`.

[2015-05-03 12:16] JakeGinnivan commented on #220
Yeah, but that is a breaking change. Maybe overloads?

Sent from my Windows Phone
________________________________
From: JoeMighty<mailto:notifications@github.com>
Sent: ‎03/‎05/‎2015 12:30
To: shouldly/shouldly<mailto:shouldly@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [shouldly] Should.NotThrow message generator (#220)

Cool, sounds good. I'm pretty certain you

[2015-05-04 08:44] JoeMighty commented on #220
I wondered whether we can wrap the delegate within an expression within the message generator. I've not tried it before so I don't know if it can be done - but that way wouldn't introduce a breaking change and wouldn't add additional overloads?

[2015-05-04 08:47] JakeGinnivan commented on #220
Once you have an action/func delegate you cannot break it back down into an expression tree unfortunately.

I think overloads are probably the best solution.. More overloads.. :(

Even if we were to introduce a breaking change, expressions do not allow block scoped expressions, meaning this would no longer compile:

[code]

[2015-05-04 08:47] JakeGinnivan commented on #220
So basically overloads or trying to get the source code out

[2015-05-04 11:43] DavidSSL opened #234 "Output of message differs on dev machine build server"
On my dev machine, I get the following error message:

  Shouldly.ShouldAssertException :
        factorySettingOverrideResult should satisfy all the conditions specified, but does not.
        The following errors were found ...
--------------- Error 1 ---------------

    factorySettingOverrideResult
						.DemoModes.Distinct()
						.Count()
        should be
    2
        but was
    3

Howeve

[2015-05-04 11:46] JakeGinnivan commented on #234
Shouldly uses the source code to make it's error messages better. So this issue is likely to be one of two issues:

1) You are building tests in Release module without PDB's
2) You are building your test assembly in another build, and running tests in a different one so the source which the test assemblies were built from are not available.

Without the source we fall back to the best we can do (w

[2015-05-04 14:58] DavidSSL commented on #234
Ok, we've found the issue. Effectively in our release build we have got this:

![image](https://cloud.githubusercontent.com/assets/483473/7455651/6a14fd7c-f27e-11e4-9aa7-1fb120e73c43.png)

but in the debug/development build we've got this:

![image](https://cloud.githubusercontent.com/assets/483473/7455673/86da6690-f27e-11e4-8e84-8eb5ad8fbdd4.png)

and this difference in "Debug Info" caused the is

[2015-05-04 14:58] #234 closed

[2015-05-04 15:01] JakeGinnivan commented on #234
Updating the readme would be enough, if you can submit a pull request that would be great!

[2015-05-04 20:52] YogirajA commented on #217
@JakeGinnivan  I understand this is blocked. I can start looking into this.  Do you think #195 will have a ton of impact on this item? If yes, I will wait.

[2015-05-04 21:07] JosephWoodward opened #236 "Possible new logo?"
I'm looking at the existing logo and wondering if you're open to ideas on a new one? I'm a dab handy in Photoshop and am happy to put a few ideas together if you're open to them?

[2015-05-05 14:02] davetolan opened #237 "ShouldBe on two objects failing"
Consider this code:
[Fact]
        public void FunctionName_Behavior_Scenario()
        {
            test expected = new test {Foo = "foo", Bar = "bar"};
            test actual = new test { Foo = "foo", Bar = "bar" };

            actual.ShouldBe(expected);
        }

        class test
        {
            public string Foo { get; set; }
            public string Bar { get; set; }

[2015-05-05 15:16] JakeGinnivan commented on #237
You will need to overwrite `Equals` to get the behaviour you want. Shouldly doesn't do a deep equals on properties

[2015-05-06 20:38] JoeMighty commented on #220
I see, I didn't know that. I'm relatively new to C# so this at the edge of my knowledge.

If this is the case then it sounds like expressions won't suffice; can you point me in the direction of other options that might work?

As I said above - this is the edge of my knowledge but I'm keen to crack this issue and learn in the process.

[2015-05-06 21:44] JakeGinnivan commented on #220
Will get back to you in the morning:)

Sent from my Windows Phone
________________________________
From: JoeMighty<mailto:notifications@github.com>
Sent: ‎06/‎05/‎2015 21:38
To: shouldly/shouldly<mailto:shouldly@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [shouldly] Should.NotThrow message generator (#220)

I see, I didn't know that. I'm relatively new to C# so thi

[2015-05-07 01:32] JoeMighty commented on #220
Thanks a lot, that would be appreciated :)

[2015-05-07 07:23] JakeGinnivan commented on #220
Ok, so bit of a brain dump. Expressions in .NET do allow blocks if you build them using the expressions API, but only lambdas can be turned into expression trees, not blocks.

To give you a bit more of an idea of what the Expression type does:

[code]
Expressions cannot be executed, but you can call `.Compile()` which will turn that into a delegate which can be invoked, ie `Expression<Action>.Comp

[2015-05-07 07:23] JakeGinnivan commented on #220
I think 2) is the way to go

[2015-05-07 11:46] PureKrome commented on #236
DO
IT
! :+1:

[2015-05-09 20:21] YogirajA commented on #217
On this

[2015-05-09 20:26] JakeGinnivan commented on #217
:+1:

[2015-05-11 13:27] JoeMighty commented on #184
A pull request (#238) has now been created for this.

[2015-05-12 13:22] JakeGinnivan commented on #41
Done, thanks to @chaitanyagurrapu

[2015-05-12 13:22] #41 closed

[2015-05-12 13:23] #184 closed

[2015-05-12 13:31] #237 closed

[2015-05-12 13:34] JakeGinnivan commented on #236
Sure, why not.

[2015-05-14 04:27] YogirajA commented on #217
@JakeGinnivan

One option is to have methods like below:

       public static Task NotThrowAsync([InstantHandle] Func<Task> action
           , TimeSpan timeoutAfter,
            Func<string> customMessage)
        {
            try
            {
                return action().TimeoutAfter(timeoutAfter);
            }
            catch (TimeoutException)
            {
                throw;

[2015-05-21 22:25] JoeMighty commented on #213
kpstolks initial suggestion is to make the method `action.Throws<T>`, however I feel `action.ShouldThrow<T>` makes more sense as all other Shoudly methods start with the Should prefix.

What are your thoughts?

[2015-05-21 22:27] JoeMighty commented on #213
Also, is there any need to pass the action in as an argument as well? Presumably we can just do:

`action.ShouldThrow<T>()` instead of `action.ShouldThrow<T>(action)`?

[2015-05-25 09:35] kpstolk commented on #213
No, my bad. I've updated the sample code.

[2015-05-25 12:33] JoeMighty commented on #213
Thanks for the clarification. That makes more sense :)

[2015-05-25 12:36] JakeGinnivan commented on #213
This will also have to be in addition to old API. This isn't worth a breaking change

[2015-06-03 13:34] JoeMighty commented on #213
I've been working on this one ([see comparison here](https://github.com/shouldly/shouldly/compare/master...JoeMighty:ShouldThrowExtensions)) and added the necessary extension methods and updated the tests accordingly; however I'm struggling updating the tests for the timeout scenarios `FuncOfTaskWithTimeoutScenario.cs` and `TaskWithTimeoutScenario.cs` that take an additional delegate as an argumen

[2015-06-08 09:32] JakeGinnivan commented on #213
Should be fine, the overload should be

`ShouldThrow<T>(this Task<T> task, Timeout timeout);`

Is that what you mean?

[2015-06-10 02:57] JoeMighty commented on #213
Yes, I realised I'd missed the Timeout overload methods :S I was also having difficulty in converting the tests that pass the task to a `Should.Throw(Action)` but figured it out in the end. Thanks.

Are you happy for me to add the NotThrow extensions under this issue?

[2015-06-10 17:10] JakeGinnivan commented on #213
Yep :)

[2015-06-18 05:26] andymcdowall opened #242 "Dictionary Should/ShouldNot ContainKeyAndValue fails for null values"
If you try and do an assertion against a dictionary key with a null value then Shouldly will throw a NullReferenceException:

[code]

The culprits are the equality checks in `ShouldBeDictionaryTestExtensions`:
[code]

[2015-06-18 05:31] andymcdowall commented on #242
Pull request #243 created for issue

[2015-06-18 07:34] #242 closed

[2015-06-19 18:57] mcbelton opened #244 "Add ShouldBe Case insensitive Enumerable<string> comparision"

[2015-06-20 07:52] jamesmiles opened #245 "Idea: ShouldBeLike"
Have you considered support for dynamic "matching" using anonymous types?

// Given a customer named Homer
var customer = new Customer{ Name = "Homer", Age = 42};

// Their should be a name field with "Homer" in it.
customer.ShouldBeLike(new { Name = "Homer" });

This would be particularly useful in asserting all objects in a list (not necessarily sharing a common type of interface) meet some crit

[2015-06-20 08:22] JakeGinnivan commented on #245
That would be awesome. Fluent assertions has had this feature for ages

http://www.continuousimprover.com/2012/09/asserting-object-graph-equivalence.html

Could get some inspiration of the API and implementation from there

[2015-06-21 07:58] jamesmiles commented on #245
ExpectedObjects does a similar thing, however I'd prefer to see this in Shouldly as the messages are way better.

https://github.com/derekgreer/expectedObjects

[2015-06-21 09:42] JakeGinnivan commented on #245
As for API and behavior.

1) Do we fail if properties are not defined on expected?
   a) Can it be overridden by options?
2) What other options do we need?
3) Should the enumerable overload take an object or object[] as the expected
  a) If it takes an object we could use a single object to verify all actual, useful for trait checking?
  b) Or we could have another method `ShouldAllBeLike` which c

[2015-06-22 02:29] jamesmiles commented on #245
In the case that an anonymous type is provided as the "expected object", I think the default behaviour should be to ignore fields that are not explicitly referred to. There may be a case to optionally override this behaviour, however you could argue that to achieve this, one must provide any non-anonymous object as an argument, at which point all fields are statically known / verified to be there,

[2015-06-22 08:09] jamesmiles opened #247 "There seems to be a problem formatting assertion failure messages"
Is it something to do with my testing having multiple .ShouldXX() calls or just a random bug?

        [Fact]
        public void TaskProcessCanBeInitialized()
        {
            s.When(FakeContractScenarios.ALoanContractIsCreated(contractId));

            var scenario = s.Scenario.OfType<SimulatedEvent>().Select(x => x.Event).OfType<FakeContractScenarios.FakeContractCreatedEvent>().Single();

[2015-06-22 08:12] JakeGinnivan commented on #247
Do you want multiple failures to be grouped? If so you can use

[code]

Can you put a code fence around that exception, it's not formatted properly so maybe I can't see the issue?

[2015-06-22 14:14] JakeGinnivan opened #248 "ShouldBe(True|False|Null)"
From a NuGet contact us request, it was suggested we add ShouldBe(True|False|Null) as convenience methods.

What are peoples thoughts, it would mean:

[code]

Would people find these useful, does it improve the readability?

My initial reaction is I like the null one, not so keen on the true/false ones.

[2015-06-22 14:21] Moily commented on #248
My thoughts, as the original requestor for this... (thanks for pointing me here, Jake)

The requirement for these useful shortcuts comes from using similar constructs in production code. Once you start using .ShouldBeTrue(), .ShouldBeFalse, .ShouldBeNull(), .ShouldNotBeNull() it does slim down the assertion code and improve readability, imo.

I'm not convinced we would need .ShouldNotBeTrue() and

[2015-06-22 14:33] JakeGinnivan commented on #248
If we separate this into two different items

1) Add `ShouldBeNull()` and `ShouldNotBeNull()`
2) Add `ShouldBeTrue()` and `ShouldBeFalse()`

I vote for lets add 1, lets not add 2. The thing is, all these examples are the same number of characters.

If you submit a PR for the null overloads I am happy to merge. I would like more feedback from other users for 2 first

[2015-06-22 14:36] JoeMighty commented on #248
I kind of like the idea of ShouldBe(true|fase) and can see the value in it (changing value at runtime for test cases for instance). Out of interest, what is your reasoning against 2 that does not apply to 1?

[2015-06-22 15:15] Moily commented on #248
You are right in that it's the same number of characters, so we're not actually slimming down the code as such. Perhaps the readability is down to what we've been used to seeing, i.e

`someVar.ShouldBeNull();`

seems (subjectively) more correct than

`someVar.ShouldBe(null);`

in that null is usually a specialised state over a given instance to compare against.

Likewise .ShouldNotBeNull() is a go

[2015-06-22 15:18] JakeGinnivan commented on #248
The reason I am happy for the null case is I don't see null as a value. It's a state, or a lack of a value.

On the other hand, true/false are values and I see them just like I see a string value or some other value?

[2015-06-22 15:20] JakeGinnivan commented on #248
That is my intiial gut reaction. I am not against us adding it if the majority thing the ShouldBeTrue/False add value

[2015-06-22 15:49] Moily commented on #248
Agreed that the bool values are just values but again they can be seen as states, hence the usefulness of having strongly-typed methods for them rather than relying on the instance type of the argument being passed into .ShouldBe()

Also it enables Code Completion to save typing out the full .ShouldBe(true|false) !

[2015-06-22 15:55] JakeGinnivan commented on #248
Are you able to submit a pull request? :)

[2015-06-22 16:03] Moily commented on #248
Sure, I can do one for each case (your #1 and #2), if you want to decide which to take at a later date?

[2015-06-22 16:06] JakeGinnivan commented on #248
Sounds good. Having a quick look most other frameworks have true/false methods. So if you submit both separately I will merge both

[2015-06-23 02:01] jamesmiles commented on #247
The bug is that there should simply be a new line here and there isn't.

Shouldly.ShouldAssertExceptionprocess*[\N]*Event.Alarms[0].DueAt

[2015-06-23 02:08] jamesmiles commented on #245
Jake,

Let us know if you want us to develop this or if it is something you want to do "on the plane". We're happy either way but we don't want to duplicate effort.

Thanks,
James

[2015-06-23 02:09] jamesmiles commented on #180
At what point would assertion failures be thrown in this model?

[2015-06-23 05:02] brendanconnolly commented on #244
I'm looking to jump-in, just to clarify is this that an enumerable contains a string ex. enumerable.ShouldContainIgnoringCase("expected")

or is it comparing two enumerables?  ex. enumerable.ShouldContainIgnoringCase({"yes","no","maybe"})

or a different case. Either way I'm happy to implement

[2015-06-23 06:27] JakeGinnivan commented on #245
Happy for you to do it.

Sent from my Windows Phone
________________________________
From: James Miles<mailto:notifications@github.com>
Sent: ‎23/‎06/‎2015 03:08
To: shouldly/shouldly<mailto:shouldly@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [shouldly] Idea: ShouldBeLike (#245)

Jake,

Let us know if you want us to develop this or if it is something you want to d

[2015-06-23 06:50] mcbelton commented on #244
Incase of string collection can we have Case enum as argument for ShouldBe method. Default can be Case.Sensitive.

[2015-06-23 07:39] asgerhallas commented on #105
Sorry for the late reply. Thanks for the fix, I wish I had the time to help out more!

[2015-06-23 08:27] JakeGinnivan commented on #180
Thinking about this, it is something I don't think we need. I think being explicit is better.

This works right now and is not much extra code and is pretty understandable
[code]

We also have `ShouldSatisfyAllConditions()` for having multiple asserts against a single object.

[code]

[2015-06-23 08:27] #180 closed

[2015-06-23 08:30] asgerhallas commented on #180
I think you're right. And thanks for pointing me towards ShouldSatisfyAllConditions(), I hadn't seen that.

[2015-06-23 08:30] JakeGinnivan commented on #180
It was only added recently, maybe after this issue was actually created. Alternate way to solve the same issue :)

[2015-06-23 08:34] asgerhallas commented on #180
And a much cleaner way than my original suggestion :)

[2015-06-23 08:42] JakeGinnivan commented on #244
Yeah, so we need to add:

[code]

[2015-06-23 08:43] JakeGinnivan commented on #244
The defaulted case is already taken care of with current `ShouldBe` implementation

[2015-06-23 18:23] mcbelton commented on #244
yes that's right. However, if can enable this part of ShouldBe would be nice rather than having separate method with different name.

[2015-06-25 13:47] JoeMighty commented on #213
Hoping to have this one finished in the next few days!

[2015-06-25 19:49] JakeGinnivan commented on #244
Yep, they are just additional overloads

[2015-06-30 03:45] JoeMighty commented on #213
A PR (249) has now been created for this.

[2015-07-01 12:31] JoeMighty commented on #248
How are you getting on with this one @Moily? I've got some spare time and happy to pick some of this up if you like?

[2015-07-04 11:18] Moily commented on #248
Hi Joe,

Apologies but work and a tricky house move has meant I won't be able to get
round to this for a few weeks or so.

Happy to let you pick up anything you like, if you're ok with that.

Regards,

Rhys

On Wednesday, 1 July 2015, JoeMighty <notifications@github.com> wrote:

[2015-07-08 19:53] JulienFiaffe commented on #244
I don't know if this issue is still relevant since it has not been updated for a while.
Yet I forked the project and I made an implementation for it.
I can submit a PR if needed for a review.

[2015-07-14 13:48] petemounce opened #253 "If ShouldContain assertion fails, log the contents of the collection"
Currently, if a `collection.ShouldContain(/* predicate */)` assertion fails, I get an error message like
[code]
- it has written out the condition.

It would be really helpful if, before writing out the condition, it also wrote out the contents of the collection (which I admit might be a stupid idea if it has thousands of items in it, but mostly I don't work with such collections ;-) ), crucially,

[2015-07-15 08:40] Moily commented on #248
Finding spare time is tricky at the moment but I can look at it in a couple of weeks, unless anyone else wants to get there first?

[2015-07-15 09:37] JoeMighty commented on #248
I'm happy to take a look. I saw you removed your original post so presumed you'd found some time to work on it :)

[2015-07-15 14:19] banderror opened #254 "ShouldBe for multidimensional double arrays with tolerance"
Create ShouldBe(expected, tolerance) overload for any multidimensional array of double (double[,], double[,,], etc).

E.g.

[code]

[2015-07-15 14:23] banderror commented on #254
I could try to implement this myself )

[2015-07-16 21:51] JulienFiaffe opened #255 "Should.CompleteIn() displays Task total completion time"
When "playing" with the `Should.CompleteIn()` method I noticed that the error message is something like:

[code]

I wonder if it can be helpful to display the total completion time for the Task under test and having the following kind of error message instead:

[code]

This will allow to see if the difference is important or not, to distinguish massive time increase from small ones.

I understand

[2015-07-16 23:20] JoeMighty commented on #255
Sounds like a good idea to me. Interested to hear everyone else's thoughts on this.

[2015-07-17 03:59] natiki opened #256 "Unexpected exception ShouldAssertException while testing string extension method..."
Hi,

- VS 2013, .NET 4.51
- Shouldly 2.5.0

It goes without saying that Shouldly is GREAT ;-). I have however run into an issue which while I am not certain is a Shouldly issue I cannot seem to work out why this is happening.

I have the following string extension method IsLike() that I am writing some unit tests for:

[code]

and finally my unit test:

[code]

Notice the last test for **IsLike("/

[2015-07-17 05:44] JakeGinnivan commented on #256
Just had a quick look. The one which you say doesn't throw does seem to be throwing

![image](https://cloud.githubusercontent.com/assets/453152/8741343/c969a7a6-2c89-11e5-8784-180646b6ef11.png)

If you remove the `n` on admin it works. so `"/admin".IsLike("/admi*").ShouldBe(true);` works. I think the `IsLike` function is not working the way you expect it to?

[2015-07-17 06:56] natiki commented on #256
Hi Jake,

Appreciate you getting back to me so quickly.

My bad,,, please ignore lines 18 & 19 in your screenshot. Those were other tests that are confusing the issue. I agree that IsLike() may not be working. What I am trying to understand however is why line 22 does not generate an exception and 23 does considering they are being passed the exact same parameters?

The IsLike() is not throwing th

[2015-07-17 07:03] JakeGinnivan commented on #256
In my screenshot above line 22 is throwing an exception. For me both throw. When the first throughs the test stops executing, so I need to change the order of those to see them both failing. But for me both 22 and 23 generate exceptions

[2015-07-17 07:07] natiki commented on #256
Hi Jake,

Appreciate you getting back to me so quickly.

I concur and see the same behaviour. I may have misread things... :-( When running NUnit in debug mode using Resharper test runner the Shouldly.ShouldAssertException() is always raised when a test fails? Is that correct?

Without changing the IsLike() implementation I did two runs, using each one:

![image](https://cloud.githubusercontent.co

[2015-07-17 07:13] JakeGinnivan commented on #256
Yeah, so shouldly just throws an exception when it fails. This will cause the test to stop executing and the test fail immediately (and the rest of the test will not be executed).

If you want multiple asserts to run and get a summary of which fails then you can use `ShouldSatisfyAllConditions`. See http://docs.shouldly-lib.net/docs/shouldsatisfyallconditions

[2015-07-18 04:27] natiki commented on #256
Hi Jake,

Thanks for the pointer and apologies for misunderstanding the cause of the exception.

[2015-07-18 04:27] #256 closed

[2015-07-18 06:44] JakeGinnivan commented on #256
No probe, happy to help

Sent from my Windows Phone
________________________________
From: Donovan Edye<mailto:notifications@github.com>
Sent: ‎18/‎07/‎2015 12:27 PM
To: shouldly/shouldly<mailto:shouldly@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [shouldly] Unexpected exception ShouldAssertException while testing string extension method... (#256)

Hi Jake,

Thanks

[2015-07-21 01:29] JoeMighty commented on #248
ShouldBeTrue/False extensions have been committed (#258)

[2015-08-12 08:52] yannisgu commented on #220
@JakeGinnivan how do you thought to read the source code? With CallerFilePathAttribute  and CallerLineNumberAttribute and then read the file with System.IO? Or is there any better way to get the source code which called a method?

[2015-08-12 08:54] yannisgu commented on #213
This can be closed, or not?

[2015-08-12 08:58] yannisgu commented on #170
Fixed in #173 or is there a way to "better" fallback?

[2015-08-12 09:02] yannisgu commented on #153
Fixed in #226 and #218?

[2015-08-12 09:35] JakeGinnivan commented on #220
We get the source information from the stackframes. Basically we walk until we find a stackframe which type does not have the [ShouldlyMethod] attribute. The code to read the source is all in place, it is just pulling it apart to get the correct bits of source out of the lambdas

[2015-08-12 09:35] JakeGinnivan commented on #213
Yep!

[2015-08-12 09:35] #213 closed

[2015-08-12 09:38] JakeGinnivan commented on #170
I am actually unsure.. Need to test and make sure it is fixed

[2015-08-12 09:38] JakeGinnivan commented on #170
I think it is all fixed though

[2015-08-12 09:39] JakeGinnivan commented on #153
So it is

[2015-08-12 09:39] #153 closed

[2015-08-17 08:26] JakeGinnivan commented on #248
Closed by #258

[2015-08-17 08:26] #248 closed

[2015-08-19 01:03] JakeGinnivan commented on #255
CompleteIn is one of those things which are there for some cases where you are testing code which could timeout. Since adding this I have been reading more about xUnits thoughts around this and why [Timeout] was removed. Timing is something which is not good to test as it is not absolute, different execution times due to many factors could cause false positives.

This is an example of why it could

[2015-08-19 02:01] JakeGinnivan opened #260 "Remove ShouldThrow/ShouldNotThrow?"
Based on the work around improving ShouldThrow/ShouldNotThrow I am wondering if we should follow xUnit and remove them. This is a discussion, not a plan. I am still on the fence but all the examples I come up with if I think about it more I normally can think of a better test.

See discussion at https://github.com/xunit/xunit/issues/188

Here are some examples of using ShouldThrow and what it coul

[2015-08-20 13:10] JoeMighty commented on #260
Personally I'm in favour of keeping it. I like the explicitness of it. [Suraj's comment](https://github.com/xunit/xunit/issues/188#issuecomment-86621058) echos my feelings about it (just without the sarcasm).

Whilst we haven't used it loads, there are instances where it has been used - one being when writing tests against an asmx webservice where mocking the internals wasn't an option and custom

[2015-08-22 09:29] #220 closed

[2015-08-22 09:33] #211 closed

[2015-08-24 16:15] JulienFiaffe commented on #255
I do not have any particular scenario for this case at the moment.
I was just wondering if it could be helpful, to detect massive loss of performance on a given method.
But I agree with you regarding the fact that testing execution time can cause false positives.

[2015-08-24 20:25] mudnug opened #262 "Debug vs Release mode verbage"
I'm seeing Shouldly.ShouldAssertException shows "The provided expression" instead of a more specific identifier when we are running tests in release mode. For example:

    The provided expression
        should be
    5
        but was
    4

I expect this would happen if Shouldly is using reflection to determine what the identifier should be (and the compiler has rearranged the code when compili

[2015-08-24 23:23] chaitanyagurrapu commented on #262
Similar discussion previously here -> https://github.com/shouldly/shouldly/issues/234

It needs the symbol information via the pdbs.

Hope it helps.

[2015-08-25 00:50] JakeGinnivan opened #263 "Show warning message when source not available"
Shouldly drops back to a generic message `The provided expression` instead of showing the source code. We should put a message above the error message saying `Shouldly uses your source code to generate it's great error messages, build your test project with full debug information to get better error messages`

See #262 and #234 for context of why we need this.

[2015-08-25 00:50] #262 closed

[2015-08-25 17:34] mudnug commented on #262
The pdb is available. Is the linked item saying the source has to be located somewhere, too?

[2015-08-25 23:25] JakeGinnivan commented on #262
Yeah, the PDB with full source information *and* the source must be available for Shouldly to give it's error messages

[2015-08-26 01:01] mudnug commented on #262
I'm not sure I understand how to set that up. Where should the source be located?

[2015-08-26 01:11] JakeGinnivan commented on #262
You should be able to just build and run the tests, as long as you have full debug info in the pdb then it will work fine.

[2015-08-26 01:16] mudnug commented on #262
We were able to do that, but when the build server builds and deploys the tests the runs show the more generic messaging.

[2015-08-26 01:22] JakeGinnivan commented on #262
Do you build and run the tests in place, or are they run in another location to where they are build (i.e two separate builds)

[2015-08-26 03:16] mudnug commented on #262
They run in a separate location. Does that mean the source has to be copied to the same location where it would have been on the build server?

[2015-08-26 03:22] JakeGinnivan commented on #262
Yes, or run the tests in the same build as when the artifacts are built.

Without the source the aim is shouldly gives about the same amount of information than other framework. i.e nUnit `Expected 5 but was 4`. With the source it can provide much more information than other frameworks.

[2015-08-26 03:25] mudnug commented on #262
Ok. That wasn't initially clear (I thought it might use reflection or AOP or some other technique). Thanks for the help.

[2015-08-26 03:29] JakeGinnivan commented on #262
Will have a think how we can make this information more easily available. Reflection doesn't have enough information to do what we do unfortunately.

[2015-08-26 15:07] mudnug commented on #262
One option might involve the use of the C# 6 nameof keyword

[2015-09-01 05:09] AmadeusW opened #265 "Nuget package has incorrect tags"
The tags contain `shoulda` (a typo?) and duplicate `testing`

![screenshot](https://i.gyazo.com/dd675365b064344747d64730dfc46d65.png)

I should be able to find this package on NuGet by searching for `should`.

[2015-09-02 05:57] natiki opened #267 "ShouldContain() fails when the item is in the list?"
Hi,

Why does the following fail? The item is in the list. I am assuming I have a comparison issue here where the object contents are not being compared but rather the references to the list items. If so how should you check for the existence of an item within the list that has identical values?

![image](https://cloud.githubusercontent.com/assets/4738140/9623942/2c170e5e-518b-11e5-9af9-632e46970a

[2015-09-02 06:02] JakeGinnivan commented on #267
We have an open issue to add object graph equality checking at #245. To make this work you need to override the `.Equals` method on `RegionItem` so it does a value comparison not a reference comparison.

[2015-09-02 23:07] #265 closed

[2015-09-04 07:37] JoeMighty commented on #244
This feature has now been added; thanks @JulienFiaffe for the PR and to @mcbelton for the enhancement suggestion.

[2015-09-04 07:37] #244 closed

[2015-09-06 06:18] #267 closed

[2015-09-06 06:18] #260 closed

[2015-09-06 14:02] #263 closed

[2015-09-07 22:20] natiki commented on #267
Thanks. Look forward to #245 but this works fine for now.

[2015-09-14 05:30] natiki opened #268 "Is there a "summarized" change log...."
Hi,

Noticed that 2.6.0 has made it out the door. WooHoo. More nice free stuff to play with. Now while I could go and read all the issues covered in this release (and I did), I was wondering if there was a summarized change log that might just give a brief intro/discussion to some of the cool features that appear to be in this release like #233 or similair? I would hate to think I missed out on so

[2015-09-14 05:37] JakeGinnivan commented on #268
There isn't, I am working on another project GitReleaseNotes which will make this sort of thing easier. I plan on moving the docs again to make this better, so watch that space (hopefully next week or two).

[2015-09-14 07:00] natiki commented on #268
Cool. Will close this for now and watch for the magic to happen.

[2015-09-14 07:00] #268 closed

[2015-09-16 14:55] AlexKeySmith opened #269 "Megazord FluentAssertions assertions with Shouldly"
It would be fantastic to have all the assertions available in FluentAssertions like number of items in the collection etc. But have the absolutely awesome output messages that shouldly provides.

I'm hoping for some sort of power ranger style / "megazord"-esque combination...

![illustration of combining powers](http://stream1.gifsoup.com/view1/3848027/ninja-megazord-o.gif)

Yes, I realize this is

[2015-09-17 04:39] JakeGinnivan commented on #269
Hey @AlexKeySmith

Lets create an issue for each of the missing ones, describing the API and the error messages it should produce. Once the issues are created I can mark them as up for grabs and anyone can jump in and add them one at a time.

Did you want to make a start on some of the missing assertions?

[2015-09-17 06:42] #269 closed

[2015-09-17 10:05] AlexKeySmith commented on #269
Thanks for the comment @JakeGinnivan I'll try to help out if I get a spare moment.

Keep up the great work :-)

[2015-09-18 13:16] JoeMighty opened #270 "New Assertion: ShouldCount"
Following on from the [recent dicussion](https://github.com/shouldly/shouldly/issues/269) about adding more assertions, one I feel would be beneficial is `ShouldHaveCount` or `ShouldCount` (still undecided on which seems best).

Users can currently check to see if a collection is empty using `new int[0].ShouldBeEmpty(); but it would be great if they could check to see how many items are in the col

[2015-09-25 19:29] ceregador opened #271 "Implement ShouldHaveValue() and ShouldNotHaveValue() for nullable numeric types"
See https://github.com/shouldly/shouldly/issues/269

ShouldHaveValue():
Asserts that a nullable numeric value is not null.

ShouldNotHaveValue():
Asserts that a nullable numeric value is null.

[2015-09-25 19:35] ceregador opened #272 "Implement ShouldHaveFlag() and ShouldNotHaveFlag() for enums decorated with [Flags] attribute"
See #269

ShouldHaveFlag(Enum expectedFlag):
Asserts that an object is an enum and has a specified flag

ShouldNotHaveFlag(Enum expectedFlag):
Asserts that an object is an enum and does not have a specified flag

[2015-09-25 19:40] ceregador opened #273 "Implement ShouldBePositive() and ShouldBeNegative() for numeric types with sign"
See #269

ShouldBeNegative():
Asserts that the numeric value is less than zero.

ShouldBePositive():
Asserts that the numeric value is greater than or equal to zero.

[2015-09-26 01:29] JakeGinnivan commented on #271
We have `ShouldBeNull()` and `ShouldNotBeNull()` for this one

[2015-09-26 01:29] #271 closed

[2015-09-26 01:30] JakeGinnivan commented on #270
Not sure this is more readable over `new[] { 1,2,3 }.Length.ShouldBe(3);` ?

[2015-09-27 22:57] ceregador opened #274 "Implement ShouldBeCloseTo() for DateTime and DateTimeOffset type"
ShouldBeCloseTo(DateTime nearbyTime, int precision = 20)

Asserts that the current dateTime is within the specified number of milliseconds (default = 20 ms) from the specified nearbyTime value.

You can use this assertion when, for example the database truncates datetimes to nearest 20ms.

[2015-09-27 23:04] ceregador opened #275 "Implement ShouldHave[Day, Hour, Minute, Second, Month, Year] for DateTime and DateTimeOffset types"
_ShouldHaveDay(int expected)_
Asserts that the current dateTime has the expected day.

_ShouldHaveHour(int expected)_
Asserts that the current dateTime has the expected hour.

_ShouldHaveMinute(int expected)_
Asserts that the current dateTime has the expected minute.

_ShouldHaveSecond(int expected)_
Asserts that the current dateTime has the expected second.

_ShouldHaveMonth(int expected)_
Assert

[2015-09-27 23:19] ceregador opened #276 "Implement ShouldHaveLength() for strings"
_ShouldHaveLength(int expected)_
Asserts that a string has the specified expected length.

[2015-09-27 23:31] ceregador opened #277 "Impelement ShouldThrowWithInnerException()"
_ShouldThrowWithInnerException`<TException, TInnerException>`()_
Asserts that the thrown exception of type TException contains an inner exception of type TInnerException.

_ShouldThrowWithInnerExceptionExactly`<TException, TInnerException>`()_
Asserts that the thrown exception of type TException contains an inner exception of the exact type TInnerException (and not a derived exception type).

[2015-09-27 23:34] ceregador opened #278 "Implement ShouldThrowWithInnerMessage()"
_ShouldThrowWithInnerMessage`<TException>`(string expectedInnerMessage)_
Asserts that the thrown exception of type TException contains an inner exception with the expectedInnerMessage.

[2015-09-28 21:44] ceregador opened #279 "Implemement ShouldBeInAscendingOrder() and ShouldNotBeAcsendingInOrder() for IEnumerable"
_ShouldBeInAscendingOrder()_
Expects the current collection to have all elements in ascending order. Elements are compared
using their IComparable.CompareTo implementation.

_ShouldNotBeAcsendingInOrder()_
Asserts the current collection does not have all elements in ascending order. Elements are compared
using their IComparable.CompareTo(System.Object) implementation.

[2015-09-28 21:48] ceregador opened #280 "Implemement ShouldBeInOrder(Direction.Ascending|Descending | IComparer) for IEnumerable"
_ShouldBeInDescendingOrder()_
Expects the current collection to have all elements in descending order. Elements are compared using their IComparable.CompareTo(System.Object) implementation.

_ShouldNotBeDescendingInOrder()_
Asserts the current collection does not have all elements in descending order. Elements are compared using their IComparable.CompareTo(System.Object) implementation.

[2015-09-28 21:55] ceregador opened #281 "Implement ShouldStartWith() for IEnumerable"
_ShouldStartWith(object element)_
Asserts that the collection starts with the specified element.

[2015-09-28 21:56] ceregador opened #282 "Implement ShouldEndWith() for IEnumerable"
_ShouldEndWith(object element)_
Asserts that the collection ends with the specified element.

[2015-09-28 21:58] ceregador opened #283 "Implement ShouldHaveElementAt() for IEnumerable"
_ShouldHaveElementAt(int index, object element)_
Asserts that the current collection has the supplied element at the supplied index.

[2015-09-28 22:01] ceregador opened #284 "Implement ShouldHaveElementPreceding() for IEnumerable"
_ShouldHaveElementPreceding(object successor, object expectation)_
Asserts that the expectation element directly precedes the successor element.

[2015-09-28 22:02] ceregador opened #285 "Implement ShouldHaveElementSucceeding() for IEnumerable"
_ShouldHaveElementSucceeding(object predecessor, object expectation)_
Asserts that the expectation element directly succeeds the predecessor element.

[2015-09-28 22:04] ceregador opened #286 "Implement ShouldHaveSameCount() for IEnumerable"
_ShouldHaveSameCount(IEnumerable otherCollection)_
Assert that the current collection has the same number of elements as otherCollection.

[2015-09-28 22:09] ceregador opened #287 "Implement ShouldContainKeys() for Dictionary"
_ShouldContainKeys<TKey>(params TKey[])_
Asserts that the dictionary contains all of the specified keys. Keys are compared using their System.Object.Equals(System.Object) implementation.

[2015-09-28 22:11] ceregador opened #288 "Implement ShouldContainValues() for Dictionary"
_ShouldContainValues<TValue>(params TValue[])_
Asserts that the dictionary contains all of the specified values. Values are compared using their System.Object.Equals(System.Object) implementation.

[2015-09-28 22:18] ceregador opened #289 "Implement ShouldBeBinarySerializable() for Object type"
_ShouldBeBinarySerializable()_
Asserts that an object can be serialized and deserialized using the binary serializer and that it stills retains the values of all members.

[2015-09-28 22:19] ceregador opened #290 "Implement ShouldBeXmlSerializable() for Object type"
_ShouldBeXmlSerializable()_
Asserts that an object can be serialized and deserialized using the XML serializer and that it stills retains the values of all members.

[2015-09-28 22:30] ceregador opened #291 "Implement ShouldBeDecoratedWith() for Type"
_ShouldBeDecoratedWith<TAttribute>()_
Asserts that the current type is decorated with the specified TAttribute.

[2015-09-28 22:32] ceregador opened #292 "Implement ShouldBeDerivedFrom() for Type"
_ShouldBeDerivedFrom<TBaseClass>()_
Asserts that the current type is derived from TBaseClass.

[2015-09-28 22:35] ceregador opened #293 "Implement ShouldHaveAccessModifier() for Type"
_ShouldHaveAccessModifier(AccessModifier accessModifier)_
Asserts that the selected type has the specified C# accessModifier (Public, Private, Protected, Internal,  ProtectedInternal).

[2015-09-28 22:36] ceregador opened #294 "Implement ShouldHaveConstructor() for Type"
_ShouldHaveConstructor(IEnumerable<Type> parameterTypes)_
Asserts that the current type has a constructor with parameter types.

[2015-09-28 22:37] ceregador opened #295 "Implement ShouldHaveDefaultConstructor() for Type"
_ShouldHaveDefaultConstructor()_
Asserts that the current type has a default constructor.

[2015-09-28 22:41] ceregador opened #296 "Implement ShouldHaveExplicitMethod() for Type"
_ShouldHaveExplicitMethod<TInterface>(string name, IEnumerable<Type> parameterTypes)_
Asserts that the current type explicitly implements a method named **name** from interface **TInterface**.

_ShouldNotHaveExplicitMethod<TInterface>(string name, IEnumerable<Type> parameterTypes)_
Asserts that the current type does not explicitly implement a method named **name** from interface **TInterface**.

[2015-09-28 22:43] ceregador opened #297 "Implement ShouldHaveExplicitProperty() for Type"
_ShouldHaveExplicitProperty<TInterface>(string name)_
Asserts that the current type explicitly implements a property named **name** from interface **TInterface**.

_ShouldNotHaveExplicitProperty<TInterface>(string name)_
Asserts that the current type does not explicitly implement a property named **name** from interface **TInterface**.

[2015-09-28 22:46] ceregador opened #298 "Implement ShouldHaveMethod() for Type"
_ShouldHaveMethod(string name, IEnumerable<Type> parameterTypes)_
Asserts that the current type has a method named **name** with parameter types **parameterTypes**.

_ShouldNotHaveMethod(string name, IEnumerable<Type> parameterTypes)_
Asserts that the current type does not expose a method named **name** with parameter types **parameterTypes**.

[2015-09-28 22:48] ceregador opened #299 "Implement ShouldHaveProperty() for Type"
_ShouldHaveProperty<TProperty>(string name)_
Asserts that the current type has a property of type **TProperty** named **name**.

_ShouldNotHaveProperty<TProperty>(string name)_
Asserts that the current type does not have a property of type **TProperty** named **name**.

[2015-09-28 22:50] ceregador opened #300 "Implement ShouldImplement() for Type"
_ShouldImplement<TInterface>()_
Asserts that the current type implements Interface **TInterface**.

_ShouldNotImplement<TInterface>()_
Asserts that the current type does not implement Interface **TInterface**.

[2015-09-29 00:44] JakeGinnivan commented on #277
I think these Throw overloads complicate the API and increases the complexity of the error messages. Think about the error message for this, would have to be something like `... should throw TException with an inner exception which derives from TInnerExeption but threw TException with inner exception type of TOtherException`

Shouldly's API makes an effort not to have multiple possible errors conf

[2015-09-29 00:44] #277 closed

[2015-09-29 00:45] JakeGinnivan commented on #278
See #277 - The same approach should be used but asserting on the InnerException message

[2015-09-29 00:45] #278 closed

[2015-09-29 00:46] JakeGinnivan commented on #292
Already exists: `ShouldBeOfType<T>`

[2015-09-29 00:46] #292 closed

[2015-09-29 00:48] JakeGinnivan commented on #275
I think the API surface area increase is not worth it. `date.ShouldHaveYear(2015)` vs `date.Year.ShouldBe(2015)`

Shouldly has the code before in the exception message so we don't need as many overloads/specific assertions to get the great error messages

[2015-09-29 00:48] #275 closed

[2015-09-29 00:51] JakeGinnivan commented on #300
`ShouldBeOfType<T>()` does the job of this one

[2015-09-29 00:51] #300 closed

[2015-09-29 00:54] JakeGinnivan commented on #273
@ceregador can you include examples of what the exception message would be for all of the issues I mark `Jump-in`.

[2015-09-29 03:49] SurajGupta commented on #292
Is there a way to check that an object is of a derived type and not a base type?  It seems that ShouldByOfType allows both derived and base types?

[2015-09-29 03:51] JakeGinnivan commented on #292
Hrrm, looks like this could be a bug. ShouldBeOfType should be exact type. ShouldBeAssignableTo is the one which allows both

[2015-09-29 04:30] JakeGinnivan opened #301 "Include numeric type shortcut on values in error messages"
For example `0.01m` instead of just `0.01` for decimal type.

List is:

* F:  float
* D:  double
* U:  uint
* L:  long
* UL: ulong
* M:  decimal

[2015-09-29 04:35] JakeGinnivan opened #302 "string.ShouldBeIgnoringLineEndings(string)"
Line endings can sometimes be a pain, environmental factors can mean sometimes \r\n is used, others just \n. When doing string assertions we should be able to just ignore line endings.

[2015-09-29 04:42] JakeGinnivan commented on #294
This is a general response to all of the reflection based assertions. .NET is a typed language as such all of these assertions can be verified by simply calling them in a test.

Want to make sure a specific ctor exists, call it in a test. The compiler will tell you if it doesn't exist. For dynamic we have the `DynamicShould` class, but you cannot new up a dynamic class so the constructor ones are

[2015-09-29 04:42] #294 closed

[2015-09-29 04:43] JakeGinnivan commented on #299
https://github.com/shouldly/shouldly/issues/294#issuecomment-143942503

Also this exists on `DynamicShould`

[2015-09-29 04:43] #299 closed

[2015-09-29 04:43] JakeGinnivan commented on #297
See https://github.com/shouldly/shouldly/issues/294#issuecomment-143942503

[2015-09-29 04:43] #297 closed

[2015-09-29 04:44] JakeGinnivan commented on #296
See https://github.com/shouldly/shouldly/issues/294#issuecomment-143942503

[2015-09-29 04:44] #296 closed

[2015-09-29 04:44] JakeGinnivan commented on #298
See https://github.com/shouldly/shouldly/issues/294#issuecomment-143942503

[2015-09-29 04:44] #298 closed

[2015-09-29 04:44] JakeGinnivan commented on #293
See https://github.com/shouldly/shouldly/issues/294#issuecomment-143942503

[2015-09-29 04:44] #293 closed

[2015-09-29 04:44] JakeGinnivan commented on #295
See https://github.com/shouldly/shouldly/issues/294#issuecomment-143942503

[2015-09-29 04:44] #295 closed

[2015-09-29 04:46] JakeGinnivan commented on #274
We already have `.ShouldBe(date, TimeSpan tolerance)`

[2015-09-29 04:46] #274 closed

[2015-09-29 04:46] JakeGinnivan commented on #272
Could you add an example of the idea error message for this

[2015-09-29 04:47] JakeGinnivan commented on #287
This can be `dictionary.Keys.ShouldContain(...)`. Not worth the additional API surface area

[2015-09-29 04:47] #287 closed

[2015-09-29 04:50] JakeGinnivan commented on #283
I think using linq for this scenario is simpler and keeps the complexity of shouldly down. `enumerable.ElementAt(1).ShouldBe(...)`

The only reason I can see to keep this is that `.ElementAt(1)` may not be the best error message. Thoughts @JoeMighty

[2015-09-29 05:08] JakeGinnivan commented on #288
`dictionary.Values.ShouldContain(...)` does the job and will result in just as good error message

[2015-09-29 05:08] #288 closed

[2015-09-29 05:14] JakeGinnivan commented on #280
Convince me that this is better than `enumerable.OrderBy(_ => _).ShouldBe(enumerable)` or `enumerable.OrderByDescending(_ => _).ShouldBe(enumerable)`. Especially as we need to add overloads to allow to compare using a different key?

[2015-09-29 05:31] JakeGinnivan commented on #279
See discussion in #280. Closing as I don't think the additional overloads are worth it.

Feel free to post in this thread or the other to continue the conversation

[2015-09-29 05:31] #279 closed

[2015-09-29 05:40] JakeGinnivan opened #303 "Improve timespan error message"
[code]

## Current

timeSpan
   should be within
01:00:00
    of
02:06:00
    but was
01:00:00
[code]

[2015-09-29 06:16] JakeGinnivan opened #304 "Improve ShouldNotBe error message"
[code]

## Current

theSimpsonsCat.Name
    should not be
"Santas little helper"
    but was
"Santas little helper"
[code]

[2015-09-29 06:20] dennisroche commented on #303
Perhaps including the tolerance in the difference would make it more readable.

[2015-09-29 06:26] JakeGinnivan opened #305 "Numeric ShouldNotBe(TNumeric, tolerance) overload is missing"
The inverse of the decimal/double/float with tolerance does not exist.

[2015-09-29 06:27] JakeGinnivan opened #306 "DateTime ShouldNotBe with tolerance overloads missing"
i.e. `DateTime.Now.ShouldNotBe(DateTime.Now, TimeSpan.FromSeconds(1))`

[2015-09-29 06:29] JakeGinnivan opened #307 "Timespan ShouldNotBe with tolerance overloads missing"
i.e. `TimeSpan.FromSeconds(1).ShouldNotBe(TimeSpan.FromSeconds(2), TimeSpan.FromSeconds(1))` // Should fail

[2015-09-29 06:37] JakeGinnivan opened #308 "Migrate docs to readthedocs.org"
What needs to be done, post here if you are picking up a topic. I will put your name next to the task, please try and submit a pull request soon after so the task does not get blocked. If you cannot complete your task, let me know and I can remove you!

Current docs are at http://docs.shouldly-lib.net/v2.4.0 - some docs are missing, others out of date. Once the section has been created in the new

[2015-09-29 06:40] JakeGinnivan opened #309 "ShouldBe with tolerance message has wrong indenting"
The values are more indented than the text, it should be the other way around.

Current:
[code]

[2015-09-29 06:41] #309 closed

[2015-09-29 07:10] JakeGinnivan opened #310 "ShouldBeOneOf missing context overloads"
Currently there is only

`public static void ShouldBeOneOf<T>(this T actual, params T[] expected) { }`

It needs:

`public static void ShouldBeOneOf<T>(this T actual, string customMessage, params T[] expected) { }`
and
`public static void ShouldBeOneOf<T>(this T actual, Func<string> customMessage, params T[] expected) { }`

[2015-09-29 07:14] JakeGinnivan opened #311 "ShouldBeInRange is missing additional information overloads"

[2015-09-29 07:39] JakeGinnivan opened #312 "ShouldNotMatch method"
For matching regex's, the inverse overload is missing. See `ShouldMatch`

[2015-09-29 07:49] JakeGinnivan commented on #311
Was looking at an old version of the API

[2015-09-29 07:49] #311 closed

[2015-09-29 08:32] #305 closed

[2015-09-29 08:32] #306 closed

[2015-09-29 08:32] #307 closed

[2015-09-29 08:38] JakeGinnivan commented on #291
`ShouldHaveAttribute` might be a better name for this one. But it doesn't cover methods or properties. I am unsure if we want Shouldly to go down the reflection road. I would prefer just using `type.GetCustomAttribute<T>().ShouldNotBeNull()` which is quite readable and will still give a good exception message

[2015-09-29 08:39] #310 closed

[2015-09-29 08:40] JakeGinnivan commented on #282
Linq is pretty powerful, I don't think we should try and replace it.

`enumerable.LastOrDefault().ShouldBe(element)` will be just as good.

[2015-09-29 08:41] JakeGinnivan commented on #283
Actually, using `ElementAtOrDefault` will stop any exception which Linq would throw. So I don't think we need this. Feel free to disagree but closing unless we decide differently

[2015-09-29 08:41] #283 closed

[2015-09-29 08:46] JakeGinnivan commented on #281
Can be achieved via linq. `enumerable.FirstOrDefault().ShouldBe(element)`

[2015-09-29 08:47] JoeMighty commented on #283
I'm in agreement with you. I think adding these additional methods (that would hide what is essentially a simply linq query to perform the same test) won't bring any real value and just add a lot of unnecessary noise to the API.

[2015-09-29 08:47] JakeGinnivan commented on #280
Going to close for the moment. Don't think the work is worth it and nobody has asked for it

[2015-09-29 08:49] JakeGinnivan commented on #276
Shouldly does not need methods like this, because it uses your code in exception messages `str.Length.ShouldBe(5)` will give just as good exception message as above.

[2015-09-29 08:49] #276 closed

[2015-09-29 08:50] JakeGinnivan commented on #140
Just thinking about this. We should have called it `ShouldNotHaveDuplicates` which would have been an easier to read name. Oh well

[2015-09-29 08:50] #140 closed

[2015-09-29 13:41] SurajGupta commented on #280
@JakeGinnivan - diagree with your assessment here.  The LINQ/lambda method is far less readable than ShouldBeInAscendingOrder.  For other bugs like length of string, str.Length.ShouldBe(x) makes sense because its highly readable.  The difference is in the operation.  What you're saying is "when I apply an orderby operation on an enumerable it should be equal to this other enumerable"  versus says

[2015-09-29 13:42] SurajGupta commented on #279
same comment here: https://github.com/shouldly/shouldly/issues/280

[2015-09-29 13:43] SurajGupta commented on #281
ShouldStartWith is far more readable than the current solution.  Same comment as here: https://github.com/shouldly/shouldly/issues/280

[2015-09-29 13:43] SurajGupta commented on #282
ShouldEndWith is far more readable than the current solution.  Same comment as here: https://github.com/shouldly/shouldly/issues/280

[2015-09-29 13:43] SurajGupta commented on #283
agree in this case - the existing solution is no less readable

[2015-09-29 13:44] SurajGupta commented on #291
ShouldBeDecoratedWith is far more readable than the current solution.  Same comment as here: https://github.com/shouldly/shouldly/issues/280

[2015-09-29 15:39] JakeGinnivan commented on #280
I was on the fence on this one, which is why I asked to be convinced. Fluent assertions has the benefit of a fluent interface which can chain different types of exceptions off extension points so you don't get lost heaps of extension methods. ShouldBeNull(), ShouldBeTrue and ShouldBeFalse were all added after initial push back from me, I think justifying extensions needs to happen. Could you add e

[2015-09-29 15:41] JakeGinnivan commented on #286
See discussion at #270. Lets continue there as these are both along the same lines

[2015-09-29 15:41] #286 closed

[2015-09-29 15:45] JakeGinnivan commented on #284
I find this and #285 are not that clear, the steps it is trying to explain in a short method name is, find the index of this item, find the previous item then make sure it matches another.

This means we need to have different error messages for if we are asserting against the first item in the list as well, if the item does not exist in the list *and* that the next element actually matches. It is

[2015-09-29 15:45] #285 closed

[2015-09-29 15:46] #177 closed

[2015-09-29 15:47] JakeGinnivan commented on #177
Replaced by #308

[2015-09-29 15:49] JakeGinnivan commented on #289
Would this do a deep comparison if the objects or simply call .Equals? Currently we don't have anything like that, maybe `ShouldBeDeepEqual()` then something like this could be built on top of it.

[2015-09-29 16:00] JakeGinnivan commented on #290
See discussion in #289

[2015-09-29 16:00] #290 closed

[2015-09-29 16:49] JoeMighty commented on #308
Sounds good! I'll try and make a start on some of these tonight.

[2015-09-29 21:00] ceregador commented on #289
I dug into the code of FluentAssertionts library and found following description for internal function which compares original and deserialized object:

_Objects are equivalent when both object graphs have equally named properties with the same value, irrespective of the type of those objects. Two properties are also equal if one type can be converted to another and the result is equal.
The type o

[2015-09-29 21:10] ceregador commented on #280
_Example of an error message for ShouldBeInDescendingOrder():_
Expected collection to contain items in descending order, but found {1, 3, 5} where item at index 0 is in wrong order.

_Example of an error message for ShouldNotBeDescendingInOrder():_
Did not expect collection to contain items in descending order, but found {5, 3, 1}.

[2015-09-29 21:13] ceregador commented on #279
_Example of an error message for ShouldBeInAscendingOrder():_
Expected collection to contain items in ascending order, but found {5, 1, 3} where item at index 0 is in wrong order.

_Example of an error message for ShouldNotBeAscendingInOrder():_
Did not expect collection to contain items in ascending order, but found {1, 3, 5}.

[2015-09-29 21:19] ceregador commented on #281
`var collection = new[] {1, 3, 5};`
`collection.ShouldStartWith(3);`

_Example of an error message for ShouldStartWith():_
Expected collection to start with 3, but found 1.

[2015-09-29 21:20] ceregador commented on #282
`var collection = new[] {1, 3, 5};`
`collection.ShouldEndWith(3);`

_Example of an error message for ShouldEndWith():_
Expected collection to end with 3, but found 5.

[2015-09-29 21:25] ceregador commented on #291
`typeof(IEnumerable).ShouldBeDecoratedWith<FlagsAttribute>();`

_Example of an error message for ShouldBeDecoratedWith():_
Expected type System.Collections.IEnumerable to be decorated with System.FlagsAttribute, but the attribute was not found.

[2015-09-29 21:28] ceregador commented on #273
_Example of an error message for ShouldBePositive():_
Expected positive value, but found -5

_Example of an error message for ShouldBeNegative():_
Expected negative value, but found 5

[2015-09-29 21:42] SurajGupta commented on #284
I think we should close this out.  It's confusing and probably low-value-add.

[2015-09-29 21:44] SurajGupta commented on #289
I'm on the fence about the utility of this one.  I wouldn't object if you closed it out.

[2015-09-30 03:42] JoeMighty commented on #284
Agreed. I certainly can't think of any use case.

[2015-09-30 03:42] #284 closed

[2015-09-30 04:45] JakeGinnivan commented on #280
When would you ever actually want `ShouldNotBeDescendingInOrder`?

Also, those exceptions are not shouldly exceptions. They don't take advantage of having the source available and don't match the format we have

[2015-09-30 12:58] SurajGupta commented on #280
I think ShouldNotBeDescendingInOrder is a corner case, the first one is probably far more useful.  I didn't understand your point about not having the "source" available?

[2015-09-30 16:51] enkafan commented on #308
What are your thoughts about using a sample project to illustrate the code samples, and then bring in the code samples into the docs via Sphinx's `literalinclude` functionality?

You can see this in action on the ASP.NET docs

Source - https://raw.githubusercontent.com/aspnet/Docs/master/aspnet/tutorials/your-first-aspnet-application.rst
In Action - http://aspnet.readthedocs.org/en/latest/tutorial

[2015-10-01 01:04] JakeGinnivan commented on #308
Hey @enkafan

That sounds pretty cool actually. I don't mind switching to rst, I haven't used it myself but if you wanted to submit a PR which switches it I am happy to go down that road. I don't think it will be a blocker to contributing as there are examples to follow.

[2015-10-01 14:34] enkafan commented on #308
Issued a pull request (#316) with a quick redo to Sphinx. I included a contributing page pulled from the ASP.NET groups contributing page to include steps on running sphinx on your local box plus the style guidelines they recommend.

[2015-10-02 12:57] cmatskas commented on #273
Hi guys, I may as well take this one on in favor of #Hacktoberfest, if you're happy with it...Do you have a label for assigned tasks?

[2015-10-02 13:17] JoeMighty commented on #273
Hey @cmatskas; of course! The more help the better. #Hacktoberfest certainly seems like a great idea doesn't it.

As for assigned tasks, we don't have any labels for assigned tasks, just add a comment to let everyone know that you're working on it.

This is quite a new task so the error message that should be generated hasn't been finalised just yet, but I imagine it would be something like below

[2015-10-02 13:20] cmatskas commented on #304
Are we sure that we want the error message to terminate at "but was"?. Is not "TheSimpsonsCat.Name should not be 'Santas little helper'?. Just a thought

[2015-10-02 13:22] JakeGinnivan commented on #304
If ShouldNotBe fails it means expected and actual are the same, so will always repeat

Sent from my Windows Phone
________________________________
From: Christos Matskas<mailto:notifications@github.com>
Sent: ‎2/‎10/‎2015 9:20 PM
To: shouldly/shouldly<mailto:shouldly@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [shouldly] Improve ShouldNotBe error message (#304)

Ar

[2015-10-02 13:39] cmatskas commented on #304
I'm a bit confused now as the bug says that we should not repeat the failed value. If you give me the desired error message, I'll be happy to implement this as well :) Thanks again for your feedback

[2015-10-02 13:44] JakeGinnivan commented on #304
Yeah exactly, it repeats at the moment. I think it shouldn't. What do you think?

Sent from my Windows Phone
________________________________
From: Christos Matskas<mailto:notifications@github.com>
Sent: ‎2/‎10/‎2015 9:39 PM
To: shouldly/shouldly<mailto:shouldly@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [shouldly] Improve ShouldNotBe error message (#304)

I'm a b

[2015-10-02 13:46] JoeMighty commented on #304
I agree. It seems unnecessary to repeat it if they're the same.

[2015-10-02 13:47] cmatskas commented on #304
I believe, using the example above, that the correct message should be:
"TheSimpsonsCat.Name should not be 'Santas little helper'"

[2015-10-02 14:01] JoeMighty commented on #304
I think I prefer the explicitness of "but was" at the end rather than the implied nature without it personally.

[2015-10-02 14:03] cmatskas commented on #304
Cool, in that case we're going with:
"TheSimpsonsCat.Name should not be 'Santas little helper' but is"
"TheSimpsonsCat.Name should not have been 'Santas little helper' but was"

Apologies but I'm a stickler for grammar. Happy to go with whatever the group decides :)

[2015-10-02 19:23] cmatskas commented on #304
@JakeGinnivan @JoeMighty - PR raised...let me know if you have any feedback.

[2015-10-07 00:28] JoeMighty commented on #304
That's been merged now @cmatskas. Thanks for your contribution!

[2015-10-07 00:28] #304 closed

[2015-10-10 20:20] sholland1 commented on #302
Sounds easy enough. I will get started on this.

[2015-10-10 22:29] sholland1 commented on #302
Two things:
1 I'm assuming you mean ignoring the *type* of line ending. In other words
[code]
2 Ideally, ignoring line endings would be an option similar to how case sensitivity is now.
I'm thinking the ideal API would be:
[code]
, but this would obviously be a breaking change.

So, do you have any thoughts on what the API should be for this?

[2015-10-12 00:44] JakeGinnivan commented on #302
I think we should introduce a flags enum to ShouldBe. Then you can add an obsolete attribute to the current one.

[code]

I think that should give us compiler compatibility and just give people compiler warnings instead. We still have binary compatibility as default parameters are compile time, anything already compiled will just call the old obsolete methods and on recompile will switch over to t

[2015-10-12 03:16] sholland1 commented on #302
This sounds good. I'll play with it some more.

[2015-10-13 21:11] billglover commented on #308
Was about to jump in and try and help but it looks as though we need PR #316 to be merged before starting. It looks as though reStructuredText is now the preferred format.

[2015-10-13 22:27] JakeGinnivan commented on #308
@billglover merged now :) sorry about that

[2015-10-15 16:39] bradarv90 commented on #312
I would like to look into making this.

[2015-10-16 12:58] JoeMighty commented on #273
Hi @cmatskas, are you still working/planning on working on this one or are you happy for me to pick it up?

[2015-10-16 13:02] JoeMighty commented on #270
Yeah, on further thought you're right; `ShouldCount` doesn't add any value.

[2015-10-16 13:02] #270 closed

[2015-10-19 15:51] gertnelissen commented on #273
I am willing to tackle this. How would you expect this to operate on non-numeric values like strings or objects?

[2015-10-19 15:52] cmatskas commented on #273
Damn, I forgot I was looking into this. A bit swamped at the moment so happy for someone else to look into it. Free again after end of Oct :) Unless you can wait, in which case I'll take this one

[2015-10-20 00:41] sholland1 commented on #302
I've made some progress on this feature.

Commits: 864cd6545e1ab2f760f2369843c9267e0ad64fa3, de457a9345710b3057a829469e54ead24bbe1819

I've got line ending insensitive comparisons implemented and tested. I still need to add tests that will exercise the case **and** line ending insensitive options together. I also still need to change the Difference Highlighter messages indicating the type of compa

[2015-10-20 05:46] JoeMighty commented on #273
Hi @gertnelissen You're more than welcome to take it on :+1: This assertion extension would be for numeric values only, so you needn't worry about other scenarios.

[2015-10-20 12:19] DixonDs opened #320 "Integrate with AutoFixture SemanticComparison"
I would like to see the following `ShouldBe` overloads:

[code]

etc
I guess, `Likeness<TSource, TDestination>.ShouldEqual` could be used to get a descriptive message in case of mismatch. If you give the green light for this to be a part of Shouldly (as a separate package I guess), I could pick it up once I have a chance.

[2015-10-21 08:01] gertnelissen commented on #273
I've implemented these assertions but I have some questions regarding the solution/tests setup:
* The ApprovePublicAPI test is failing, but this is probably something I can't fix without you guys merging these assert methods with the API?
* I'm ignoring scenario's where someone uses the assert methods on non-numeric values like you said. What do you guys normally do in these cases? Make the assert

[2015-10-21 13:22] JakeGinnivan commented on #273
Just run the test with a normal test runner, it should pop-up a diff tool, then you can merge the changes into the approved file. This is so we don't accidentally break the public API.

Create extension methods for `int`, `float`, `decimal` and `double`.

[2015-10-21 16:15] gertnelissen commented on #273
Okay this is implemented (for short and long as well). Am I expected to document this somewhere or do I simply do a pull request?

[2015-10-21 19:42] JoeMighty commented on #273
A pull request is all you need to do. We're currently in the process of migrating the docs so they'll be covered at some point.

[2015-10-21 23:23] JakeGinnivan commented on #273
The docs for this should be added in this PR.

Sent from my Windows Phone
________________________________
From: Joseph Woodward<mailto:notifications@github.com>
Sent: ‎22/‎10/‎2015 3:42 AM
To: shouldly/shouldly<mailto:shouldly@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [shouldly] Implement ShouldBePositive() and ShouldBeNegative() for numeric types with sign (#27

[2015-10-24 04:22] sholland1 commented on #302
I went ahead and implemented this in the way I mentioned in my previous comment.
Here is the commit: 97e6ffdc5565ba2019052bc32a9969b5cf6a8320
I did this in a separate branch. Just give me some feedback when you get a chance.

[2015-10-24 22:21] JakeGinnivan commented on #302
@sholland1 can you open a pull request, just put `[WIP]` in the title if you are still working on it. But then we can have discussions in the PR

[2015-11-05 17:58] #273 closed

[2015-11-05 18:09] Dotneteer opened #324 "Tests fail with Hungarian regional settings"
11 test fail when Hungarian regional settings is used.

[2015-11-06 04:05] JoeMighty commented on #324
I'm getting the same result.

It's the decimal point separator that's causing the tests to break (see [ShouldNotBeInRangeTests for example](https://github.com/shouldly/shouldly/blob/master/src/Shouldly.Tests/ShouldNotBeInRangeTests.cs)) as Hungary use a decimal comma.

Example of error:

[code]

[2015-11-06 04:06] JoeMighty commented on #324
As our tests are all written using the decimal point I've created a PR (#325) to set the culture to `en-GB`, if you're happy with this solution @JakeGinnivan?

[2015-11-08 22:34] AmadeusW opened #326 "ShouldContain(Predicate) with count"
I would like to test that a collection contains a specific number of elements specified by a predicate.
My use case:
a collection with elements `"a", "b", "c", "c"`
[code]
Possible implementations:
[code]
Is this something you would like to see in shouldly, or is it too specific? I'd be happy to contribute if you're ok with this.

[2015-11-09 05:33] nbarbettini opened #327 "ShouldThrow fails under Mono"
Running this test code with the latest build of Mono:

[code]

Throws this error message:

[2015-11-09 23:44] JoeMighty commented on #327
This has now been fixed, thanks for the contribution @nbarbettini!

[2015-11-09 23:44] #327 closed

[2015-11-12 06:41] caioproiete commented on #133
Hi,

Had a quick look at this issue, and a `RuntimeBinderException` is being thrown because the C# compiler is choosing to call the overload that receives a `Func<Task>` instead of the overload that receives an `Action` which was intended one.

So a workaround is to cast the lambda expression to `Action`, and it all works as expected:
[code]

Not sure what the best fix would be (if any). We could

[2015-11-12 13:58] JoeMighty commented on #133
Thanks for looking into this one @caioproiete!

I think the first suggestion (implement a dynamic version of the Throw<T> method in the DynamicShould) sounds like the cleanest approach personally, though I'd be interested in hearing others' thoughts? @JakeGinnivan ?

[2015-11-19 06:07] JakeGinnivan opened #330 "ShouldContainWithoutWhitespace uses Is.Equal not contains"
Looks like a long standing bug...

[2015-11-19 06:12] JakeGinnivan opened #331 "Support CoreCLR"
This will make the shouldly codebase require VS2015 and the new dnx tooling. Any objections?

I am starting to work on this.

// @JoeMighty

[2015-11-19 06:57] #324 closed

[2015-11-19 09:03] JoeMighty commented on #312
This has now been commited, thanks for all of your help with it @bradarv90

[2015-11-19 09:03] #312 closed

[2015-11-19 09:53] JoeMighty commented on #331
No objections from me - VS2015 is my main editor and it'll be good getting Shouldly CoreCLR compliant.

[2015-11-21 04:36] #330 closed

[2015-11-22 02:15] JakeGinnivan commented on #331
First step, convert tests to xUnit. Am working on this, it's a decent change.

We also need to start testing the error messages when source is not available and be able to get the shouldly method without walking the stacktrace because CoreCLR doesn't have stack trace support yet. As a side affect we can make shouldly a pretty broad PCL library to target all platforms.

[2015-11-22 06:23] AmadeusW commented on #301
I've implemented this, and noticed that this change has a very broad reach since it changes the error message. Are there any backwards compatibility issues to consider except for over 30 failing tests that need their expected message tweaked?

[2015-11-22 12:11] JoeMighty commented on #301
No, I don't think there are any backwards compatibility issues to worry about, it should just be a case of updating the broken tests.

[2015-11-22 21:52] sholland1 commented on #302
This issue can be closed as result of PR #333 & #336.

[2015-11-22 22:29] #302 closed

[2015-11-25 14:21] JoeMighty commented on #331
Sounds good to me. If there's anything I can do to help out then please do let me know, perhaps flag them in here or add them as an issue?

[2015-12-10 22:00] jbogard commented on #331
Just came here looking for a CoreCLR version lol. Ditto on help, I'm working through some other DNX projects too.

[2015-12-10 23:03] JakeGinnivan commented on #331
The biggest blocker is that StackTrace/StackFrame is not available in CoreCLR and all of Shouldlys tests are testing with source. I am switching Shouldly to xunit and changing all tests so they test both the with and without source error messages. A bunch of message generators crashed and others had terrible messages.

The conversion is a WIP at https://github.com/shouldly/shouldly/pull/335

I hav

[2015-12-22 05:21] CreepyGnome opened #340 "Feature Request: ShouldBeEquivalentTo(IEnumerable) and ShouldNotBeEquivalentTo(IEnumerable)"
I can't seem to find a Shouldly "Should" that would assert if two IEnumerable objects are equivalent to each other by determining they contain the same items regardless of order.

Maybe have another Should that requires them to be in the same order, maybe add an override to ShouldBeSameAs and ShouldNotBeSameAs for IEnumerable objects.

[2015-12-22 19:21] CreepyGnome commented on #340
Missed it, the ShouldBe method has an override seems to account for this scenario, however, just for feedback this isn't really clear and when looking through the documentation didn't seem to find it. I found it by looking through your source. I would never have thought ShouldBe would do this since it normal compares Equality not Equivalency form what I could tell. But still new to Shouldly so wha

[2015-12-22 19:21] #340 closed

[2015-12-29 08:13] #301 closed

[2015-12-30 01:02] JakeGinnivan commented on #331
Done, next release should support pcl and dnx

[2015-12-30 01:02] #331 closed

[2015-12-30 01:04] JakeGinnivan commented on #170
This is completely done, #335 updates all tests to verify message when source is available, and when source is not available. PCL cannot get at the source code, so it required this

[2015-12-30 01:04] #170 closed

[2015-12-30 01:05] JakeGinnivan commented on #247
This should all be sorted now. In #335 I switched tests over to verify whitespace as well as content and fixed a heap of formatting issues.

[2015-12-30 01:05] #247 closed

[2015-12-30 14:44] TrueWill opened #344 "ShouldBeSameAs and reference equality"
More of a suggestion than an issue.

The behavior of `ShouldBeSameAs` is unintuitive to me (and most of Shouldly is *very* intuitive). The implementation calls `Is.Same`, which uses `==` (this surprised me). Since the operator can be overloaded, would it make sense to implement this with `Object.ReferenceEquals`? Or would it make more sense to add a "ShouldBeSameInstanceAs" or similar method? Than

[2015-12-30 21:28] jbogard commented on #331
Nice! When should I expect that to drop?

[2016-01-01 04:40] JakeGinnivan commented on #308
Hey all,

I have put some new docs infrastructure in place which makes all this quite nice. Help on finishing this off would be awesome :)

[2016-01-01 04:56] JakeGinnivan commented on #344
I actually noticed this during the CoreCLR refactoring and fix it. See https://github.com/shouldly/shouldly/blob/master/src/Shouldly.Shared/Internals/Is.cs#L26

This will be sorted in the next release :)

[2016-01-01 04:56] #344 closed

[2016-01-01 04:57] JakeGinnivan commented on #326
Sounds good to me, happy to get a PR for this

[2016-01-02 01:09] JakeGinnivan commented on #340
Hey, for reference equality we have `ShouldBeSameAs`. We are working on moving the docs over to readthedocs now which hopefully should make this a bit more clear. Pull requests welcome.

The thing is if I go `list.ShouldBe(new[] { '', '', ''});` the enumerable types are clearly different so i would never want reference equality. Happy to continue this conversation though, anything to make shouldly

[2016-01-02 01:17] JakeGinnivan commented on #280
I have updated the title. It would be good if you could have a good think about the error message @ceregador or @SurajGupta. We need a msg when the source is available and one which doesn't. Also, pull request? :)

[2016-01-04 02:13] JosephWoodward commented on #308
I've started working on this, however I'm noticing that my new assertions aren't appearing within the navigation of other assertion doc files (ie: _build/html/assertions/shouldMatchApproved.html). I've added the assertion to the index.rst file (I see you did the same thing when updating the docs); do you have any ideas what I could be missing?

[2016-01-04 11:11] JakeGinnivan commented on #308
Make sure you delete your local _build folder and rebuild. I have noticed it doesn't always rebuild the TOC

[2016-01-04 13:34] JosephWoodward commented on #308
Alright, thanks Jake. I'll give that a try.

[2016-01-04 16:55] TrueWill commented on #344
Thank you! :+1:

[2016-01-05 20:51] CreepyGnome commented on #340
I would just say you should never assume what others will want to do with Shouldly. Providing for content equivalency and reference equivalency are just features or tools in the Shouldly toolbox. How people use it is up to them and they may have good reasons to do something you may not think is correctly.

Also I am merely pointing out the semantics of the words uses, as "ShouldBe" is very strong

[2016-01-06 00:08] JosephWoodward commented on #308
Finally got around to trying it and that was the issue, you've got to delete the _build folder and rebuild (for anyone else who experiences the same issue!)

[2016-02-15 11:44] chaitanyagurrapu commented on #326
One of the big advantages of shouldly and other assertion frameworks is that it is meant to make the tests easier to read and debug. I am not sure this increases clarity of the assertions though.

If I was reading code, the following statement

    collection.where(n => n == "c").Count().Shouldbe(2)

is very expressive and self evident even if I had never come across shouldly. Not so much either o

[2016-02-19 13:11] steck opened #363 "Should.Throw works incorrectly for TimeoutException"
Following test fails

[code]

with following message

[code]

[2016-02-22 04:36] josemesona opened #364 "Allow custom IComparer instances for classes that don't implement IComparable"
I have a 3rd party class that I can manually compare but it doesn't implement IComparable.  So I want to be able to call `ShouldBeGreaterThan<T>()` but this doesn't seem possible since that method requires that `T` implement `IComparable`.  Is there another way?  I was thinking there could be another parameter to methods like `ShouldBeGreaterThan<T>`() of `type IComparer<T>` and Shouldly would use

[2016-03-01 09:16] JosephWoodward commented on #272
This issue can now be closed as it was completed within [this PR](https://github.com/shouldly/shouldly/pull/355/commits).

[2016-03-01 09:16] #272 closed

[2016-03-01 14:14] JosephWoodward commented on #303
I'm currently working on this one. I'm happy to update the PR once we've agreed on the final format.

Whilst I agree with @dennisroche, I'm not sure what value showing how much it was out by would add. Definitely up for some more thoughts on this one though!

[2016-03-10 03:19] JakeGinnivan opened #365 "ShouldHaveSingleItem()"
I often have this in my code:

[code]

I would like a shouldly assertion:

[code]

The important thing is the ShouldHaveSingleItem method should return the single item.

[2016-03-10 11:20] vbandi opened #366 "Not compatible with UAP,Version=v10.0."
The library is awesome, but it is not compatible with Universal Windows Platform (UWP). Since UWP is the way forward for Windows Store apps, it'd be great to have Shouldly work with such apps.

[2016-03-10 15:04] maxild opened #367 "Some of the tests in Shouldly.Tests will fail on 'da-DK' culture"
Hi,

This is a classic:-)

I have all tests pass under 'en-US', but 15+ tests fail under 'da-DK'. This is not a 'biggie' (production code is working, test code is not culture tolerant) because failures are due to assertions about numeric values, and failures are due to "3.14" and "3,14" both being text representations of approximations of pi (the exact failures are off course different but uninter

[2016-03-11 08:14] JosephWoodward commented on #367
Hi @maxild, thanks for raising this. I'm fairly certain there isn't the ability to set a specific culture and have all tests pass for that culture. At the moment, it's set to `en-US` by default.

It sounds like it'd be a good feature to have, though. Your thoughts @JakeGinnivan ?

[2016-03-11 11:40] maxild commented on #367
I don't think you have set the culture to 'en-US' anywhere in your test code. This is an OS setting (called 'system locale' in native code).

But you have a few tests where you setup the culture in the 'arrange' part, but you are doing it the wrong [way](https://github.com/shouldly/shouldly/blob/master/src/DocumentationExamples/ShouldBeExamples.cs#L44).

You should use an IDisposable scope like th

[2016-03-11 11:43] maxild commented on #367
Do you guys now if you can define the (OS) 'system locale' on the VM that appveyor spins up?

[2016-03-11 11:47] maxild commented on #367
You can change it in windows without a reboot....and it is called 'user locale' btw...my mistake.

Changing the system locale requires a reboot, but it is the user locale that defines the default culture in .NET

(and there is a thread locale too, so this is not exactly 100 percent correct...but you get the idea)

[2016-03-11 15:26] mountain65 commented on #366
Hi vbandi,  can you explain in what way the library is not compatible? Shouldly is meant for Unit Test projects and therefore probably never linked to production code. I myself do not know much about UWP yet, so please enlighten me/us!

[2016-03-12 00:37] JakeGinnivan commented on #366
The 2.7.0-beta should support UWP, let me know if that works for you.

[2016-03-12 00:38] JakeGinnivan commented on #366
@mountain65 UWP doesn't run the full .net framework, shouldly only targeted .net 3.5 and 4.0. The beta of 2.7.0 is a PCL library so should work for .net core, uwp and others.

[2016-03-14 05:20] dennisroche commented on #303
What if we moved the additional information about the 'time difference' to the end rather than the middle?

[2016-03-14 21:24] dotnetchris commented on #344
What's the status of this? I'm seeing `==` in Shouldly.2.7.0-beta0003\lib\net40\Shouldly.dll

[2016-04-02 17:48] JosephWoodward commented on #365
Thanks for the pull request @ssiko. I've just posted a question.

[2016-04-03 15:12] ssiko commented on #365
@JosephWoodward I pushed another commit to my PR related to your question. I fixed that unnecessary null check in a couple other places as well. Also, updated ```ShouldBeEmpty()``` to use ```IEnumerable.Any()``` for consistency with ```ShouldNotBeEmpty()```.

[2016-04-03 19:09] xoposhiy opened #369 "Can I have a bit of extensibility?"
One can't create new shouldly-like extension methods with all that awesome error messages, because all useful classes are internal :(

It would be great if you make your library a bit more extension friendly.

[2016-04-04 05:11] #365 closed

[2016-04-04 05:14] JakeGinnivan commented on #369
The issue has been that we keep changing the internal APIs and if we make them public they become part of the public API. 2.7.0 actually used this to keep it as a minor version bump rather than a major, even though lots of internals have changed.

That said, I hear you and I would love to enable this..

[2016-04-04 05:15] JakeGinnivan commented on #367
This would be nice to fix, anyone want to submit a PR to fix this?

[2016-04-04 05:15] JakeGinnivan commented on #367
Id prefer a code fix, otherwise if we just fix appveyor then people who clone the codebase can hit the issue

[2016-04-04 10:13] maxild commented on #367
Agree...test code should be OS/platform/culture ignorant (work for both local and appveyor builds)...hole point of this issue :smile:

I was just guessing how to control OS settings on the WM spinned up by the appveyor service...

The fix is trivial. I will send you PR next week, where I have some spare time...

[2016-04-04 18:39] xoposhiy commented on #369
Actually you don't need to make class internal to remove them from so called "public API".
Instead you can move all internal classes to namespace named something like "Shouldly.UnstableInternals.NoSupportGuarantee" and make all the classes public. After this change, one can choose himself use this unstable API or not.  Maybe somebody is ready to update his code after every major change of Shouldly

[2016-04-05 11:48] JosephWoodward commented on #365
Thanks for the PR and fixing the other null checks @ssiko

[2016-04-05 13:02] ssiko commented on #365
@JosephWoodward No problem, hit me up if I can help with anything else. That was my first pull request for an open source contribution, so thanks for merging. Your tool has been useful, so was glad to get involved.

[2016-04-07 00:43] DouglasHammon opened #370 "Object graph comparison - ShouldbeEquivalentTo"
When dealing with projects that use DTO's or objects with similar fields and properties, it would be nice if shouldly had a the ability to compare the exposed members of two different objects/types.

FluentAssertions has this feature: ShouldbeEquivalentTo

More info can be found here: [https://github.com/dennisdoomen/fluentassertions/wiki#object-graph-comparison](https://github.com/dennisdoomen/fl

[2016-04-07 05:11] JosephWoodward commented on #365
Oh, wow. Awesome! Glad we were your first open source contribution! Shouldly was actually my first too :) You're always welcome to pick up anything else whenever you have time.

[2016-04-12 22:06] SebastianWojciechowski opened #371 "shouldly should show more details when asserting DateTime"
Hi,

shouldly should show more details when asserting DateTime.
Example:

[code]

above you can see the difference: 2100000 and 2096734Z.
Below it is not shown and it looks like everything is ok..

[code]

[2016-04-13 21:42] JosephWoodward commented on #371
Further precision sounds like a good idea to me. A pull request for this would be more than welcome. Thoughts @JakeGinnivan ?

[2016-04-22 19:17] JosephWoodward commented on #371
Thanks for the prompt PR for this @SebastianWojciechowski - sorry it's taken so long for me to get around to it. I think we should keep the original time format (as it's more readable), but add the additional precision using a [custom date](https://msdn.microsoft.com/en-us/library/8kb3ddd4(v=vs.110).aspx#fffSpecifier) formatter so it's formatted like `12/04/2016 22:02:21.018`.

[2016-04-22 19:19] JosephWoodward commented on #367
Would be great to get this fix sorted. Have you been able to make any progress on it @maxild ?

[2016-04-22 19:24] JosephWoodward commented on #370
Sounds like a great feature to me. Interested in others' thoughts.

[2016-04-25 11:28] SebastianWojciechowski commented on #371
@JosephWoodward my PR uses "o" for DateTime format, so it would look like this:

`2009-06-15T13:45:30.0000000`

this is what xUnit uses and I think that this is a very good idea.

It preserves the date and time values along with kind and what is even more important developers will be able to create DateTime object by DateTime.Parse and emitted string to for example debug unit test.

We have to rem

[2016-04-28 01:22] JosephWoodward commented on #371
You've raised a very good point. Thanks for the PR, I'll merge it now.

[2016-04-28 01:22] #371 closed

[2016-05-03 07:34] godrose opened #373 "ShouldBeOfType<> fails on collections."
Repro steps:

1. Have an object that is of IEnumerable<IService> type.
2. Call ShouldBeOfType<IEnumerable<IService>> on the object.

Expected: returns true;
Actual: returns false with the following message:
"System.Collections.Generic.IEnumerable`1[IService]
    should be of type
System.Collections.Generic.IEnumerable`1[IService]
    but was
System.RuntimeType"

Note: The object's type is construc

[2016-05-03 08:23] JosephWoodward commented on #373
Thanks for raising this. I'll see if I can reproduce it.

[2016-05-04 20:32] JosephWoodward commented on #373
Looks like the following also fails:

    IEnumerable<string> temp = Enumerable.Empty<string>();
    temp.ShouldBeOfType<IEnumerable<string>>();

with the following error message:

    []
        should be of type
    System.Collections.Generic.IEnumerable`1[System.String]
        but was
    System.String[]`

[2016-05-07 20:33] ssiko commented on #373
@JosephWoodward Might we want to use `ShouldBeAssignableTo<T>` in these scenarios? We are using `GetType()` in `ShouldBeOfType<T>`, this will return the Concrete Class' Type for the instance, not its interfaces. In order to assert that a concrete class is implementing a specific interface `ShouldBeAssignableTo<T>` should do the trick...Let me know your thoughts.

[code]

[2016-05-10 13:35] asbjornu opened #376 "ShouldMatchApproved fails on Mono"
Since `ShouldMatchApproved` is dependent on source information (which I assume it gets from `.pdb` files on Windows), the method fails on Mono since no `.pdb` files exist. Mono has `.mdb` files instead. Since [Cecil supports both formats](https://github.com/jbevain/cecil/wiki/Debug-symbols), perhaps it's not a huge job to get the Mono support up to speed?

These are all baseless assumptions, so pl

[2016-05-10 14:38] alexandernyquist opened #377 "Type initialization for KnownDiffTools fails"
I have an issue where Shouldly are throwing a `TypeInitializationException` at (seemingly) random times. The `TypeInitializationException` wraps a `ArgumentException`: `Illegal characters in path`.

See full stack trace: https://gist.github.com/alexandernyquist/1a533add1af0466a72f07fa8a7a2cd90

* The issue appears under R# test runner and NUnit Console
* I'm on a Swedish locale where `Path.Invalid

[2016-05-18 08:27] Allon-Guralnek opened #378 "Should.Throw causes a FormatException"
The following test fails with `System.FormatException : Input string was not in a correct format.`.

[code]

The full stack trace is below:

[code]

If you change `new object[] { }` to `new object[0]` then the test produces the correct output:

[code]

I'm guessing the curly braces of the array initializer weren't escaped properly before passing them on to `string.Format()`.

[2016-05-20 10:47] ivaylokenov opened #379 ".NET Core version?"
Hi, do you plan to write a .NET Core version of this library?

[2016-05-22 02:32] JakeGinnivan commented on #379
Yep

2.7.0 supported rc1, will add support for rc2 very shortly

[2016-05-22 02:33] JakeGinnivan commented on #369
@xoposhiy fair enough. Will look at opening things up :)

[2016-05-22 02:39] JakeGinnivan commented on #377
Id imagine this is to do with the different locale and maybe the compiler has slightly different output for anonymous classes.

Have a look at `FirstNonShouldlyMethodFinder` which specifies how to find the method. In particular the regex looking for anon methods/classes.

[2016-05-22 10:21] totpero opened #381 "Feature request: multilanguage implementation"
Hi,

Can you implement feature to translate string returned from `ShouldlyMessageGenerator->GenerateErrorMessage` ?
This feature will be nice, support for multilanguage.

[2016-05-23 13:47] JosephWoodward commented on #378
Thanks for raising this @Allon-Guralnek. Had a few minutes spare in my lunch break to fix it :+1:

[2016-05-23 14:09] #378 closed

[2016-05-23 16:06] mariusGundersen commented on #377
I had the same issue, and found out that in my path I had quotes (`"`) around one of the paths. Quotes cannot be part of the path according to [Path.GetInvalidPathCharacters](https://msdn.microsoft.com/en-us/library/system.io.path.getinvalidpathchars%28v=vs.110%29.aspx). Maybe `GetFullPath` could strip quotes from the beginning and end of each string after splitting on `;`? Or if you stumble upon

[2016-05-30 06:26] alexandernyquist commented on #377
Yep - that was it. I have an entry in my path that contains quotes. What do you think is a viable solution? I could provide a fix that trims `"` but that only covers this specific case. Maybe a more clear exception message?

[2016-05-30 07:10] mariusGundersen commented on #377
Why_not_both.gif?

A better error message is really needed here, I had to do quite a lot of spelunking through the stack trace to figure out the issue. It should probably catch the `ArgumentException` thrown by `Path.Combine` and either return a better error message (with the actual path variable that is the issue) or just swallow the error message and allow the other paths to be used.

[2016-06-09 00:30] JosephWoodward commented on #379
@JakeGinnivan Really interested to see what needs to be done to do do this. I was keen to make a start on this but the lack of project.json (and lack of experience upgrading a class library to .NET Core) had me stumped.

[2016-06-09 01:03] JosephWoodward commented on #379
Managed to get a little further in this [pull request](https://github.com/shouldly/shouldly/pull/384). As this is new to me I'd appreciate a thorough check as I'm probably missing something!

[2016-06-15 22:15] Treyphor commented on #370
I would also like to see this feature implemented :)

[2016-06-17 11:09] #377 closed

[2016-06-17 11:44] JakeGinnivan commented on #381
Happy to receive a PR which kicks this off and suggests a structure and a testing approach.

[2016-06-18 01:01] JakeGinnivan commented on #364
This sounds like a useful feature

[2016-06-19 23:06] JosephWoodward commented on #379
Version 2.8.0 is now .NET Core RC2/NetStandard1.3 compatible.

[2016-06-19 23:06] #379 closed

[2016-06-23 01:27] JakeGinnivan opened #387 "Enhance no diff tool message"
When throwing `Cannot find a difftool to use, please open an issue or a PR to add support for your difftool.`

We should dump a list of environmental variables available and suggest that if running on the build server to prevent showing diff if a variable is present.

[2016-06-24 01:56] dennisroche commented on #387
:+1:

[2016-06-24 02:20] dennisroche opened #388 "ShouldMatchApproved opens multiple instances of difftool"
Recently had 75+ instances of Beyond Compare open as all the tests failed.

Beyond Compare and KDiff both support opening multiple files or directory comparison.

I'm not sure how I would implement this yet... but it would be nice if diffs are opened at the end of the test run.

[2016-06-27 12:54] alex-fomin opened #389 "ShouldAllBe does not show the element predicate correctly for `is` operator"
The following snippet produce incorrect assertion message:

			batchCommand.Commands.ShouldAllBe(command=>command is CreateResourceCommand);

[code]

I expect a `command is CreateResourceCommand` as an assertion message

[2016-06-28 04:17] dennisroche commented on #388
Two possible options.

1. `AppDomain.Unload` to determine when the tests have finished.
2. Limit the number of diffs opened, e.g. 5.

[2016-06-28 04:37] dennisroche commented on #381
I thought https://github.com/Humanizr/Humanizer/issues/59 solved multilingual nuget packaging nicely using satellite assemblies.

[2016-07-02 04:51] JakeGinnivan opened #391 "More information for Should.Throw"
It would be good to show inner exceptions. For instance in https://github.com/TestStack/TestStack.BDDfy/pull/224/files Should.Throw was not enough to diagnose the issue so had to fall back to try/catch

[2016-07-27 20:19] josemesona opened #392 "A ShouldThrow method for ArgumentNullException"
I have some places where I'm testing that a method throws an ArgumentException or ArgumentNullException and has the correct argument name.  I wrote my own method for now to allow me to reuse this functionality but was hoping to add it to Shouldly.

[code]

Can I add this as an overload to ``Should.Throw<T>``?

[2016-07-29 11:47] #389 closed

[2016-07-29 11:48] JosephWoodward commented on #389
Just realised I'd not thanked you for raising this @alex-fomin! @ssiko has just submitted a PR to fix it.

[2016-08-11 12:31] Alterling opened #394 "Shouldly for net451"
Please add dedicated net451 target without CallerMemberNamePolyfill because when I'm using net40 Shouldly with net451 project I'm getting warnings like

CSC : warning CS1685: The predefined type 'System.Runtime.CompilerServices.CallerMemberNameAttribute' is defined in multiple assemblies in the global alias; using definition from 'c:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NE

[2016-08-11 12:36] JakeGinnivan commented on #394
Hey,

Did you want to submit a pull request for this?

[2016-08-13 02:00] JakeGinnivan opened #397 "Initial line feed on exceptions"
I was having a read of http://www.daedtech.com/rethinking-assert-with-shouldly/

And it occurred to me that maybe we should put an initial line feed on shouldly exceptions so the `calculationResult` is on the second line under the exception type.

Thoughts?

[2016-08-13 02:01] #394 closed

[2016-08-13 02:05] JakeGinnivan commented on #394
Thanks for the PR. Released in https://github.com/shouldly/shouldly/releases/tag/v2.8.2

[2016-08-21 19:27] migig opened #399 "Can this be installed into a PCL project?"
New user. Trying to install in a PCL projects. But I get this:

`install-package : Could not install package 'Shouldly 2.8.2'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any
assembly references or content files that are compatible with that framework. For more information, contact the package a

[2016-08-21 19:49] migig commented on #399
Meh, I just reorganised my solution, so this isn't a problem. Something to do with WinPhone I think.

[2016-08-21 19:49] #399 closed

[2016-08-24 15:54] SwishWez opened #400 "ShouldBe produces a false positive on null collections using ? safe navigation"
This occurs when using ShouldBe to check equality of a potentially null collection for an expected value via safe navigation.

E.g.
var expectedCollection = new List<string> { "Expected" };

(Act)

// Incorrectly passes when Result is null
lookup.Result?.SomeCollection.ShouldBe(expectedCollection);

// Adding brackets causes the test to correctly fail when Result is null
(lookup.Result?.SomeCollec

[2016-08-24 16:58] JosephWoodward commented on #400
Thanks for raising this @SwishWez, I'll take a look at it. In the mean time we always welcome and actively encourage community contributions so please feel free to submit a pull request.

[2016-08-31 22:48] ankurMalhotra commented on #364
Given this a go. Please let me know if any improvements can be made :)

[2016-09-05 14:22] JosephWoodward commented on #400
You're right, I've included a failing test to demonstrate the issue:

[code]

Once again, thanks for raising this.

[2016-09-05 22:35] JustinPealing commented on #400
Is there anything that can be done about this? My understanding of the null-conditional operator is that the `ShouldBe` extension method will never be called if `Result` is null. Another way of writing this test is would be:

[code]

Which makes it a lot more obvious why this won't work as expected.

[2016-09-05 23:57] JakeGinnivan commented on #400
Yep, nothing we can do about this, we simply do not get called by the compiler when Result is null. I guess this is a downside of the extension method approach, afaik there is nothing we can do about this. We possibly could create a Roslyn analyser which will identity this issue and flag it as an issue?

[2016-09-06 00:22] JosephWoodward commented on #400
Of course, I didn't even stop to think about that (posted it in haste as lunch break was coming to an end).

As cool as that would be, do we want to go down that route? Where do we stop when it comes to showing warnings about language issues such as this? (I'm not saying it's a bad idea.)

[2016-09-06 00:26] JakeGinnivan commented on #400
Not sure, but that is the only way I can think of that we can sort this. But yeah, at some point it is up to the test author to ensure the test fails when it should

[2016-09-06 00:47] JosephWoodward commented on #400
Yeah, my thoughts exactly. I say we leave it as blocked/won't fix personally.

[2016-09-06 00:49] JakeGinnivan commented on #400
👍

@SwishWez going to close this issue out. If you can think of any other way to resolve then please continue the discussion

[2016-09-06 00:49] #400 closed

[2016-09-20 07:21] Martaver opened #403 "Discussion: supporting semantic comparisons using ShouldBe"
It seems there is a call for Shouldly to provide for arbitrary semantic comparisons & structured constraints.

I found semantic comparison discussed in at least two issues:
https://github.com/shouldly/shouldly/issues/245
https://github.com/shouldly/shouldly/issues/320

I recently published a prototype of this kind of functionality built on Kellerman's CompareNetObjects, called [ShouldBe](https://g

[2016-10-06 09:00] tdwright commented on #397
This would be my preference. I'm not usually interested in the fact that a `Shouldly.ShouldAssertException` (or whatever) has been thrown, but I'm super interested in knowing what value is wrong.

[2016-10-06 09:30] tdwright opened #405 "Migrate the contribution guidelines to a CONTRIBUTING file"
GitHub supports special files for guidelines for contributors; a bit like the way it treats README files as special. See: https://help.github.com/articles/setting-guidelines-for-repository-contributors/ and https://github.com/blog/1184-contributing-guidelines

Should we move [the contributing section of the README](https://github.com/shouldly/shouldly#contributing) to it's own CONTRIBUTING file?

[2016-10-06 12:31] chrischu commented on #245
@jamesmiles Do you have any updates on this? Is it currently being worked on?

[2016-10-06 14:28] Martaver commented on #245
Check out this Issue https://github.com/shouldly/shouldly/issues/403, I have a prototype library that we use side by side with Shouldly to achieve exactly this. I've proposed merging it's functionality into Shouldly to bundle it all in one neat package - but there's some housekeeping to be done first.

I would love your input on it!

[2016-10-09 20:44] JosephWoodward commented on #405
Sounds like a good idea to me. Happy to have a PR for it!

[2016-10-09 20:44] JosephWoodward commented on #405
Just noticed there is already a PR for it x)

[2016-10-09 21:16] #405 closed

[2016-10-10 19:15] Eirenarch opened #407 "Support testing framework-specific exceptions in Shouldly"
I was looking to replace MS Test Assert.* statements with Shouldly and noticed something odd. When an assertion fails with regular asserts the message displayed in the UI (and in CI reports) is

Assert.AreEqual failed. Expected:<1>. Actual:<0>.

With Shouldly the same message is

Test method
MyProject.Tests.SomeTestClass.ShouldDoSomething threw exception:
Shouldly.ShouldAssertException: varName

[2016-10-21 23:55] dcgit commented on #397
Just to clarify, using the sample from the link, is the suggestion to have it display as:
[code]

[2016-10-26 15:41] JakeGinnivan commented on #397
Yeah exactly. At the moment the exception type and start of the message are in the same line.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Dave Calabro <notifications@github.com>
Sent: Saturday, October 22, 2016 7:55:47 AM
To: shouldly/shouldly
Cc: Jake Ginnivan; Author
Subject: Re: [shouldly/shouldly] Initial line feed on exceptions (#397)

Just to clarify,

[2016-11-02 17:52] AdityaTulasi commented on #363
I am getting an exception saying shouldThrow method should throw an exception of type System.Exception but did not throw

[2016-11-07 11:04] chrischu commented on #245
It might be worth considering porting the functionality over from MSpec.Should (see https://github.com/machine/machine.specifications.should/blob/master/Machine.Specifications.Should/ShouldExtensionMethods.cs#L632).

[2016-11-07 16:28] KAW24 opened #412 "Error messages are not generated in Release build with full debug info"
Using the following example
[code]
I'm seeing the following message for assertion failures in a Release build where Debug Info is set to **full**
[code]
Note that source code information is displayed in the stack trace. I know this has worked previously so I wanted to see if I could trace out the source code information while debugging the test by adding a catch block around the assertion
[code]
W

[2016-11-07 16:48] KAW24 commented on #397
I think #407 would be a better fix because it will also get rid of the full method name that is wrapped over 4 lines in the linked example.

[2016-11-12 06:26] RahmanM commented on #377
I just got the same issue in one of my projects. Although some of the tests are working some are failing. The only thing has happened is I have copied the projects from one machine to another. I am still not sure what the path issue thing is? Anyone?

[2016-11-26 23:35] bmpj13 commented on #363
I've been checking out this bug. The problem is that TimeoutException has a special meaning inside Shouldly's.
Should.Throw catches TimeoutException to tell it couldn't run the task in the set time.
An easy fix, I think, would be creating Shouldly's own exception timeouts, so it wouldn't get mixed with the ones available to any user.

Let me know what you think, as I can try to work on it.

[2016-12-08 09:31] niklaskallander opened #415 "NullReferenceException when using ShouldNotHaveFlag"
Hi,

I'm getting a NullReferenceException when using the ShouldNotHaveFlag assertion. Nothing is null on the specific code-line where I use it. However, the enum value does in fact have the flag I'm expecting it **not** to have (if that helps).

**Shouldly stacktrace:**
[code]

**Code for reproducing the issue:**
[code]

Thanks!

[2016-12-08 11:21] JosephWoodward commented on #415
Thanks for reporting this, we always welcome pull requests so if you do fancy giving it ago it would be most appreciated.

[2016-12-09 09:47] bmpj13 commented on #281
I can take a look at this, if you want @JakeGinnivan

[2016-12-10 15:45] niklaskallander commented on #415
I'll have a look-see, no promises! (:

[2016-12-10 17:14] niklaskallander commented on #415
I've created a pull request for this: https://github.com/shouldly/shouldly/pull/416, but this will only fix the issue for my particular case/scenario. If the ShouldyMethods attribute is missing anywhere else those assertions would also fail (if the assertions won't pass).

However, I do believe fixing ActualCodeTextGetter.ParseStackTrace should be a separate issue/pr?

[2016-12-10 17:25] niklaskallander commented on #415
So, obviously, my tiny (and in my eyes, innocent) code-change caused a cascade of test failures. Where did I go wrong? (:

[2016-12-10 18:33] niklaskallander commented on #415
As far as I can tell, almost all assertions defined in Shouldly uses `ActualCodeTextGetter.ParseStackTrace` (indirectly or otherwise) to find the "test method" (I think) for a failing assertion. And, unless any of the methods or classes (found in the call stack) are marked with a `ShouldyMethods` attribute, you will get a `NullReferenceException` because eventually you'll run out of frames to iter

[2016-12-10 18:51] niklaskallander commented on #415
I tried another fix for this (which doesn't seem to break any tests not already broken in a clean checkout):
https://github.com/niklaskallander/shouldly/commit/c0a2e065bdcb2b4cfd5cc2713b337ee849f23f4a

However, I'm not sure that is the "better" approach?

[2016-12-28 20:05] niklaskallander commented on #415
@JosephWoodward Any input on this would be appreciated, thanks! (:

[2017-01-01 05:09] ZodmanPerth commented on #366
FYI: I've just tried installing every version down from the current (2.8.2); the most current version working with my UWP project is 2.7.0.

[2017-01-12 14:36] mwhitis commented on #308
@JakeGinnivan - Is the list at the top of the issue still current for what needs converting?  Been looking for a project to get involved with, and this seems like a good place to jump in.

[2017-01-12 22:08] JosephWoodward commented on #308
Hi @mwhitis Yes, the list is still up to date. Help with the docs would be very much appreciated!

[2017-01-20 21:14] otto-gebb opened #420 "Filter stack trace"
## Summary

Filter the stack trace of `ShouldAssertException` to remove all lines that occur within the testing framework, like it is done in the [should](https://github.com/erichexter/Should/blob/master/src/Should.Core/Exceptions/AssertException.cs#L69) library.

## Details

Consider the following test

[code]

Currently the test failure report looks like this
[code]

Note the useless top two sta

[2017-01-20 21:21] otto-gebb commented on #420
Here is how it could be implemented
(the code was borrowed from the "Should" project).

[code]

[2017-02-08 16:37] AndreMantas opened #421 "Improve fail message of DateTime comparisons"
Currently, when comparing two datetimes, I'm getting this error:

[code]

After some debugging I found out that the problem was the ms part of the objects that differ.

I think it would be useful to add the ms part after the second. Something like:

[code]

Also, according to [DateTime.Equals Method](https://msdn.microsoft.com/en-us/library/wk5t802s(v=vs.110).aspx), it compares the datetimes' tick

[2017-02-09 06:03] JosephWoodward commented on #421
Hi @AndreMantas ,

Adding the ticks makes sense, we'd love to have a pull request for this if you're up for it?

Thanks,
Joe

[2017-02-14 14:14] AndreMantas commented on #421
Hey @JosephWoodward .

I could definitively try. Can you give me  some pointers on where the modification would be necessary?

I'm guessing something in DateTimeShouldBeTestExtensions or MessageGenerators ?

[2017-02-20 14:02] SteelFlow opened #422 "With illegal character in PATH most tests fail"
I noticed most of my tests suddenly failed because of an "Illegal characters in path." error.
After some digging i found out that DiffTool.GetFullPath does a Path.Combine with all my "PATH" environment variables and a hard coded filename.exe-string with known Diff Tools.

I had some strange characters in one of my "PATH" environment variables which in turn made most of my tests fail. There ShouldB

[2017-02-20 14:47] SteelFlow commented on #422
I made a possible fix in PR #423

[2017-02-21 16:50] Pondidum opened #424 "Enumerable.ShouldBeOfTypes()"
Would there be interest in a pull request to support this scenario:

[code]

I would be interested in implementing this either way, as it is something I would find very useful for testing EventSourced aggregates.

If there is interest, a couple of design questions:

* What to call the method (I just pluralised `.ShouldBeOfType`)
* Support generic variation (`events.ShouldBeOfTypes<AddedEvent, Remo

[2017-03-03 10:27] dbarwikowski commented on #424
What should happen for this scenario:

var events = new[] { new RemovedEvent(), new AddedEvent() };

events.ShouldBeOfTypes(new[] { typeof(AddedEvent), typeof(RemovedEvent) });

Assertion should fail or pass?

[2017-03-03 11:33] Pondidum commented on #424
Fail in my opinion, as the types are in the wrong order.
Perhaps supporting the `ignoreOrder` parameter which is used on other collection methods too?

[2017-03-03 11:50] dbarwikowski commented on #424
It depends what exatly mean ShouldBeOfTypes:
- IEnumerable contains elements of specified Types
[code]

This is confusing. Actually what you are trying to do is checking if both collections have the same elements, and I think you should use `ShouldBe` for that

[2017-03-03 12:01] Pondidum commented on #424
The basic reason was to remove the need to do `.Select(e => e.GetType())` on the assertion.

I use this for testing the events emitted from eventsourced aggregates - I am usually checking for a series of events, but not what the event's content is, e.g.
[code]

[2017-03-03 12:06] dbarwikowski commented on #424
So maybe this will be more general solution?
[code]
Where `(e) => typeof(e)` will be executed on each element of `events`

[2017-03-03 12:13] Pondidum commented on #424
That would work well I think - it doesn't look like it will clash with other `ShouldBe` extensions either.

Would this be something I can implement and pull-request?

[2017-03-03 12:24] dbarwikowski commented on #424
I think this is the purpose of having open-sourced project. There is:
[code]
So, I'm not sure if it will not break anything... Maybe we shoud ask @JakeGinnivan

[2017-03-03 13:05] JakeGinnivan commented on #424
There is the risk of overloading ShouldBe too much.

I always want to raise the question about using the expressiveness of Linq and shouldlys already good error reporting to do something like

[code]

If we were to add an extension I think I like @Pondidum's solution, but I would make it a params so you can go

[code]

[2017-03-03 13:05] JakeGinnivan commented on #424
But unsure it's more expressive than `events.Select(e => e.GetType()).ShouldBe(typeof(AddedEvent), typeof(RemovedEvent) })`

[2017-03-17 21:45] 6bee opened #427 "null ShouldBeAssignableTo both, Nullable<> and reference types"
While I expect `null` to be assignable to both, a nullable value type and any reference type, shouldly claims it's not.

assertion
[code]
results in
[code]

[2017-03-26 06:33] morrme commented on #308
i'm a little new, so pardon my question, but does this just involve taking a topic and reformatting it to fit the doc format of this repo?

[2017-04-04 07:29] JosephWoodward commented on #427
Thank you for reporting this @6bee

[2017-04-04 08:20] JosephWoodward commented on #427
Had a bit of spare time so I've made a start on fixing this.

[2017-04-04 17:44] JosephWoodward commented on #427
Here's the [fix,](https://github.com/shouldly/shouldly/pull/428) it could do with a review.

[2017-04-06 02:30] JosephWoodward commented on #308
Hi @morrme

Yes it does, though we have some means of auto generating the code samples. [This](https://github.com/shouldly/shouldly/commit/fc8c632b44afd9f92687a9f8199b52c9eea5305c) pull request will give you an idea of what's involved.

If you have any questions then do ask :)

[2017-04-06 02:41] JosephWoodward opened #429 "Migrate from project.json to .csproj"
Shouldly's currently still using the old project.json format so we're going to need to migrate to .csproj soon before the migration tooling goes away making things more difficult.

I'm happy to pick this up and will make a start in the next few days.

[2017-04-07 09:45] #427 closed

[2017-04-08 18:54] JamiePed opened #431 "Standard Output Issue Causing Tests to Never End"
I am fully aware that this is probably the most niche/strange issue that anyone has ever raised, so bare with me.

I'm currently working on a program which needs to run `dotnet` commands from the command line, and then parse the results into an understandable format. However if you run `dotnet test` in a `Process` with `RedirectStandardOutput = true` and two or more tests fail, then the process wi

[2017-04-08 23:33] hossambarakat commented on #217
I started working on this issue and raised PR #430 with my changes. approciate your feedback @JakeGinnivan , @YogirajA

[2017-04-10 06:53] JakeGinnivan commented on #431
Unsure the issue is either shouldly or xunit, it is more likely to do with capturing process output. It is super easy to deadlock when doing that. See http://jake.ginnivan.net/redirecting-process-output/ or https://www.hanselman.com/blog/SoManyMistakesForMeToMakeSoLittleTimecapturingStandardErrorAndStandardOutput.aspx

The msdn docs say:

[2017-04-10 23:32] JosephWoodward commented on #429
[Here](https://github.com/shouldly/shouldly/pull/432) is the initial working PR/branch for the tooling migration.

[2017-04-21 05:52] morrme commented on #308
@JosephWoodward  took me a while to find this issue again!

So are the generators written by hand based on the current samples?

[2017-05-03 09:31] vorou opened #433 ""ignoreOrder: false" makes no sense for Dictionary"
MSDN page on Dictionary says:

Still, Shouldly would tell me that two dictionaries are not equal if I added the (same) kv's in a different order.

1. Could this "difference" be useful?
2. Could the option `ignoreOrder` be eliminated in `ShouldBe` for dictionaries?

[2017-05-13 00:27] Piedone commented on #422
Shouldn't this be closed due to the PR being merged @JosephWoodward?

[2017-05-13 00:28] Piedone opened #434 "v2.8.3 is not released on NuGet"
It seems the new version is missing from NuGet, please update.

[2017-05-13 03:43] JosephWoodward commented on #422
Yes, you're correct. I missed this - thanks!

[2017-05-13 03:43] #422 closed

[2017-05-14 02:42] JosephWoodward commented on #434
Hi, @Piedone

Yeah, there are complications with the build/publish script that we're looking into, hopefully should have 2.8.3 published shortly - sorry for the wait.

[2017-05-14 12:54] Piedone commented on #434
I see, thanks for the update!

[2017-05-14 23:58] Piedone opened #435 "Option to create approved file if non exists by ShouldMatchApproved()"
Currently if ShouldMatchApproved() is called but no approved file exists one is presented with a difftool window. It would be great to be able to choose that Shouldly instead saves the first result (after any scrubbing) as the approved file without starting a difftool (but the test would still fail first, not to give a false positive). So the result will be the same that happens when you run the c

[2017-05-17 06:18] dennisroche commented on #429
@JosephWoodward are you still working on this? happy to jump in and pick up the last pieces (including getting build-ci working - there are a few prickly pieces around that)

[2017-05-17 21:56] tgmayfield commented on #394
Shouldn't this have been for .NET 4.5? The same compiler warnings show up, and a 4.5.1 or later project would reference the 4.5 library.

[2017-05-18 10:29] JosephWoodward commented on #429
Hi @dennisroche, yes I am still working on it. I've made good progress but definitely running into issues and would always welcome additional help. I have a branch [here](https://github.com/shouldly/shouldly/tree/ToolingMigration) I've been working from.

[2017-05-31 10:12] Roemer commented on #434
Unfortunately it is still not on nuget. Is there an ETA when this will be the case?

[2017-06-04 04:17] dennisroche commented on #429
@JosephWoodward ha, i didn't get notification of reply. i'll take a look. once this done, i would be keen to start on the .NET Core 2 port as really want `ShouldMatchApproved` back

[2017-06-04 04:24] dennisroche commented on #429
@JosephWoodward this looks like the Packaging issue with the CI build, https://github.com/Microsoft/msbuild/issues/1333

[2017-06-14 12:58] JosephWoodward commented on #434
Hi @Roemer

[2.8.3 is now available on NuGet](https://www.nuget.org/packages/Shouldly/2.8.3), thanks for being patient.

[2017-06-14 12:58] #434 closed

[2017-06-17 16:41] Piedone commented on #434
Great, thank you!

[2017-06-17 19:24] JosephWoodward commented on #434
No problem, the next one shouldn't take so long to appear in NuGet! :)

[2017-06-27 18:45] serialseb opened #437 "EntryPointNotFoundException on rider / .net 462 / macOS"
Quick one which should be easy to repro. Using 2.8.3, rider, xunit, .net 4.6.2 classlib, running tests in the runner throws with an EntryPointNotFoundException inside a TypeInitializerException that leads me to
[code]
Which I think means it's trying to do something funky with diff windows in VS or something.

Downgrading to 2.8.2 solves the issue.

[2017-06-27 21:25] JosephWoodward commented on #437
Thanks for reporting this Seb, I'll take a look at it.

[2017-07-04 19:38] jamesqo opened #440 "Language feature that will ease getting strings for Should* targets"
Hi, I've recently proposed a C# language feature [here](https://github.com/dotnet/csharplang/issues/205) that will make it easier to get the string corresponding to the target of a `Should*` method. The proposal is a new attribute, `[CallerArgumentExpression]`, that tells the compiler to stringify the expression corresponding to some argument. For example, in

[code]

Shoudly will no longer have t

[2017-07-04 19:39] jamesqo commented on #440
/cc @yaakov-h, you mentioned Shouldly to me at https://github.com/dotnet/csharplang/issues/287#issuecomment-312611587

[2017-07-04 23:24] JosephWoodward opened #442 "Drop support for .NET 3.5?"
I've got a [pull request](https://github.com/shouldly/shouldly/pull/432) ready for migrating to the new MSBuild tooling and I'm thinking it's time we drop support for .NET 3.5. The reasons are:

- It'd be great to get Shouldly to a point where it's not only.NET Standard compliant but also people can contribute and build it locally from platforms other than Windows, this is a step in that direction

[2017-07-05 00:09] slang25 commented on #442
@JosephWoodward you already know my view, but I'll say it here for the benefit of others.

I won't comment on who or how many people are using .NET 3.5, but I imagine there are some. Right now the AppVeyor build is happily outputting `net35`, `net40` & `net451` assemblies, and the polyfills are already in place.

When developing on a macOS, if the issue is that there is no support for `net35` caus

[2017-07-05 00:36] JosephWoodward commented on #442
I suppose the issue is how long do we keep supporting it for? We can keep adding conditionals around things and polluting the codebase to make it work but where do we draw the line and say it's had its time? Once it becomes an issue? If we keep adding conditionals around things then it's likely never going to be an issue and something we'll be dragging along with us for some time to come.

If we w

[2017-07-05 07:59] slang25 commented on #442
Thoughts from @AnthonySteele

![image](https://user-images.githubusercontent.com/1341446/27854849-397bb1b2-6160-11e7-8f45-bc32422ec26b.png)

[2017-07-05 08:03] slang25 commented on #442
More comments via twitter:

![image](https://user-images.githubusercontent.com/1341446/27854898-69cece62-6160-11e7-8858-4916ce7867e9.png)
![image](https://user-images.githubusercontent.com/1341446/27854931-8282a1ae-6160-11e7-91ac-cdd3481c612a.png)
![image](https://user-images.githubusercontent.com/1341446/27854951-99d093de-6160-11e7-9623-57f74bb86cd2.png)

[2017-07-05 08:47] JosephWoodward commented on #442
Shahid's point is very valid.

[2017-07-05 09:27] slang25 commented on #442
PR here to illustrate the benefit to the codebase in killing net35 #443

[2017-07-12 11:49] grokky1 commented on #213
Not sure how to use this...

In NUnit I'd do this:
[code]

or even simpler:
[code]

In shouldly I suppose I should do this:
[code]

However, both `ShouldThrowAsync` and `ShouldThrow` seem to work for me. In NUnit, that won't compile.

Is it safe to use either way? I'm afraid I'll accidentally use the wrong assertion method and get a true negative, whereas the test should fail. In NUnit I can't mak

[2017-07-13 22:51] AndyGerlicher opened #449 "Shouldly.dll not signed (netstandard1.3)"
Using the latest NuGet package (2.8.3):
[code]

Looks like signing was added a long time ago (#40), but the netstandard1.3 dll is not signed.

We're about to adopt Shouldly for MSBuild (Microsoft/msbuild#2250) and I'd rather not have to suppress that compile warning, especially if it's by mistake. Is this by design or something you're aware of?

[2017-07-15 08:18] JosephWoodward commented on #449
Hi @AndyGerlicher, thanks for making us aware of this issue, @slang25 has just contributed a fix for it.

[2017-07-17 17:45] jeffkl commented on #449
@JosephWoodward can we please get a release with the signed assembly?  I'd like to merge my PR https://github.com/Microsoft/msbuild/pull/2250

[2017-07-18 11:03] JosephWoodward commented on #449
@jeffkl Will do, should get it out today 👍

[2017-07-18 22:50] JosephWoodward commented on #442
With the new .csproj format, keeping .NET 3.5 support complicates the toolchain a little more https://github.com/Microsoft/msbuild/issues/1333

[2017-07-19 00:42] JosephWoodward commented on #449
@jeffkl A pre-release of Shouldly 3.0 is now available on NuGet and can be downloaded [here], the reason it's a 3.0 and a major version bump is because we removed support for .NET 3.5; other than that it's stable.

[2017-07-19 00:42] JosephWoodward commented on #449
I'll close this issue, if there are any problems then do feel free to post them again and I'd be more than happy to reopen it :)

[2017-07-19 00:42] #449 closed

[2017-07-19 00:44] JosephWoodward commented on #442
.NET 3.5 support has been removed in the latest version [3.0 beta 1](https://www.nuget.org/packages/Shouldly/3.0.0-beta0001) which is now available on NuGet, though we'll continue to support 3.5 in older versions.

[2017-07-19 00:45] JosephWoodward commented on #429
This migration has now been completed, so I will close this ticket.

[2017-07-19 00:45] #429 closed

[2017-07-19 16:46] AndyGerlicher commented on #449
Thanks!! We confirmed it's signed and merged our PR :)

[2017-07-19 19:48] JosephWoodward commented on #449
@AndyGerlicher Great to hear! :)

[2017-07-20 17:16] #437 closed

[2017-07-20 19:33] JosephWoodward commented on #437
This fix has now been merged and will be in the next release :thumb:

[2017-07-29 21:55] whortleberrybearer opened #453 "Addition of IEqualityComparer to some methods to allow custom comparisons"
Would it be useful / suitable to allow an `IEqualityComparer<T>` instance to be passed into some methods to allow the equality checks to be customised?  E.g.

`public static void ShouldBe<T>(this T actual, T expected, IEqualityComparer<T> comparer)
        {
            …
        }`

It’s similar to what has already been put forward in #364.

I have had a situation recently where I needed to compa

[2017-08-02 04:21] JosephWoodward commented on #437
This has now been released in [3.0.0-beta0003](https://www.nuget.org/packages/Shouldly/3.0.0-beta0003)

[2017-08-03 12:39] JosephWoodward commented on #236
Reviving this idea from the dead, here's one proposed version, with the O being used for the NuGet package icon.

![shouldly4](https://user-images.githubusercontent.com/1237341/28922204-147fcd82-7851-11e7-8cbd-6bd20c1a793e.png)

[2017-08-03 21:24] JosephWoodward commented on #440
This sounds really promising, I'll be sure to keep an eye on it! Thanks for making us aware of it.

[2017-08-03 23:11] JosephWoodward commented on #236
Closing this in favour of more recent call for logo ideas.

[2017-08-03 23:11] #236 closed

[2017-08-03 23:15] JosephWoodward opened #455 "Logo ideas"
Shouldly's current brand is the star:

![68747470733a2f2f7261772e6769746875622e636f6d2f73686f756c646c792f73686f756c646c792f6d61737465722f7061636b6167655f69636f6e2e706e67](https://user-images.githubusercontent.com/1237341/28947803-b4dcfa90-78a9-11e7-945c-0e14ded1a59c.png)

However in a bid to give Shouldly more of a presence and image (which will also help draw attention in the NuGet search results

[2017-08-04 12:25] slang25 commented on #455
It's looks very professional, it's more meaningful than the current logo. I like it 👍

[2017-08-05 06:06] JosephWoodward commented on #455
Added a couple of other suggestions

[2017-08-05 06:31] JosephWoodward commented on #455
**Version 3:** (using the original star idea, not sure if it works well with the tick)
![shoulder_star](https://user-images.githubusercontent.com/1237341/28993366-86e1531c-79ac-11e7-86ef-056247c3bcb5.png)

[2017-08-05 08:08] gep13 commented on #455
@JosephWoodward don't think the star works with the tick, it is a bit too busy.

[2017-08-05 09:49] JosephWoodward commented on #455
@gep13 I agree, busy is a good way to put it.

[2017-08-05 12:25] whortleberrybearer commented on #455
I prefer the O over the speech bubble.  Not sure the speech bubble adds anything to the logo.

[2017-08-05 12:40] dcomartin commented on #455
I prefer version 2.  I'm with everyone else, others are too busy with the check mark.

[2017-08-07 15:05] cottsak opened #456 "ShouldBe() support for DateTime should include nullable DateTime"
`Convert.ToDateTime(tpInStore.Completed).ShouldBe(now, TimeSpan.FromSeconds(1));` kinda looks lame

[2017-08-08 08:06] JosephWoodward commented on #456
Thanks for your post @cottsak, would you mind giving a clearer example explaining what you mean?

Is your `now` variable a nullable `DateTime`?, like below?

[code]
Given your example, do you mean ShouldBe should accept a nullable datetime?

[2017-08-13 11:20] lloydjatkinson commented on #455
Version 2 👍

[2017-08-17 02:08] PureKrome opened #457 "Should.ThrowAsync<T> does seem to work correctly if the underlying Func has a CancellationToken which cancelled"
Hi 👋

so I'm not sure if this is "by design" and I've not set up my stuff correctly ... or it's a bug.

So I have a simple service I'm testing out. This service accepts a `CancellationToken`. If the service fails to complete in 5 seconds, the CancellationToken cancels, which ends up throwing an exception.

The current code in our unit tests _works_ 👍

[code]

Now, I tried to refactor this into `Sh

[2017-08-17 18:32] eliziario commented on #363
looks like this could be closed, as it seems to me that #363 fixes it.

[2017-08-17 20:50] JosephWoodward commented on #363
Oh, thanks for point that out @eliziario!

[2017-08-17 20:50] #363 closed

[2017-08-17 21:43] eliziario commented on #364
This one also could also be closed

[2017-08-17 22:00] JosephWoodward commented on #364
Thanks again @eliziario

[2017-08-17 22:00] #364 closed

[2017-08-22 07:07] RPM1984 opened #458 "ShouldAllBe potential blocking?"
We've got an ASP.NET website which uses async/await, and Shouldly for assertions.

We're seeing some slow requests (via AppInsights), and the info shows the thread being 'blocked' on `ShouldAllBe`, specifically the [Compile](https://github.com/shouldly/shouldly/blob/master/src/Shouldly/ShouldlyExtensionMethods/ShouldBeEnumerableTestExtensions.cs#L112) call.

Here's an example from AppInsights Prof

[2017-09-01 23:11] JosephWoodward commented on #458
Thanks for raising this, it's the first we've heard about it; have you been able to reproduce it since posting this?

[2017-09-02 14:47] MahendraChoudhary commented on #455
Version 2 is looks more appropriate

[2017-09-03 10:25] slang25 commented on #458
@RPM1984 What version of Shouldly were you using?
You could be hitting this: #439
This could account for that sort of blocking duration.

[2017-09-03 10:37] JosephWoodward commented on #458
That's a good point @stuart-lang 👍

[2017-09-03 10:46] slang25 commented on #458
That said, I can see little downsides to adding a compilation cache using a static `ConcurrentDictionary<Expression<Func<T, bool>, Func<T, bool>>`

[2017-09-03 10:54] RPM1984 commented on #458
Yeah, i'm on version 2.8.3 (latest I think?).

[2017-09-03 11:52] PureKrome commented on #458
Was the fix pushed up into the Beta3 pre-release?

[2017-09-03 21:07] JosephWoodward commented on #458
@PureKrome Yes, that's right.

[2017-09-05 17:28] bdparrish commented on #397
Looking to tackle this and I see [DictionaryShouldContainKeyAndValueMessageGenerator.cs#L17](https://github.com/shouldly/shouldly/blob/cb58830180c1c3f87db9b0eb74ef9d7c446ec71e/src/Shouldly/MessageGenerators/DictionaryShouldContainKeyAndValueMessageGenerator.cs#L17).  Is this the correct format for these messages?  Some `MessageGenerators` have this format and some don't (i.e., [DynamicShouldMessag

[2017-09-18 07:25] TAGC opened #460 "New assertion: ShouldImply"
In one of my projects I've defined an `AssertImplies` function that I use in some of my unit tests. This function takes two boolean parameters and asserts that the first implies the second. In propositional logic, this holds for all cases except when the first parameter (the antecedent) is true, and the second (the consequent) is false:

| P     | Q     | P -> Q |
|-------|-------|--------|
| fals

[2017-09-18 07:29] van800 commented on #376
Mono 5.x generates Portable PDB (.pdb) debug files instead of Mono’s MDB (.mdb) format.

[2017-09-18 07:34] van800 opened #461 "Fix build on Mac/Linux"
Probably it requires retargeting projects to net46.
According to https://docs.microsoft.com/en-us/dotnet/standard/net-standard
netstandard1.3 is compatible with net46, but not net452.

`dotnet build ~/RiderProjects/shouldly/src/Shouldly.sln`
[code]

[2017-09-18 08:24] JosephWoodward commented on #376
Oh really? That's good to know, would be nice to get this one working for Mono.

[2017-09-21 12:58] RedX2501 opened #463 "Stackoverflow in Visual Studio 2015"
Using Shouldly with VS 2015 I get a stack overflow when running my tests.

Substituting Shouldly with xunit2.should resolves the problem.

What information can I provide to help diagnose the problem?

[2017-09-21 13:36] JosephWoodward commented on #463
Is it a clean repo? Any stack trace would be helpful. I'll be upgrading xunit version soon.

[2017-09-21 15:13] RedX2501 commented on #463
The repo is not clean. I changed from xUnit2.Should to Shouldly. I recompiled and tried to run the tests. Changing back to xunit2.should works without problems.

I'll upload later the trace.

[2017-09-21 17:46] RedX2501 commented on #463
Here is the trace.

[vstest.executionengine.x86.exe.1572.dmp.zip](https://github.com/shouldly/shouldly/files/1322223/vstest.executionengine.x86.exe.1572.dmp.zip)

[2017-09-22 00:05] BrianHarboldt opened #464 "DiffTools exception when building with mono"
GitLab CI with latest mono image for build+test.

Shouldly 2.8.3
NUnit Console Runner 3.7.0
Runtime Environment
   OS Version: Linux 4.11.12.1
  CLR Version: 4.0.30319.42000

[code]

[2017-09-22 07:51] JosephWoodward commented on #464
Thanks for taking the time to report this, the latest beta (3.0.0-beta0003) fixes this :)

[2017-09-22 07:51] #464 closed

[2017-10-02 21:19] xerxesb commented on #455
I spent 10 minutes thinking about it when I picked that star logo, years ago.

I have no attachment to it - change at will. 👍

[2017-10-04 13:37] mihaipopescu opened #466 "EntryPointNotFoundException for CurrentlyRunningVisualStudioDiffTool raised on OSX"
Any test that uses a Shoudly function raises an exception if the project targets .Net Framework (4.7) and uses mono.

No exception is thrown for .Net Core 2.0.

[code]

Could probably be related with #461 but in this case we're reusing the same dll and not attempt to rebuild a new one.

[2017-10-04 16:18] JosephWoodward commented on #466
Thanks for reporting this. What version of Shouldly are you using out of interest?

[2017-10-05 09:19] mihaipopescu commented on #466
Thanks for the quick reply. We're using version 2.8.3.

[2017-10-05 10:37] JosephWoodward commented on #466
This should be fixed in the latest release ([3.0.0-beta0003](https://www.nuget.org/packages/Shouldly/3.0.0-beta0003))

[2017-10-05 11:58] mihaipopescu commented on #466
Thanks Joseph. And just as a note, this was not happening in 2.8.2.

[2017-10-06 14:38] #466 closed

[2017-10-10 15:29] plioi opened #467 "Invalid/inconsistent error messages in Release mode."
This partly overlaps with  #412 ("Error messages are not generated in Release build with full debug info"), but the steps to reproduce here reveal a few other issues as well.

In release mode:

1. The advice to include full debug info appears inconsistently from one failing test to another.
2. Including full debug info does not help.
3. Error messages can include a random chunk of source code line

[2017-10-22 00:01] krzysztofowsiany commented on #433
I can implement this feature?
That be my first contrib on GitHub:D

[2017-10-22 12:24] sneh1 opened #469 "Setup issue"
I forked and clone the repo.
Set the 'TestDiffTools' as startup project.

When I run tests for any tests by choosing any diff tool and the further options, I get the following error:

[code]

Please help to resolve this issue.

I am using Visual Studio 2017.

[2017-10-22 15:14] slang25 commented on #469
Good spot. If you change the csproj to include this:
[code]
That will fix it. The code should probably gracefully exit if it detects this scenario too.

[2017-10-24 10:57] paulomorgado opened #470 "ThrowAsync: Consider handling synchronous exceptions on asynchronous methods"
Give this method:

[code]

This test will fail:

[code]

While this will pass:

[code]

Shouldn't they both pass?

[2017-10-24 12:28] paulomorgado commented on #457
This fails:

[code]

But this doesn't;

[code]

[2017-10-24 17:15] KAW24 commented on #467
Have you been able to prove your theory about point 3, e.g. by using [MethodImplAttribute](https://docs.microsoft.com/en-gb/dotnet/api/system.runtime.compilerservices.methodimplattribute?view=netframework-4.7) to prevent inlining?

[2017-10-25 13:26] davidrevoledo commented on #415
@JosephWoodward Is this bug closed ?

[2017-10-25 13:39] davidrevoledo commented on #381
@JakeGinnivan I can take this task if you are agree, do you want to discuss how to implement it ?

[2017-10-26 12:06] paulomorgado opened #471 "Consider changing Should.ThrowAsync to handle synchronous exceptions and cancellation"
Something like this:

[code]

in the implementation of [Shloud.ThrowAsync](https://github.com/shouldly/shouldly/blob/master/src/Shouldly/ShouldStaticClasses/ShouldThrowTaskAsync.cs#L47-L85), would allow testing for synchronous operations and operation cancelation.

[2017-11-11 03:30] sasanknvs commented on #415
@JosephWoodward is this issue closed ?

[2017-11-11 04:18] sasanknvs commented on #469
@slang25 When tried to open the solution in VS2015 i am getting an error "One or more projects could be opened" with below message in the Output windows. Can someone help me out ?

C:\Users\Sasanknvs\Source\Repos\shouldly\src\Shouldly\Shouldly.csproj : error  : The default XML namespace of the project must be the MSBuild XML namespace. If the project is authored in the MSBuild 2003 format, please

[2017-11-11 21:10] JosephWoodward commented on #415
Yes, it should be closed, thanks for pointing that out.

[2017-11-11 21:10] #415 closed

[2017-11-14 10:30] sasanknvs commented on #463
Hi, I am trying to open the solution in VS2015 community edition. I am getting an error "One or more projects in the solution were not loaded properly:

Could someone please tell me the prerequisites ?

[2017-11-15 11:29] JosephWoodward commented on #463
@sasanknvs Which projects are not loading correctly out of interest? Do you have the latest version of Community Edition?

[2017-11-15 20:26] sasanknvs commented on #463
@JosephWoodward  Thanks for the reply.

[2017-11-18 20:16] JamiePed commented on #431
My bad! Thanks for your time!

[2017-11-18 20:16] #431 closed

[2017-12-09 00:06] hemantkd commented on #397
Hi @JakeGinnivan,

I was wondering if I could contribute by fixing this issue but it seems like you're in the middle of upgrading the .NET version?
Is it best to wait until then it looks like the current build is failing?
I managed to for your repo in VS2017 and was able to build successfully but was not successful in running the unit tests. Is this a known issue?

Cheers

[2017-12-11 14:48] paulomorgado commented on #471
knock, knock!

[2017-12-21 03:15] jamesqo commented on #440
@JosephWoodward The C# compiler team is ready to implement this feature, but they want to know how libraries will adopt it because it breaks binary compatibility by adding optional parameters. Can you join the discussion at https://github.com/dotnet/csharplang/issues/287 and comment whether you would be willing to break binary compat to use this feature?

[2017-12-30 15:57] JackTheSpades opened #472 "Why not have ShouldSatisfyAllConditions generic with Action<T>?"
Simple question, but why exactly does the ShouldSatisfyAllConditions not have an overload to handle Action<T> parameters?

It just seems much more natural that, when you call a Method named "ShouldSatisfyAllConditions" on an object, that all of these conditions are in some reference to said object without having to retype the same object again every time for every assertion.
Example:

[code]

[2018-01-04 16:34] MarcAndreJean opened #473 "NotThrowAsync : Make an async version of Should NotThrow"
It would be nice to have an async version of Should.NotThrow

[2018-01-05 21:46] JosephWoodward commented on #473
I agree, I was thinking exactly the same thing today.

[2018-01-19 13:24] JosephWoodward commented on #455
Went with version two in the end,, thanks for the input everyone!

[2018-01-19 13:24] #455 closed

[2018-01-23 09:52] paulomorgado commented on #471
knock, knock!

[2018-01-23 10:40] JosephWoodward commented on #471
Sounds like a good idea to me. It should at the very least be able to handle cancellation.

[2018-01-23 21:23] paulomorgado commented on #471
Do you want me to send a pull request for it? Where would I need to work on?

[2018-01-28 00:52] natiki opened #480 "Is there a change log somewhere?"
Hi,

Just upgraded Shouldy from 2.8.x to 3.x and want to see/understand what is new in the major version bump. I had a look on the documentation site, but there is no change log that I can see nor here on GH.

Is there a change log somewhere?

[2018-01-28 08:44] JosephWoodward commented on #480
Hi @natiki,

[Here's a list of the changes](https://github.com/shouldly/shouldly/releases), the main reason for the major version bump was we dropped support for .NET 3.5.

[2018-01-28 20:52] natiki commented on #480
Hi @JosephWoodward,

Cool, thanks for that. Perhaps adding that as a link on the main https://github.com/shouldly/shouldly would be a good idea? And even perhaps in the documentation itself.

[2018-02-02 22:44] totorovan commented on #473
I'd like got pick this one for the start :)

[2018-02-03 05:15] EddieGarmon commented on #424
I just submitted a PR #481 with the overloads for IEqualityComparer<T>, and here you could create your own comparer that just looked at types. This would accomplish this and more.

[2018-02-03 05:16] EddieGarmon commented on #453
PR #481 supports this.

[2018-02-03 21:36] JosephWoodward commented on #473
We have a PR for this [here](https://github.com/shouldly/shouldly/pull/430).

[2018-02-05 04:55] natiki opened #482 "Listing which elements in a list fail a condition...."
Hi,

![image](https://user-images.githubusercontent.com/4738140/35788906-72cff97a-0a8c-11e8-9282-dde2d7f9acbc.png)

I have an `IEnumerable<>` that contains a list of results. Some of them will be **Error** which I want to check for so I do a:

[code]
which works but I get the "unhelpful" error message of:

![image](https://user-images.githubusercontent.com/4738140/35788952-def63948-0a8c-11e8-98b2-

[2018-02-05 23:39] natiki commented on #482
I can code around this by building my own useful message but it would be nicer if Shouldly catered for this:

[code]

[2018-02-13 08:09] minimaltesty opened #483 "[string].ShouldStartWith ignores string length"
Shouldy V3.0.0
[code]

This methods output is:
[code]

[2018-02-13 13:15] JosephWoodward commented on #483
Thanks for reporting this, I'll take a look into it.

[2018-02-15 14:08] grothar commented on #483
The string provided `"﻿<?xml version="1.0" encoding="utf-16"?>"` start with two Unicode Characters 'ZERO WIDTH NO-BREAK SPACE' (U+FEFF), which you can see if you do .ToCharArray().
I think the behavior of [string].ShouldStartWith is correct.

[2018-02-15 16:20] gurulhc opened #484 "Where do i find gui"
Where do i find gui for the project, am a newbie here

[2018-02-15 17:38] andy-wojciechowski commented on #483
I agree with the comment above that the functionality of ShouldStartWith is correct. I got the string provided working however by using StringComparision.CurrentCultureIgnoreCase and StringComparision.CurrentCulture. InvariantCulture will not work since it's not available in .NET standard 1.3. Maybe this needs to be culture sensitive since unicode characters are involved? I was going to do some ad

[2018-02-16 08:49] minimaltesty commented on #483
Thanks for your answer. You're completely correct. I did not see that difference. But when using

[2018-02-16 09:10] grothar commented on #483
I just tried it with XUnit and it works the same as Shouldy.
Behind the hood ShouldStartWith with Case.Insensitive  uses StringComparison.OrdinalIgnoreCase which is the correct way to compare.

If you pass the same string comparison to XUnit it also fails.

[code]

[2018-02-19 04:40] JosephWoodward commented on #483
Thanks a lot for the investigation on this @grothar, as a result I will close this issue.

[2018-02-19 04:40] #483 closed

[2018-02-22 10:55] John-Williams opened #486 "ShouldMatchApproved doesn't work in .net core"
It looks to me like ShouldMatchApproved doesn't work in .net core

There is a small todo in the code here:
https://github.com/shouldly/shouldly/blob/8655c6362d12d2fed2f53fb15c28eafc2393df76/src/Shouldly/ShouldlyExtensionMethods/ShouldMatchApprovedTestExtensions.cs#L1

which says: "// TODO Try and get this working with Core"

Firstly, the documentation should reflect this.

Secondly, can this get f

[2018-02-27 13:10] DanielRose opened #487 "NullReferenceException when creating error message from Expression"
I got a NullReferenceException when I was using ShouldAllBe(). The minimal repro is:

[code]

Environment: Windows 10, .NET 4.7, Shouldly 3.0.0

This results in an NRE in ExpressionStringBuilder.VisitMember(), because node.Expression is null.

[2018-02-27 13:43] JosephWoodward commented on #487
Thanks for reporting this.

[2018-02-27 16:40] lxalln commented on #472
Surely this is the same as writing:

[code]

That achieves the same, is easier to understand, and is fewer lines of code. No?

[2018-02-27 19:03] JackTheSpades commented on #472
Of course. Down the line it doesn't really matter how Asserts are arranged, as you have to pass them all anyway.
The point of the post is more about the fact that `ShouldSatisfyAllConditions` already exists as an extension method, but it doesn't matter what object it is used on at the moment. The current implementation works like this.

[code]

The fact that I called it on homer really has no bear

[2018-02-28 09:05] lxalln commented on #472
Ah I see, I didn't originally understand the confusing nature of `ShouldSatisfyAllConditions`. In which case, I totally agree that it'd make more sense for a generic version to exist.

I think it's worse than pointless, it's misleading.

Time to submit a PR perhaps?

[2018-02-28 11:28] HajbokRobert commented on #487
@JosephWoodward , can I take this?

[2018-02-28 12:48] JosephWoodward commented on #487
@HajbokRobert Awesome! Thanks for this!

[2018-02-28 12:51] JosephWoodward commented on #487
@DanielRose This has now been fixed and will be included in the next release.

[2018-02-28 12:51] #487 closed

[2018-02-28 13:24] JosephWoodward commented on #486
Hi @John-Williams,

Yes, this is something we're aware of and keen to get working.

[2018-03-05 10:39] TAGC commented on #453
As of ten seconds ago, I'd really like this too.

[2018-03-05 10:48] TAGC commented on #460
Any update on this? It's been half a year. @JakeGinnivan.

[2018-03-05 16:44] TAGC commented on #460
Sorry, think I mentioned an inactive contributor. @JosephWoodward, sorry to bother, you seem active and I'm just looking for closure on this issue (i.e. whether you agree it could be implemented, or closed if not suitable).

[2018-03-07 09:26] RedX2501 commented on #463
I found the error. It was within my code but it was very hard to spot. After building shouldly locally I could spot that it pointed back to my code.

[2018-03-07 09:26] #463 closed

[2018-03-07 09:58] RedX2501 opened #490 "New assertion ShouldAllPass"
XUnit provides an Assert called `All`. The documentation states:

An example would be:

    Assert.All(new [] { 1, 2, 3}, x => x.LowerThan(5));

In fluent from:

    new [] { 1, 2, 3}.ShouldAllPass(x => x.LowerThan(5));

This is very useful when functions return collections and you need to check every item for a constraint more complex.

For example matching a regex.

Without ShouldAllPass:

[code

[2018-03-07 11:24] JosephWoodward commented on #463
Awesome, thanks for updating the issue @RedX2501.

[2018-03-13 11:23] paulomorgado commented on #471
Do you want me to send a pull request for it? Where would I need to work on?

[2018-03-13 23:50] xavierjohn opened #491 "Unable to open the project in VS2017. Expected imports are missing."
Opening the shoudly.sln in VS 2017 gives the following errors

shouldly\src\Shouldly\Shouldly.csproj : error  : Project file is incomplete. Expected imports are missing.

shouldly\src\Shouldly.Tests\Shouldly.Tests.csproj : error  : Project file is incomplete. Expected imports are missing.

shouldly\src\TestDiffTools\TestDiffTools.csproj : error  : Project file is incomplete. Expected imports are m

[2018-03-14 07:58] JosephWoodward commented on #491
Thanks for reporting this. What version of 2017 are you running out of interest? Is it clean version of the latest master branch?

[2018-03-14 21:29] xavierjohn commented on #491
It is a clean version I cloned yesterday.

Microsoft Visual Studio Enterprise 2017
Version 15.6.0
VisualStudio.15.Release/15.6.0+27428.1
Microsoft .NET Framework
Version 4.7.02556

[2018-03-18 03:56] loneosama opened #493 "The Documentation examples dont compiile on linux dotnet core"
I tried compiling the documentation project on linux but it didnt work because it was targeting dotnet 4.5.2. I wanted to know that are there some important packages that it uses that it can't be ported to atleast dotnet standard 1.0

[2018-03-19 06:18] loneosama commented on #491
I am getting this error too. unfortunately I am having the feeling that after much trouble the final solution is to port the project from .net 4.5.2 to > .net standard 2.0 it is not compling for .net standard 2.0 and even 1.3. The problem is it is reading the configuration from project.json file. I think it has to be ported to csproj  before anything else

[2018-03-19 11:18] JosephWoodward commented on #491
@loneosama Where are you seeing the project.json file?

[2018-03-19 11:33] loneosama commented on #491
sorry the name is project.assets.json in Shouldly/obj folder. This is made after i build the project.

[2018-03-19 11:50] JosephWoodward commented on #491
Oh okay, thanks

[2018-03-20 17:54] loneosama commented on #491
@xavierjohn  aren't you still able to open it on visual studio 15.6 ?

[2018-03-20 18:21] xavierjohn commented on #491
I get a different error in VS 2015.
Microsoft Visual Studio Enterprise 2015
Version 14.0.25431.01 Update 3
So I can't open in 2015 or 2017

shouldly\src\Shouldly\Shouldly.csproj : error  : The default XML namespace of the project must be the MSBuild XML namespace. If the project is authored in the MSBuild 2003 format, please add xmlns="http://schemas.microsoft.com/developer/msbuild/2003" to the <P

[2018-03-20 18:55] loneosama commented on #491
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="15.0">
add this to the project tag does this make it work?

[2018-03-21 00:51] xavierjohn commented on #491
I ported Shouldly and its tests to VS 2017 and .netcore 2. There is one failing unit test. Hope it helps convert this project. https://github.com/xavierjohn/Shouldly

[2018-03-21 09:52] loneosama commented on #491
@JosephWoodward  [](https://github.com/onovotny/MultiTargetTheWorld) i found this thing on the web and it is a really great way to ensure that our projects are run on all the frameworks not just the latest the pattern is really quite manageable. What you think should we port it to this format. We will basically make platform specific folders for the project and tests? @xavierjohn  if we were to po

[2018-03-21 17:54] xavierjohn commented on #491
A better way is to target netstandard2.0 so that it works for .net and .netcore. I have updated the code.

[2018-03-21 18:50] loneosama commented on #491
a read a blog and it said that netstandard2.0 is fully implemented by .net core so a project targeting .net standard 2.0 does not need to target dotnet core. But a problem come with the .net framework as there are still some compatibility issues with .net standard and the full dotnet frameworks <= 4.6.1 so it is better to target net 46 and net 45 separately and target netstandard2.0 only instead o

[2018-03-23 05:21] #493 closed

[2018-03-24 17:42] urig commented on #326
Please pardon my directness, but why is this issue still open? What's the action item at this time?

[2018-03-24 19:35] hemantkd commented on #491
Hi @JosephWoodward,

I'm using VS 2017 version 15.6.4
I'm running the latest copy of your master which I had forked here: https://github.com/hemantkd/shouldly

Everything builds fine.
But, I am getting 6 warnings and one of them is the following:
4>Z:\XXX\repos\Shouldly\src\Shouldly.Tests\Shouldly.Tests.csproj : warning NU1701: Package 'TestStack.ConventionTests 3.0.1' was restored using '.NETFram

[2018-03-25 06:15] loneosama commented on #491
open a new one because i am trying to fix this issue apprantely the issue is that StackFrame class is returning null on the method GetFileName in DocumentExampleWriter.cs

[2018-03-25 15:06] loneosama commented on #491
I have created  a pull request and now all the tests pass except few approval tests for that just run the command given in the exception for it to pass @hemantkd  @xavierjohn

[2018-03-29 07:43] nicojs opened #497 "Error reporting not on par with expectations"
Hi, I've just started to use Shouldly but I can't seem to get the error messages working.

This:

[code]

Outputs:

[code]

Instead of (from readme):

[code]

I've set debug info to full:

[code]

I'm using netcoreapp2.0 as my target framework.

I've attached my example project: [ShouldyErrorMessages.zip](https://github.com/shouldly/shouldly/files/1859036/ShouldyErrorMessages.zip)

Thanks for crea

[2018-03-29 13:09] loneosama commented on #486
i have gotten the should match working with netstandard2.0 and that is fully compatible with netcoreapp2.0 can you see to my pull request @JosephWoodward

[2018-04-01 09:56] hahn-kev commented on #497
I'm also having the exact same issue, I'm also running a 2.0 app.

[2018-04-26 15:36] jnm2 opened #499 "ShouldBe difference text confuses null with the string "null""
To pick an amusing example:

[code]

Produces:
[code]

The diff says it is comparing against actual char codes 110, 117, 108, and 108. I wouldn't expect a diff at all because the actual string is not present (in contrast, I do expect the diff that shows up for an empty string).

[2018-04-30 13:46] jnm2 commented on #420
This is a lot of noise, especially when it wraps in test runner UI:

[code]

NUnit does something similar to this type of filter, too.

I've always wanted to try something like this:

<details>

[code]

</details>

[2018-04-30 13:51] jnm2 commented on #420
@JosephWoodward This issue hasn't seen much activity. Would a PR be welcome?

[2018-05-05 01:06] JosephWoodward commented on #420
Hi @jnm2, sorry for the delayed response, I've been pretty busy lately. Yes a PR would certainly be most welcome.

[2018-05-08 03:07] dennisroche commented on #420
I was just looking at a similar thing. Looking forward to the PR.

It would be nice to filter the stack trace further using https://github.com/benaadams/Ben.Demystifier as `async` traces burn my eyes.

[2018-05-08 03:15] dennisroche commented on #486
@loneosama I can't see your pull request? Can you link to this issue?

I also have `ShouldMatchApproved` working on `netstandard2.0` and would love to have it working for everybody.

[2018-05-08 03:42] jnm2 commented on #420
@dennisroche The PR is up at https://github.com/shouldly/shouldly/pull/501.

I agree! That's less about filtering frames and more about pretty-printing each one, so maybe a new issue for that?

[2018-05-08 03:45] dennisroche commented on #420
I agree. I'll wait until your PR is merged.

For you PR, I think increasing the timeout is reasonable given the shared CI environment and parallel run of tests.

[2018-05-09 07:27] loneosama commented on #486
the thing was someone told me that test your code on resharper unit test runner it has 1306 unit tests sepertate units tests for both frameworks. I did that and my some unit tests for should match approved were failing  for one of the frameworks. [Pull request](https://github.com/shouldly/shouldly/pull/496l) Here is the pull request. I had started to check it out but couldn't get the time to do so

[2018-05-12 10:08] AlirezaInGitHub opened #502 "ShouldBeOneOf with equality condition definition"
Would be nice to pass a `Func` to `ShouldBeOneOf` to determine equality of two objects. Something like this:

[code]

[2018-05-29 15:26] jhromadik commented on #497
Same thing over here. On .NET Framework 4.6.1 and 4.7 it works as expected, but .NET Core 1.1 and 2.0 don't display the expression, only the value.

Stack traces for the `Shouldly.ShouldAssertException` are different:

    .NET FW:
    Shouldly.ShouldlyCoreExtensions.AssertAwesomely[T](T actual, Func`2 specifiedConstraint, Object originalActual, Object originalExpected, Func`1 customMessage, Strin

[2018-06-16 01:44] DillonAd opened #507 "Documentation For ShouldThrow"
I was working with Shouldly today and I noticed that I couldn't find any documentation for the ShouldThrow functionality. Am I just looking in the wrong places or is there an opportunity for this feature to be written up?

[2018-06-26 09:02] aignas commented on #490
At the moment one possible workaround is to:
[code]

Not ideal, but you could have an extension method that implements this.

[2018-06-29 00:36] jnm2 commented on #420
Still waiting for a response to https://github.com/shouldly/shouldly/pull/501.

[2018-07-02 02:09] #507 closed

[2018-07-02 08:20] SlowLogicBoy opened #508 "model.ShouldBeEquivalentTo(otherModel);"
Is there anything similar to [FluentAssertions](https://fluentassertions.com/documentation/#object-graph-comparison) `orderDto.Should().BeEquivalentTo(order);` ?

I would like to compare if two objects are equivalent but not with the same reference.

Edit:
Looks like PR #411 already exist for this.

[2018-07-06 12:44] jnm2 opened #509 "ShouldAllBeEqual for enumerables"
If you want to assert that no two values differ in an enumerable, it looks a little round-about:

[code]

And the message isn't as direct:

[code]

What would you think of `enumerable.ShouldAllBeEqual()` which would return the value just like `ShouldHaveSingleItem`? The message could then be something like this:

[code]

[2018-07-23 09:21] PiotrPerak opened #512 "ShouldBe for DateTime does not compare DateTimeKind."
var x = new DateTime(1980, 6, 10, 1, 1, 1, DateTimeKind.Utc);
    var y = new DateTime(1980, 6, 10, 1, 1, 1, DateTimeKind.Local);

    // this should generate failure but passes
    x.ShouldBe(y);

[2018-07-31 06:17] zolrath commented on #497
I am also seeing this problem and as much as I enjoy the method of defining tests in Shouldy I can't adopt it in our new code base with such uninformative error reporting. Would love to see .net core support enhanced to be on par with 4.7!

[2018-08-08 08:27] eloekset opened #517 "Target .NET Standard 2.0"
According to this Twitter thread, the documentation isn't updated, but all libraries should target netstandard2.0 in addition to lower standards (if supported) to minimize dependency hell for users of the library: https://twitter.com/davidfowl/status/1025434242832945154

Shouldly.csproj already has netstandard2.0 in targetframeworks, but the latest released NuGet package doesn't have that option: