[2018-08-08 20:44] nfgallimore opened #518 "No extension method found for short data type"
There is no extension method for asserting that a short data type .ShouldBe(other short variable).

[2018-08-08 20:45] #518 closed

[2018-08-14 12:09] snobu opened #519 "Shouldn't this fail?"
Shouldn't this fail?

[code]

[2018-08-17 17:15] jeffkl commented on #392
I'd like to add this, will you accept a PR?

[2018-08-18 08:30] MNF opened #520 "Compare with FluentAssertions"
I am using  FluentAssertions for some time and today noticed your library. From the quick look it has the same purpose and similar method names. According to
[libhunt](https://dotnet.libhunt.com/compare-shouldly-vs-fluentassertions) FluentAssertions are a bit ahead of your library in popularity, but not essential.

Can you provide the reasons why someone should choose Shouldly? What are the benefi

[2018-09-06 17:55] LiryChen commented on #473
Hey I am a first-timer looking for tasks to do too. I found this issue pretty interesting, and there is a PR(didnt pass the checks yet) for it. Could I jump in and help with this issue?

[2018-09-07 17:36] StefanKoenen commented on #517
@JosephWoodward Is there any update on this, because I want to contribute :)

Another question related to this, I tried to update myself, but it looks like these lines of code are disabling the target framework dropdown in project properties.
`    <TargetFrameworks>netstandard2.0</TargetFrameworks>
<TargetFrameworks Condition=" '$(OS)' != 'Windows_NT' ">netstandard2.0</TargetFrameworks>`

Do you k

[2018-09-10 14:49] weav797 commented on #308
Is this still an open issue? If so, I'd love to help out.

[2018-09-11 20:13] thomasthiry opened #521 "Configuration for error message"
It would be nice to be able to configure the error messages a bit more, to make them even better!

1) Option to hide this: (because it's taking too much space and distracts people from the simple, human-readable error message)

[code]

2) Option to increase the length of the string (to avoid the '...' that prevents me from reading the whole string)

[2018-09-14 09:41] mattfrear opened #523 "ShouldNotBeNull doesn't output variable name"
Test code:
[code]

Expected output:
[code]
Actual output:
[code]

Same problem occurs (no variable name shown) with `ShouldNotBeEmpty()` when the object is null.

[2018-09-14 09:46] mattfrear commented on #460
As a random person on the internet who just browsed the Issues list, I don't think this is necessary.

You could perhaps implement it yourself in your own Shouldly.Implies NuGet package, and if that gets popular or a lot of usage then add it into the main Shouldly package.

[2018-09-14 17:27] thomasthiry opened #524 "Failure message not in line with documentation"
I've been using Shouldly for some time now, but lately with my (dotnet core) projects and Shouldly 3.0.1 the failure messages are not as good as before. The name of the variable is not put anymore in the message.
for example for

[code]

When I expected something like this
[code]

My question: is that on purpose or did I miss something? This is not in line with the documentation I think.
(it kinda

[2018-09-16 16:15] snehansh opened #525 "Getting started"
I am new here. I fork and clone repo and using the link: https://shouldly.readthedocs.io/en/latest/contributing.html tried to generate the build. I get several warnings like:

`C:\Repos\shouldly\docs\assertions\shouldBe.rst:8: WARNING: Include file 'C:\\Repos\\shouldly\\src\\DocumentationExamples\\CodeExamples\\ShouldBeExamples\\Objects.codeSample.approved.txt' not found or reading it failed`

Upo

[2018-09-20 07:42] loneosama commented on #525
the thing is that the pull request #503 solves the problem adding a line to the csproj file of documentation examples and then all the documentation examples work. There are many pull requests that are in the pipeline that will solve most of the problems that are there. I pushed some pull requests if you fork my latest pull request your problem should be solved.

[2018-09-20 07:48] loneosama commented on #525
@snehansh  the thing is that if you want to learn this project and how to contribute to it. this will take some time because the documention on getting started for developers is a bit lacking. I would suggest first try to play around with the project and make sure everything is working before moving on to solve issues. If you need personal help contact me on my email osama.arif@khi.iba.edu.pk i ll

[2018-09-20 08:00] JosephWoodward commented on #373
You're right `ShouldBeAssignableTo<T>` is the right assertion to use. I'm going to close this issue.

[2018-09-20 14:56] JosephWoodward commented on #525
@snehansh @loneosama is right, there may be some of it that's out of date, and there's a couple of pull requests in the pipeline that should fix some of this stuff. Unfortunately I've been really busy recently so still catching up.

[2018-09-20 19:55] JosephWoodward commented on #517
@StefanKoenen Which project are you seeing that in?

There are these lines:

[code]

Which enable anyone not on Windows (such as myself) to successfully build Shouldly.

Is this what you're referring to?

[2018-09-20 20:30] JosephWoodward commented on #517
A little late, but been super busy lately but I've pushed the .NET Standard 2.0 support changes as part of [Shouldly 3.0.1 which can be downloaded here](https://www.nuget.org/packages/Shouldly/3.0.1).

[2018-09-20 20:31] #517 closed

[2018-09-20 20:32] StefanKoenen commented on #517
@JosephWoodward
I just did a clean checkout to answer your question. (I think in my post I already updated the lines)
1. With the two lines enabled in the .csproj file
![image](https://user-images.githubusercontent.com/1442819/45845281-06c7d800-bd25-11e8-887f-0456d02350f0.png)
2. With the lines disabled... not sure if the dropdown is correct
![image](https://user-images.githubusercontent.com/14428

[2018-09-20 20:34] StefanKoenen commented on #517
The link isn't working ;)

[2018-09-20 20:59] JosephWoodward commented on #517
@StefanKoenen Hmmm, I'd be inclined to say that's a bug in Visual Studio. It seems like it's valid for msbuild as it builds it depending on the platform you're on, but clearly the tooling in Visual Studio can't deal with it.

The issue is if you remove the line with the condition on it then I can't build it on the mac without having to specify the target framework, so it might just be worth commen

[2018-09-20 21:00] JosephWoodward commented on #308
Yes it is still an issue, there's soooo much migration to do :S

[2018-09-21 09:14] JosephWoodward commented on #460
Yeah, I'd be inclined to agree with @mattfrear. Certainly not opposed to it but, I'd I'm keen to see level of interest in this assertion so we can leave the issue open and see what activity it gets?

[2018-09-21 12:55] JosephWoodward commented on #521
Sounds like a good idea to me, I'm not a huge fan of the difference personally. Perhaps a static property you could set to turn it off?

[2018-09-21 21:00] StefanKoenen commented on #517
@JosephWoodward
I think I agree with you about the VS bug, I will do that for now. Thanks for your time!

[2018-09-21 22:01] #420 closed

[2018-09-21 22:13] JosephWoodward commented on #420
#501 has now been merged so this can be closed off, thanks for the great suggestion @otto-gebb

[2018-09-21 22:15] JosephWoodward commented on #484
A GUI? Shouldly is an assertion library so there isn't a GUI? I'll close this for the time being but feel free to reopen it if you feel I've misunderstood something.

[2018-09-21 22:15] #484 closed

[2018-09-21 22:16] jnm2 commented on #420
@dennisroche, are you interested in opening that stack pretty-printing issue now?

[2018-09-21 22:16] JosephWoodward commented on #480
@natiki Good idea. Moving forward I'll link to the most recent versions at the bottom of the main page 👍

[2018-09-21 22:16] #480 closed

[2018-09-22 00:34] dennisroche commented on #420
@jnm2 i can open it if we're still think it is needed feature.

the stack trace improvements that Demystifier provided were included into `netcore21`.  it would be nice for `net45` and `netcore20` users.

https://github.com/benaadams/Ben.Demystifier

[2018-09-22 00:36] dennisroche commented on #420
added bonus of Demystifier package is that it allows better stack trace walking of async tests. i have used it to get `ShouldMatchApproved` working much nicer in `netcore2`

[2018-09-22 02:32] jnm2 commented on #420
I don't think it's needed but I'd enjoy having it! :D

[2018-09-22 02:54] dennisroche commented on #420
then upgrade to `netcore2.1`. it can significantly help debug errors in tests but it should be something that a team adds by extension point from shouldly.

[2018-09-22 03:10] jnm2 commented on #420
@dennisroche I'd use .NET Core if it was an option! Still going to be on .NET Framework for a while in many projects where I use Shouldly.

[2018-09-22 09:02] JosephWoodward commented on #420
`ShouldMatchApproved` working on Linux or Mac? Is that in a personal repo? Wouldn't mind getting it supported on Mac or Linux.

[2018-09-22 14:08] snehansh commented on #525
thanks. i will close this issue, since i got a lot of information to start.

[2018-09-22 14:08] #525 closed

[2018-09-24 17:27] nasirodin commented on #133
Hey I am a first-timer looking for tasks to do . Could I jump in and help with this issue?

[2018-09-24 19:37] JosephWoodward commented on #133
Hi @nasirodin, please by all means feel free to take a stab at this issue :)

[2018-09-25 06:08] nasirodin commented on #133
@JosephWoodward  thank you :)

[2018-09-26 14:21] weav797 commented on #308
Hey Joseph,

Sorry for the wait in responding. I'll try to set aside some time this weekend. It's been hectic at work. I'll let you know once I get set up and everything.

[2018-10-01 13:19] weav797 commented on #308
@JosephWoodward I sent you an email regarding an issue. Can you see if you got it?

[2018-10-02 19:49] thomasthiry commented on #524
It can be fixed by changing the debugging information of the test project to full:
Project properties > Build > Advanced... > Debugging Information = Full
Thanks @JosephWoodward for your support!

[2018-10-02 21:43] JosephWoodward commented on #524
Glad you got to the bottom of it, thanks for updating the issue!

[2018-10-06 18:56] thomasthiry commented on #524
Even though the debugging information seems to help, it doesn't solve the problem all the time.
I have a dotnet core project with this debugging information:
![image](https://user-images.githubusercontent.com/2093956/46574826-f1e87700-c9a9-11e8-9256-6ac251e118dc.png)
And yet, this xunit test

[Fact]
        public void Test1()
        {
            var ab = "aa";

            ab.ShouldBe("errr");

[2018-10-07 14:51] martincostello opened #531 "NullReferenceException thrown by failing test on non-Windows"
While writing some new tests in this PR justeat/JustEat.StatsD#127 (which currently fail due to a pending bug fix), I found that on OS X and Linux the tests are failing with a `NullReferenceException` from inside Shouldly at `Shouldly.Internals.ActualCodeTextGetter.ParseStackTrace(StackTrace trace)`, rather than the expected assertion failure that occurs on Windows.

I guess this is some artifact

[2018-10-07 19:48] slang25 commented on #531
Just to add some detail, I can recreate this when I do `dotnet test`, but when I run it from Rider I don't get the issue.

[2018-10-11 14:11] trondtactile opened #532 "NotImplementedException when assertion fails for Unity 5.6"
I am trying to use Shouldy 2.8.3 for Unity 5.6. The reason i can not use a newer Shoudly version is that this version of Unity only supports .net 3.5.

Whenever i fail an assertion, i get a NotImplementedException deep down in .net core.

`at System.Runtime.Remoting.Messaging.CallContext.LogicalGetData (System.String name) [0x00000] in /Users/builduser/buildslave/mono/build/mcs/class/corlib/System

[2018-10-14 13:43] thomasthiry commented on #524
Hi @JosephWoodward, do you think you'll find a solution to that or is it impossible? That would be so sad. :-)

[2018-10-14 18:59] slang25 commented on #524
For me the behaviour doesn't change between full and portable PDBs, but it will only work when I have a debugger attached.

I'm running a test via Rider and xUnit, it will fail if I run it, but if I step through it, I get the right message.

The stackframe walking stuff is about getting the file path and line number, so that we can read the assertion line from the source. We could use [`CallerLine

[2018-10-14 20:33] slang25 commented on #524
After some experimenting, I'm finding that the above issue is only a problem when calling `new StackFrame(0)`, if you instead use `new StackTrace(true)` and walk the stack in that way, it works reliably. Expect a PR later this week 😃

[2018-10-14 21:12] thomasthiry commented on #524
Great, looking forward to testing that! ;-)

[2018-10-16 08:11] ppumkin opened #533 "First time trying it out and nothing as epxected"
I have no idea why the output is like this? Cant really make heads or tails...

![image](https://user-images.githubusercontent.com/1249683/47001872-66968080-d123-11e8-8790-afdc23b6adea.png)

What does it mean build my test project with full debug information? It is already in debug and it was built.

What are all the hieroglyphics about?

[2018-10-17 08:33] ppumkin commented on #533
Oh OK- Seems like I found this plugin in a bad time.  😮

PS - I was watching https://www.youtube.com/watch?v=7POV7JjpHrs&t=1543s  (Microsoft Visual Studio - Building High Performance Extensions (Part 1)) while learning how to build extensions.

Can't wait till the fix comes in.. will be converting everything to Shouldly 😄

[2018-10-17 16:12] JosephWoodward commented on #533
@ppumkin Out of interest what Target Framework Moniker are you targeting?

[2018-10-17 16:13] JosephWoodward commented on #524
@stuart-lang What does your project look like, it is anywhere on GitHub? I'm having a hard time replicating this now. 😕

[2018-10-18 09:36] ppumkin commented on #533
Ahh good question because I have mixed frameworks for testing.

I installed Shouldly on a CORE 2.1 project and it actually works OK  with that! ✔️

Then I tried in on my integration test on another project .NET 4.6.1 and its OK there. ✔️

Actually, I see that the first time I tried it was on a "Subscription Project" which is CORE 2.1 project ❌

So it does not seem to be anything with the target fr

[2018-10-18 10:03] JosephWoodward commented on #533
@ppumkin Thanks, would you mind sharing the .csproj you're using on subscription project so I could take  a look? No feel free to strip anything out that's confidential.

[2018-10-23 14:52] jnm2 opened #535 "Ship with SourceLink"
Would you consider providing PDBs with SourceLink information? This will make it easy for anyone to drop into Shouldly code any time they want to understand what's going on, and users may return the courtesy by taking some initiative in diagnosing bugs they observe. Creating a repro is much easier when you aren't dealing with a black box!

It's easier than it used to be because the csproj SDK now

[2018-10-24 19:48] jnm2 commented on #535
I believe this has been closed by #536. Thanks @slang25, that was fast! 🎉

[2018-10-24 19:48] #535 closed

[2018-10-24 19:57] JosephWoodward commented on #535
Yup! I'll get a new release out soon!

[2018-10-24 20:01] jnm2 commented on #535
@JosephWoodward Cool! Hey, if I fixed https://github.com/shouldly/shouldly/issues/499 really fast, would it make it?

[2018-10-24 20:28] jnm2 commented on #535
Just in case, no pressure: https://github.com/shouldly/shouldly/pull/538

[2018-10-24 20:31] jnm2 commented on #499
Opened https://github.com/shouldly/shouldly/pull/538.

[2018-10-24 21:52] JosephWoodward commented on #533
Been looking into this further and it appears that it works as expected if launched in a console app 🤷‍♂️  cc @stuart-lang

[2018-10-24 22:02] JosephWoodward commented on #533
As this is a duplicate of https://github.com/shouldly/shouldly/issues/524 I think it's best we close this and focus on 524.

[2018-10-24 22:02] #533 closed

[2018-10-24 22:09] JosephWoodward commented on #524
Having looked at this further it seems that running Shouldly in a .NET Core console app will output the correct errors, but in an xunit project it doesn't. If I reference the Shouldly source directly in the xunit test then the problem goes away.

[2018-10-24 22:50] slang25 commented on #524
Using Shouldy 3.0.1 from nuget, for me it still fails for a .NET Core 2.1 console app, unless I debug it. Same behavior for xunit.
If I change my app or tests to Release, it still works (but sometimes is quirky due to inlining and stuff I guess).
It only works when I am debugging in Rider, or I have a console app / test project in the same solution as Shouldly.

[2018-10-24 23:01] JosephWoodward commented on #524
@slang25 Oh really? Let me double check mine. So if I set it to debug in debug mode then it works as expected.

Further findings:

- Referencing a netstandard 1.3 Shouldly DLL in Debug mode doesn't work
- Referencing a netstandard 2.0 Shouldly DLL in Debug mode works

[2018-10-24 23:05] slang25 commented on #524
I'm getting a little confused, there Debug (vs Release) build configuration for Shouldly, then the same for the console app, then there's running it with the debugger attached.

For me under some scenarios it only works when the debugger is attached.

[2018-10-24 23:14] JosephWoodward commented on #524
Sorry, just reread my original message and realised the first part made no sense. That's right, a console app when set to Debug build configuration and running with the debugger attached works as expected.

It seems like in all cases (most?) attaching a debugger seems to work as expected,

[2018-10-26 10:02] morrisond91 commented on #473
Any idea when this will be implemented and released, looking forward to using it.

[2018-10-26 10:03] morrisond91 commented on #473
Ideally in the next hour :P

[2018-10-27 07:44] JosephWoodward commented on #524
Think I might have found the culprit, looks like it's [this section of code](https://github.com/shouldly/shouldly/blob/master/src/Shouldly/Internals/SourceCodeTextGetter.cs#L85) getting the wrong code lines and not being able to match the shouldly method due to release vs debug differences.

<img width="642" alt="screenshot 2018-10-27 at 08 38 52" src="https://user-images.githubusercontent.com/123

[2018-10-27 08:42] thomasthiry commented on #524
Well done! Can't wait to have the fix. ;-)

[2018-10-29 23:03] JosephWoodward commented on #524
Linking this with this issue raised: https://github.com/shouldly/shouldly/issues/412

[2018-10-30 01:08] JosephWoodward commented on #524
It appears that FluentAssertions also has the same issue, however they output their assertions differently so it's less noticeable:

Example:

vs

[2018-10-30 01:16] JosephWoodward commented on #412
@KAW24 Thanks for your investigation into this, we're currently trying to track it down. (I appreciate this is an old issue!)

[2018-10-31 14:35] maintain53 commented on #523
I will like to work on this

[2018-11-01 01:20] JosephWoodward commented on #524
Found it! Inlining on this method is causing the issue. No idea how though, soo many questions!

<img width="701" alt="screenshot 2018-11-01 at 01 18 08" src="https://user-images.githubusercontent.com/1237341/47827171-1dc20700-dd74-11e8-953b-c9969dca788c.png">

[2018-11-01 01:51] JosephWoodward commented on #524
Okay, so it seems like you can remove the no inlining attribute if you change the code from this:

[code]

to this:

[code]
Basically, move the `ExecuteAssertion` method into the caller. 😕

[2018-11-01 01:52] JosephWoodward commented on #533
@ppumkin Found the issue, expect a fix soon!

[2018-11-01 02:09] JosephWoodward commented on #531
Looking into this at the moment, thanks for reporting it @martincostello

[2018-11-01 09:29] thomasthiry commented on #524
Nice, well done! :-) So I suppose we can expect a new version with a fix soon? I'll be happy to confirm it fixes the problem.

[2018-11-01 09:40] JosephWoodward commented on #524
@thomasthiry Yup! Fix should be very soon, just try to find out if any other areas are affected.

[2018-11-01 09:42] JosephWoodward commented on #524
Looking at the decompiled source, this is what it's doing, going to run some tests to see what part is causing it.

[code]

[2018-11-02 01:13] jnm2 commented on #524
There are two things at play that are often mistaken for each other. One is inlining, the other is tail calling. Tail calls happen when the method returns immediately after calling another method. Either there's no return value or the return value is being immediately returned to the caller; either way, there's no need for the stack frame to stay around.

If optimizations are disabled, tail call o

[2018-11-02 11:41] JosephWoodward commented on #524
@jnm2 I see, so in this instance it looks like it could be the tail calling that's interfering with the stack trace?

[2018-11-02 12:06] slang25 commented on #524
That would add up. What I saw is that when optimization were enabled, shouldly would not get the right results from walking the call stack. I would expect if anything adding the no inlining attribute to fix it, not the other way around.

[2018-11-02 12:31] jnm2 commented on #524
The only way I'm aware of to guarantee that a stack frame stays in place:

- make sure inlining is prevented
- make sure that some kind of work is being done after the last method call that cares what the stack looks like. (If you just do something useless after the last call though, there's a risk it'll be optimized away at runtime and tail calling will still happen.)

[2018-11-02 12:35] JosephWoodward commented on #524
Thanks for your input on this @jnm2.

Moving the aforementioned method inside the caller fixed it in this instance, but there's nothing to stop this from coming back around.

One option I was considering is to release Shouldy unoptimised, seeing as it's a unit testing library optimisations isn't essential. What are your thoughts?

[2018-11-02 12:44] jnm2 commented on #524
Disabling optimizations is a good idea; I forgot, I have seen that done before.
Is there an automated way you could set up a test that would discover this issue in any Shouldly method the instant it was introduced?

[2018-11-02 12:57] slang25 commented on #524
I thought that optimizations were enabled/disabled, it resulted in an assembly attribute, however it's only the entrypoint assembly that takes effect at runtime, so basically we couldn't use that here as it depends on the consuming test project.

Appologies @JosephWoodward, I read that you were removing the no inlining attribute, not adding it (which makes so much more sense). That also fixed it f

[2018-11-02 13:00] slang25 commented on #524
Nope, talking bs, jit will respect the setting for each assembly 😃

[2018-11-02 13:01] JosephWoodward commented on #524
What do you mean, I'm lost 😕

[2018-11-02 13:03] JosephWoodward commented on #524
@stuart-lang By that PR I presume you approve of disabling optimisations? 😁

[2018-11-02 13:03] slang25 commented on #524
Sorry, what I meant was that I thought that when you run some dotnet code that the entrypoint project was what dictated weather JIT optimizations were off/on for the whole AppDomain. That isn't the case, each loaded assembly get's it's optimization flag respected.

[2018-11-02 13:05] slang25 commented on #524
I approve in the sense that it fixes this problem 😆 A better long term fix would be to have a smarter implementation.

[2018-11-02 13:08] JosephWoodward commented on #524
Ah, I see what you mean. Yes, that's right - I verified it the other night, so disabling optimisations would solve it forever (though not the most elegant solution admittedly). Not sure what the difference in package size would be, or the hit on runtime performance.

[2018-11-02 13:12] slang25 commented on #524
Package size, zero impact. Basically it's an assembly attribute flag that is flipped, it's not a compiler thing, it's a JIT thing.

There would be a perf hit, but it doesn't seem likely that shouldly is going to be your performance bottleneck. We could put the noinline attribute on all methods in `ShouldBeStringTestExtensions`, that would fix the case I'm testing, but maybe not all cases.

[2018-11-02 13:13] slang25 commented on #524
Side story, I once fixed a production bug by flipping that bit in production 😆 bad times

[2018-11-03 05:31] JosephWoodward commented on #521
Just remembered we have the [ShouldlyConfiguration](https://github.com/shouldly/shouldly/blob/master/src/Shouldly/ShouldlyConfiguration.cs) class which we can use for this.

[2018-11-03 08:09] thomasthiry commented on #521
Even easier! :-)
Just had someone telling me "ouch that's a huge message" when I added shouldly to his project, so definitely relevant. :-)

[2018-11-03 17:30] jnm2 commented on #524
Jan Kotas says:

The linked code:

That comment has been there since the CoreCLR repo was first populated from .NET Framework, so I imagine NoInlining disables both inlining and tail calls on both .NET Framework and .NET Core. No idea about Mono.

[2018-11-03 20:05] JosephWoodward commented on #524
Oh nice find @jnm2! Thanks for the link.

[2018-11-03 21:13] slang25 commented on #524
What also tripped me up while debugging this was I thought that this code was getting hit:
https://github.com/shouldly/shouldly/blob/master/src/Shouldly/Configuration/FirstNonShouldlyMethodFinder.cs
However, there is a completely different implementation that is actually used here:
https://github.com/shouldly/shouldly/blob/ea5739a3859627d4112723c1ddab557d1b842e1b/src/Shouldly/Internals/SourceCodeT

[2018-11-05 09:33] ppumkin commented on #533
@JosephWoodward awesome, Is there a PR i can look at. Wouldn't mind having a small nosy 😄

[2018-11-05 09:58] JosephWoodward commented on #533
@ppumkin There is, though [it's nothing exciting](https://github.com/shouldly/shouldly/commit/5bc553e4d1cbf6e967af7e0a84e7d463c2f880a7). Ultimately because we're releasing Shouldly with optimisations enabled, a lot of method inlining and tail calls are happening making it very difficult to accurately get the original call location. So ultimately the best thing for us to do at this point in time is

[2018-11-06 20:07] #499 closed

[2018-11-06 20:08] JosephWoodward commented on #499
This has now been merged, thanks for the PR!

[2018-11-06 22:07] JosephWoodward commented on #524
@thomasthiry @jnm2 @slang25  I've just [released version 3.0.2](https://www.nuget.org/packages/Shouldly/3.0.2), thanks for your help with this 👍

[2018-11-06 22:09] JosephWoodward commented on #533
@ppumkin I've just [released version 3.0.2](https://www.nuget.org/packages/Shouldly/3.0.2) which should solve this issue, so feel free to give it a try. Thanks for raising this!

[2018-11-06 22:16] JosephWoodward commented on #523
Hi @mattfrear, sorry for the delay in looking into this. I don't appear to be able to replicate this issue, I'm doing the following and get the following response:

[code]
Response:

[code]

[2018-11-06 22:31] JosephWoodward commented on #497
@nicojs @hahn-kev @jhromadik @diegobarbosa @zolrath We hope to have solved this issue in [version 3.0.2 which can now be downloaded from NuGet](https://www.nuget.org/packages/Shouldly/), thanks for reporting it.

[2018-11-06 22:32] JosephWoodward commented on #497
I will close this issue in the mean time, if you run into this again then please either feel free to reopen this, or raise it as a new issue. Thanks once again!

[2018-11-06 22:32] #497 closed

[2018-11-07 08:11] thomasthiry commented on #524
Yoohoo it works! :-)

Before:
[code]

After:
[code]

Thanks a lot for all the good work! Now I can use it for my workshops and show everybody how easy it is. :-)

[2018-11-07 11:13] hahn-kev commented on #497
I can confirm this is working for me now! Thanks 👍

[2018-11-07 11:22] JosephWoodward commented on #497
Woohoo! Thanks.

[2018-11-07 11:23] JosephWoodward commented on #524
Yay! Glad to see it's working now, thanks for reporting it :)

[2018-11-07 14:40] mattfrear commented on #523
Hi @JosephWoodward, thanks for investigating. At the time of reporting the bug I using Shouldly 3.0.1.

I stopped using Shouldly after finding this bug, when I saw the high number of open issues I thought "it's dead" so I switched to FluentAssertions. I actually much prefer the Shouldly syntax though, I miss it!

I just tried to reproduce it again, and I realise that my problem was that my unit te

[2018-11-07 14:40] #523 closed

[2018-11-07 15:13] JosephWoodward commented on #523
Hi @mattdotmatt, glad you got to the bottom of it. FluentAssertions is an equally good library, some people prefer one over the other etc so use whatever works for you.

Shouldly's far from dead though, we just have other things on our plate at times and we're slowly working through the issues raised.

Thanks for closing off the issue 👍

[2018-11-07 16:08] ppumkin commented on #533
@JosephWoodward  Yes it works now. Thank you! 👍

[2018-11-07 17:15] JosephWoodward commented on #533
@ppumkin Great :D Thanks for reporting it, and thanks for the patience.

[2018-11-08 13:17] yuliajulaya commented on #473
Is this issue fixed? If not I can help with it, would be my first PR on github.

[2018-11-08 17:17] KAW24 commented on #467
@JosephWoodward Thanks for the update. I'm not currently working in .NET so may not get around to checking the latest shouldly release any time soon. Does this also fix #412, which I note is still open?

[2018-11-09 10:06] JosephWoodward commented on #473
@morrisond91 We've got a PR for it [here](https://github.com/shouldly/shouldly/pull/430/files) which will be part of the next release.

@yuliajulaya As mentioned above, this PR has been picked up but if you're looking for a PR and have a non-Windows machine then I'd love to get [this one fixed](https://github.com/shouldly/shouldly/issues/531]!

[2018-11-15 11:04] natiki commented on #482
Just wondering if this is still under consideration>

[2018-12-26 10:36] nicolabiancolini opened #549 "Potential versioning of the `.vs` folder"
Potential versioning of the .vs folder

Currently the `src/.vs` folder is ignored but it is possible that a `.vs` folder is created in any other path such as the root.

I suggest to change the line 24 of the `.gitignore` file from
[code]
to
[code]
This will ignore any local settings folder generated by visual studio

Greetings, Nicola.

[2019-01-02 00:56] JosephWoodward opened #550 "Add diffing support for VS Code"
Now that ShouldMatchApproved works cross platform, it'd be great to add support for VS Code. Mac is currently there, [but commented out](https://github.com/shouldly/shouldly/blob/master/src/Shouldly/Configuration/KnownDiffTools.cs#L16), so need to add it for Windows and Linux.

I'm happy to get it working on Linux, but it'd be great if someone could add it for Windows.

This involves finding out t

[2019-01-04 14:45] akshaybheda commented on #467
@JosephWoodward  I am facing the same issue with 3.0.2 Release.

[2019-01-04 15:45] JosephWoodward commented on #467
Hi @akshaybheda, thanks for reporting this. Are you able to provide more context around the issue? It'd be great if you could create a new issue (so it can be tracked separately) with a copy of your .csproj file contents in it and the test case that's failing?

[2019-01-06 14:01] Mohammad-Haris commented on #550
I am a complete newbie to open source. I would really appreciate if you can guide me a little along the way and answer some questions.
I am more than willing to contribute towards the solution of this issue though.

[2019-01-07 03:56] akshaybheda opened #551 "Extra Debug mode information added in Release mode."
I am facing issue with 3.0.2 Version of Shouldly. My Test Project is .net framework 461. I am running tests in Debug mode, Tests run fine but whenever I run the tests in Release mode, I am getting additional text added to test messages which fails my few tests as i use .Shouldbe Method.

The information that is added is "Shouldly uses your source code to generate its great error messages, build yo

[2019-01-07 03:56] akshaybheda commented on #467
@JosephWoodward I created a new issue for that https://github.com/shouldly/shouldly/issues/551

[2019-01-08 21:48] murphyjp commented on #482
I'd like to contribute to this enhancement. My proposal is to list the failed items with their indexes, like so:
![image](https://user-images.githubusercontent.com/16086384/50860796-71e0fd00-135c-11e9-8fc5-7c81a1001f2b.png)
![image](https://user-images.githubusercontent.com/16086384/50860914-d00de000-135c-11e9-8b4c-c823b371ecc6.png)

[2019-01-09 09:22] akshaybheda commented on #551
@JosephWoodward I have created a sample repository, which you can clone and run the test using dotnet test --configuration release

[2019-01-11 15:32] JosephWoodward commented on #551
Yes, thanks for this. I took a look and the behaviour is expected. Unfortunately when running in release mode there are optimisations that take place which make it difficult to walk the call stack to get the information Shouldly needs.

I'm tempted to update the message output to say "please build your test project in debug mode to get better error messages".

[2019-01-13 21:43] slang25 commented on #551
Depending on your circumstances you can work around this by doing `dotnet msbuild /t:Rebuild;VSTest p:Configuration=Release /p:Optimize=false`. (or drop the `dotnet` if you are not using an SDK style project)

[2019-01-13 23:41] JosephWoodward commented on #551
I had a quick go at disabling optimisations then building in release mode, but the test still failed. How is this different?

[2019-01-13 23:53] slang25 commented on #551
Oddly you have to do it in the source project it seems for this case (which is going to be a no-no for most, hence this ad-hoc approach). If you try that command it should work.

[2019-01-14 11:57] akshaybheda commented on #551
Well for now I have used this for workaround in my source project
[code]

[2019-01-21 14:46] demoncodemonkey opened #554 "Should.ThrowAsync error messages should match Should.Throw messages"
The error messages for Should.ThrowAsync don't seem as detailed as the error messages for Should.Throw. To demonstrate what I mean, try adding these to a file in your project:

[code]

Test1 output: 😃

Test2 output: 😃

Test3 output: 😞

Test4 output: 😞

[2019-01-21 17:14] JosephWoodward commented on #554
Thanks for raising this, I'll take a look.

[2019-01-30 15:57] gmilani commented on #554
Hello @JosephWoodward
I want to start contributing to Shouldly project. Can I start with this issue?

[2019-01-30 20:08] JosephWoodward commented on #554
Hi @gmilani,

Yes! That would be great! Let me know if you have any issues or questions.

[2019-02-07 23:51] JosephWoodward commented on #486
This can now be closed as this functionality has been ported to Shouldly in the most recent preview. There are still a few more diff tools to migrate across.

[2019-02-07 23:51] #486 closed

[2019-02-19 10:24] jho1965us opened #557 "Exceptions should be deserializable"
Got the following message when trying to deserialize ShouldAssertException:

System.Runtime.Serialization.SerializationException: 'The constructor to deserialize an object of type 'Shouldly.ShouldAssertException' was not found.'

[2019-02-24 00:45] JakenVeina commented on #453
Also, an overload that just takes `Func<T, T, bool>` would be nice too.

[2019-03-01 09:08] JosephWoodward commented on #557
Thanks for reporting this, I'll take a look.

[2019-03-05 15:10] jho1965us opened #558 "Feature request: ShouldBeEmpty with customMessage method that takes the non empty enumerator as argument"
Use case enable eg:

            machineViewModels.Except(reflectiveMachines).ShouldBeEmpty(enumerable => $"Contains {string.Join(", ", enumerable.Select(vm => $@"""{vm.MachineName}"""))}");

instead of:

            machineViewModels.Except(reflectiveMachines).ShouldBeEmpty($"Contains {string.Join(", ", machineViewModels.Except(reflectiveMachines).Select(vm => $@"""{vm.MachineName}"""))}");

[2019-03-12 13:52] bender2k14 commented on #557
@jho1965us, why did you serialize the exception?

[2019-03-13 09:43] jho1965us commented on #557
part of my test run in an other AppDomain for the exception to cross the AppDomain boundary it get serialized

[2019-03-14 16:58] jnm2 opened #559 "ShouldHaveValue() for chainable assertions on nullable values"
This a common pattern:

[code]

I would like to be able to remove the `foo.Bar.Value` repetition, which requires a Should method that returns the unpacked value just like `.ShouldHaveSingleItem()` does:

[code]

`.Value` would be fine except that I want a Shouldly error message if it's something that would be expected to break if the test fails.

https://github.com/shouldly/shouldly/issues/271 was

[2019-03-25 10:17] RedX2501 opened #561 "Extend `ShouldHaveSingleItem` to take a predicate"
Linqs `Single` has an overload that takes a predicate which makes such code very intuitive:

    var item = collection.Single(x => x.Name == "foo")

It would be nice if we could extend that to our `ShouldHaveSingleItem`:

    var item = collection.ShouldHaveSingleItem(x => x.Name == "foo")

A simple implementation could be

[code]

I'm currently trying this out (as an extension in other code) and

[2019-03-25 13:23] jnm2 commented on #561
Are you satisfied with the error message if you make the extension method delegate to `.Where(predicate).ShouldHaveSingleItem()`?

[2019-04-07 02:48] jnm2 opened #562 "ShouldBe does not do a sequence comparison for ReadOnlyMemory"
Fails (compares reference equality):

[code]

Workaround:

[code]

It would be more intuitive if Shouldly did the `MemoryMarshal.ToEnumerable` call (using reflection in .NET Standard builds).

[2019-04-07 12:41] saiphanish commented on #559
I am trying to work on this issue. In which file can I find the above code pattern, in order to fix it?

[2019-04-09 02:40] saiphanish commented on #559
@jnm2 ...can you please review my pull request

[2019-04-11 09:41] JosephWoodward commented on #562
Thanks for reporting this @jnm2

[2019-05-08 15:59] JosephWoodward commented on #550
This can now be closed.

[2019-05-08 15:59] #550 closed

[2019-05-11 15:25] ramospedro commented on #562
For those familiar to Shouldly codebase, any suggestions on how to do this using reflection?

[2019-05-11 17:21] jnm2 commented on #562
@ramospedro I'm not familiar with the codebase, but if my guess is right that this is where you'd hook in:

https://github.com/shouldly/shouldly/blob/88cf0d17a5fd964a80c1c216f2e1c62f69d8c905/src/Shouldly/Internals/EqualityComparer.cs#L70-L72

Then I'd add this to `TypeExtensions.cs`:

[code]

And then do this in `EqualityComparer.cs`:

[code]

[code]

I tested the reflection code on netcoreapp2.1

[2019-05-11 17:53] ramospedro commented on #562
Very nice! I just tested your solution here and it worked just fine.

Do you think it's even possible to write tests for this with the current target framework for `Shouldly.Tests.csproj`?

[2019-05-11 18:11] jnm2 commented on #562
Well, it looks like it targets `netcoreapp2.1` and `net472`:

https://github.com/shouldly/shouldly/blob/88cf0d17a5fd964a80c1c216f2e1c62f69d8c905/src/Shouldly.Tests/Shouldly.Tests.csproj#L3-L4

`Memory` and `ReadOnlyMemory` are built into `netcoreapp2.1`, and for `net472` you could add:

[code]

[2019-05-14 07:42] jafz commented on #470
I have the same problem. When I wrap the call Should.ThrowAsync<Exception>(() => MAsync()) into a try-catch, I get the following:
System.AggregateException: One or more errors occurred. --->Shouldly.ShouldAssertException: ex.GetType()
should be of type
System.NotImplementedException
    but was
System.RuntimeType

[2019-05-18 08:09] natiki opened #569 "Any ability to register custom base types with Shouldly?"
Hi,

I have my own base type which is fundamentally a string with some length checking. Screenshot below for brevity sake:

![image](https://user-images.githubusercontent.com/4738140/57966592-7dda6c80-7997-11e9-800c-5067e6f2decd.png)

I would like to perform ShouldBe() calls to the type directly. So of course the following is possible by accessing the Value property which is of type `string`:

[co

[2019-05-20 12:06] jnm2 commented on #470
I accidentally regressed this same thing in NUnit and fixed it after discussion. If it's a potentially catchable/recoverable exception, it's best practice to return a failed Task object to the caller and poor practice to throw instead. But if it's a "bone-headed" exception such as ArgumentException or InvalidOperationException, indicating a programming assumption has been violated, failing fast is

[2019-05-20 12:18] jnm2 commented on #559
@saiphanish I'm sorry, I missed this. I'm happy to review but I'm just a contributor like you, so we'll need @JosephWoodward or @slang25's review as well.

[2019-05-21 05:32] EranOfer commented on #557
MSDN:
"Exception(SerializationInfo, StreamingContext), which is a protected constructor that initializes a new exception object from serialized data. **You should implement this constructor if you've chosen to make your exception object serializable**"

Could you please make all custom exception serializable?

For example :
[code]

Thanks in advance

[2019-05-28 20:52] rasmeta commented on #367
I know that the issue is a bit old, but I ran into this as well on machine with pl-PL culture. Did some digging and apparently there's been an ongoing discussion [on xunit](https://github.com/xunit/xunit/issues/1605) lately, resulting in [this issue](https://github.com/xunit/xunit/issues/1605) being created.

Assigning culture explicitly before the test is ran does the trick (as @maxild showed [ab

[2019-05-29 11:10] nibba228 commented on #561
You just need to make it `public`, not  `internal`

[2019-06-04 09:12] JosephWoodward commented on #457
This has now been fixed as part of #560 and will be in the next beta release.

[2019-06-04 09:12] #457 closed

[2019-06-04 09:12] JosephWoodward commented on #471
This has now been fixed as part of #560 and will be in the next beta release.

[2019-06-04 09:12] #471 closed

[2019-06-26 08:23] #367 closed

[2019-06-26 09:07] JosephWoodward opened #571 "Remove culture attribute in tests once xunit 3.0 comes out"
Undo [this pull request](https://github.com/shouldly/shouldly/pull/570) once [this has been released](https://github.com/xunit/xunit/issues/1934).

[2019-06-27 15:51] asgerhallas commented on #369
@JakeGinnivan would really appreciate this too :)

Things like ShouldlyAssertionContext, ExpectedActualShouldlyMessage and the AssertAwesomely() methods would be really nice to make som special case ShouldBe extensions with same good messages.

[2019-06-28 12:19] JosephWoodward commented on #369
@asgerhallas Happy to do this, the more extensibility the better.

[2019-08-05 13:16] gitgan1 opened #572 "Shouldly uses your source code to generate its great error messages, build your test project with full debug information to get better error messages"
I am using Shouldly 3.0.2 with NUnit 3.11.0. My test project is built using Debug configuration.
When Shouldly assertion fails, it is not showing up meaning full message.
retryPolicyOutcome.ShouldBe(OutcomeType.Successful)

   Error Message:
    Shouldly.ShouldAssertException : Shouldly uses your source code to generate its great error messages, build your test project with full debug information

[2019-08-16 05:52] sungam3r opened #574 "System.Exception from ShouldMatchApproved"
On this [PR](https://github.com/graphql-dotnet/graphql-dotnet/pull/1247) I have that error: https://ci.appveyor.com/project/graphql-dotnet-ci/graphql-dotnet/builds/26733618/tests

System.Exception : Source information not available, make sure you are compiling with full debug information. Frame: **RuntimeMethodHandle.InvokeMethod**

It seems to me that `TestMethodFinder` found not my method, but t

[2019-08-16 08:14] slang25 commented on #574
This won't fix it, but the guidance on the readme is out of date and you should not need full debugtype for .NET Core projects (or probably any projects below 4.7.1).

[2019-08-16 08:46] slang25 commented on #574
This problem is because the tests are run in release mode. If they are run in debug they should work. On my mac I was able to replicate the issue by running the tests with the `-c Release` flag.

[2019-08-16 13:30] sungam3r commented on #574
I confirm, the error is gone.

[2019-08-16 13:31] #574 closed

[2019-08-17 11:22] JosephWoodward commented on #574
Great, thanks @slang25

[2019-08-22 12:47] stop-cran opened #575 "Return the input value from ShouldNotBeNull"
For me it's a common case when I check if a value is null only to correctly perform checks on its property:

[code]

Up to me it's convenient to chain these checks, like it's done for `ShouldBeOfType` - simply returning the input value as a result of `ShouldNotBeNull`:

[code]

So I'd propose following signatures:

[code]

[2019-08-30 18:33] jeffkl commented on #572
You need to set DebugType to `Full` which is not the default anymore.  Example:

https://github.com/jeffkl/SlnGen/blob/master/Directory.Build.targets#L4-L5

[2019-08-30 18:50] slang25 commented on #572
It will still work if it's on a modern .net framework runtime or .net core with portable pdbs, the message should be updated. I'd be interested to know the runtime here

[2019-09-05 03:42] TantumErgo commented on #308
I can see that this issue is still open, and that there's a ton left to do, but I honestly can't figure out what it is that needs to be done. I would like to help, so if anyone could explain to me what needs to be done, that would be great.

Is it just a matter of copying the content on the old docs site to the new docs site (readthedocs.org), or is there more involved?

@JosephWoodward in an earl

[2019-09-05 08:23] JosephWoodward commented on #308
Yeah, this is something I'd really like to finish soon. I'll need to refresh my memory on how to do it first, I also wonder whether there's a Docker container to help with setting up a local environment.

[2019-09-18 09:14] xhafan commented on #340
Could you please advise what is the Shoudly equivalent for NUnit's  `Is.EquivalentTo`:
[code]
The above passes, but the below does not pass:
[code]
as Shouldly matches string one by one and the order is important.

This is actually the only case when I use NUnit's `Assert.That`

[2019-09-25 10:09] kerdemirer opened #577 "Extensions for Tuple type"
We excessively assert `Tuple` instances like:

`_tuple.ShouldBe(Tuple.Create("x", "y", ...);`

Instead it would be nice if we can just assert like

`_tuple.ShouldBe("x", "y", ...);`

[2019-09-25 11:05] slang25 commented on #577
It might be worth converting to value tuple in these cases, even if it's at the last moment like this:
[code]
This isn't to say a `ShouldBe` extension wouldn't be a useful addition.

[2019-09-25 12:05] kerdemirer commented on #577
Another point is ToValueTuple() extension method is not available below .Net v4.7.

[2019-09-26 09:10] egil commented on #472
I +1 this issue. One neat usage for me is when my SUT returns an array of objects, and I want to assert on them individually, then this would allow me to do the following:

[code]

That saves me from having to assign each object in the array to its own variable or/and to use `result[x]` in my `ShouldSatisfyAllConditions` actions.

When will this land in a release?

[2019-09-30 18:20] #370 closed

[2019-10-03 15:44] cristianKumul commented on #397
Hello @JakeGinnivan , Is this issue still required? I can take a look at it

[2019-10-05 14:50] jnm2 opened #579 "Provide annotations for C# 8 Nullable Reference Types"
I'm starting to run into scenarios where I'd appreciate annotations on Shouldly. Would you accept a PR to move the LangVersion to 8.0 (necessary to annotate reference types with `?` in public APIs) and enable https://docs.microsoft.com/en-us/dotnet/csharp/nullable-references? This does not require targeting .NET Core 3.0.

[code]

In order to let the compiler know that `ShouldNotBeNull` means that

[2019-10-07 22:55] jnm2 commented on #579
I started some exploratory work on this and it annotated really nicely. It's pretty much done. I found several places where real NREs can be thrown in current releases.

[2019-10-07 23:44] JosephWoodward commented on #579
Sounds like a great idea to me!

[2019-10-10 03:49] Jehoel commented on #575
Duplicate of https://github.com/shouldly/shouldly/issues/61

[2019-10-12 06:57] JakeGinnivan commented on #397
Honestly I am not sure, it's been ages since I have contributed to shouldly and just don't have the context anymore. Sorry.

[2019-10-16 03:44] bezp opened #582 "label?"

[2019-10-16 03:44] #582 closed

[2019-10-16 13:43] r-pankevicius opened #584 "Disable accidental use of ShouldBeNullExtensions on structs, add "where T : class" on methods"
Assume code today, when people are crazy about use of var-s:

[code]

If type of result is int, then this check will succeed, for example 5 != null evaluates to true.
But this check is useless first of all. Maybe people used different type yesterday, today refactored it to use int, but compiler did not tell, hey, it's false sense of success.

I suggest adding generic method specification requiring

[2019-10-16 16:11] sungam3r commented on #584
Hmm, I think that there already was where constraint ).

[2019-10-16 19:00] r-pankevicius commented on #584
I was looking at
https://github.com/shouldly/shouldly/blob/master/src/Shouldly/ShouldlyExtensionMethods/ShouldBeNullExtensions.cs
today

[2019-10-17 19:14] r-pankevicius commented on #584
...and I've set up latest stable version of Shouldly: Assembly Shouldly, Version=3.0.2.0, Culture=neutral, PublicKeyToken=6042cbcb05cbc941, and was able to write:

[code]
Well, compiler did not cry for Argentina.

$>ping @sungam3r

[2019-10-17 19:40] r-pankevicius commented on #577
@kerdemirer  Write these extensions yourself:

[code]
Tuple ends at 9. If your tuples are at level-2, then just copy and paste. This xUnit snippet will work:
[code]

[2019-10-17 19:52] sungam3r commented on #584
Well, in small steps we will sooner or later come to the ideal.

[2019-10-17 20:00] r-pankevicius commented on #577
@kerdemirer That sucks, because you can easily write such a failing test:
[code]
I'll think about a better approach.

[2019-10-17 20:08] sungam3r commented on #577
[code]

[2019-10-17 20:08] r-pankevicius commented on #577
Here you are...
[code]

[2019-10-17 20:27] r-pankevicius commented on #584
@sungam3r  Send a letter to Anders Hejlsberg, because C# compiler should catch this issue before us.

[2019-10-21 22:26] daningalla opened #585 "ThrowAsync<T> not catching FluentValidation.ValidationException"
My Xunit fact fails here, even though I've verified the exception is a ValidationException.

[code]

If I wrap this in try/catch, the test will pass. E.g.

[code]
using:
Xunit 2.4.0
Shouldly 3.0.2
Netcoreapp 2.2

[code]

I suspect this is something peculiar with FluentValidator since I have a test right above this one that does pass for a different exception type (same mediator pipeline).

Thanks

[2019-10-22 00:25] JosephWoodward commented on #585
Thanks for reporting this, I'll take a look and try reproduce it.

[2019-10-22 07:50] sungam3r commented on #585
It looks like I came across this error using `ThrowAsync.` Try 4.0.0 beta version.

[2019-10-22 19:28] daningalla commented on #585
@sungam3r  - still throws when using 4.0.0-beta0001

[2019-10-22 20:29] sungam3r commented on #585
Maybe [4.0.0-beta0002](https://github.com/shouldly/shouldly/pull/560#issuecomment-538362077) ?
#457, #560

[2019-10-22 20:54] daningalla commented on #585
Yep - that did it

@sungam3r

[2019-10-23 08:15] JosephWoodward commented on #585
@daningalla Updating to the 4.0 beta 2 fixed it?

[2019-10-23 09:03] gambrose commented on #575
I do not think this is a duplicate of #61 as there are other use cases than fluid chaining.

In the example given:
[code]
`var` would be nullable ref type which would generate compiler warning for `value.SomeProperty` if nullable ref checks enabled.

Where as here var would be inferred as a non null ref type.
[code]

[2019-10-25 19:30] bradleypatton opened #587 "Missing Enumerable extensions?"
I see on the old documentation page a bunch of extension methods for testing Enumerables (eg http://docs.shouldly-lib.net/docs/shouldstartwith). I don't see them in the current doc or as methods in code. Have they been dropped from shouldly? Are they in a different namespace?

Searched around google but can't find any reference to them being dropped. They seem like useful extensions to me.

[2019-11-04 03:10] jnm2 opened #590 "Remove the obsoleted ChuckedAWobbly"
It's been obsolete for a while. What would be a good date by which it could be removed?

[2019-11-07 20:39] pavel-usachev opened #592 "ShouldBeApproved: "current Visual Studio" DiffTool wrong arguments order"
Hello.

I mentioned that on red ShouldMatchApproved test, I see hardly readable diff in Visual Studio.
Look, I have appoved file like this and the test:

![test_approved](https://user-images.githubusercontent.com/540241/68424582-5aa9b080-01b5-11ea-8b50-d56a7da93a4a.PNG)

When test fails, I am getting this diff:

![actual](https://user-images.githubusercontent.com/540241/68424630-71e89e00-01b5-11ea

[2019-11-07 21:29] sungam3r commented on #592
I myself asked this question. Moreover, when working on another project where approved tests are used, there were cases when people were also confused because of this.

[2019-11-07 23:27] JosephWoodward commented on #592
Would love to have a PR to fix this if possible? My development machine these days is a Mac with Rider so it's a challenge to verify this.

[2019-11-10 09:38] pavel-usachev commented on #592
Yep, but to solve issue in general I went through every diff tool in the list of known and checked the arguments for windows platform. I see that older diff tools are not intended to check "source" and "target" files, it just meant to check "left" and "right" ones. Newer tools show better diff in "approved received" order while older tools doesn't care of argument order. Fix me, please, if I get i

[2019-11-19 20:21] pavel-usachev commented on #592
When I installed all this this tools I came up with reason why there's difference in tools arguments. It is merged into \*approved* file where it's possible and just show diffs where is not.

@JosephWoodward, could you have a glance at the PR. I also moved difftools to separate files, changed files discovery a little and added one more difftool (vimdiff). Check whether it's acceptable.

[2019-11-29 01:45] hiwjcn opened #594 "too many extensions on basic type,i prefer obj.Should().notnull();"
when we type via vs,too many suggestion appear at once.
can we make api look like this:
[code]
in this way,only one extension method be suggested.

[2019-11-29 08:46] JosephWoodward commented on #594
I think you're looking for [the community over at FluentAssertions](https://github.com/fluentassertions/fluentassertions).

We have `obj.ShouldNotBeNull()`.

[2019-11-29 08:46] #594 closed

[2019-11-29 08:48] JosephWoodward commented on #594
Closing the issue as I believe you're posting in the wrong place, if I'm mistake then we could discuss further, but we'd rather not break the `ShouldBeX` convention that exists. One of the reason people prefer Shouldly over FluentAssertions is because the decision not go have long method chains.

[2019-12-01 20:56] jnm2 commented on #562
@ramospedro Is this something you are still working on?

[2019-12-01 21:34] #590 closed

[2019-12-06 07:48] Haneen96 commented on #509
Hey All,
How can i test my added methods to Shouldly?

[2019-12-06 14:02] jnm2 commented on #509
I would start by copying the existing test pattern, e.g. https://github.com/shouldly/shouldly/blob/master/src/Shouldly.Tests/ShouldBeUnique/IntegerArrayScenario.cs.

[2019-12-11 16:35] Haneen96 commented on #509
Hello,,
When I test the my added method ( ShouldAllBeEqual() ), it goes to ( ShouldAllBeMessageGenerator.cs "previous class were in Shouldly" ). Do you have any idea how can I make it go to ( ShouldAllBeEqualMessageGenerator.cs "I made to output the needed message") ??

[2019-12-12 14:28] mqtwinter opened #599 "ShouldBe() marked as heuristically unreachable by ReSharper 2019.3.20191207.71320"
I'm using Shouldly 3.0.2. Love it. Just upgraded to VS 2019 16.4.1 and ReSharper 2019.3.20191207.71320.

Now ReSharper is thinking some ShouldBe() calls always throw exceptions, so it marks all code after it as heuristically unreachable.

This seems to be only for ShouldBe() methods that have ContractAnnotationAttribute.
For example:
[ContractAnnotationAttribute("actual:null,expected:notnull => ha

[2019-12-12 14:41] mqtwinter commented on #599
The issues I just submitted to JetBrains: [https://resharper-support.jetbrains.com/hc/en-us/requests/2400984](url)

ReSharper docs on the annotation syntax don't seem to mention the syntax being used.
[https://www.jetbrains.com/help/resharper/Contract_Annotations.html](url)

None of the examples in the docs have anything like where you are using TWO parameters with a halt. For whatever that's wort

[2019-12-13 09:22] JosephWoodward commented on #599
Oh interesting, so it was a ReSharper bug?

[2019-12-13 11:32] ArnaudB88 commented on #473
What is the current state of this functionality? The PR is created for more than 2 years now...

[2019-12-13 11:32] ArnaudB88 commented on #217
What is the current state of this functionality? The PR is created for more than 2 years now...

[2019-12-13 13:55] mqtwinter commented on #599
ReSharper support just commented as follows:

We've already aware of this problem, please refer to the reported issue - [https://youtrack.jetbrains.com/issue/RSRP-477404](url)

Not sure if that means they believe it is a bug in ReSharper. So we'll see!

[2019-12-13 14:58] jnm2 commented on #509
@Haneen96 Oh dear. This is because the regexes in all the message generators are not specific enough. Look at this:

https://github.com/shouldly/shouldly/blob/3574211043d8fae153d11ee8ad0d9dfd92017d6f/src/Shouldly/MessageGenerators/ShouldAllBeMessageGenerator.cs#L7-L12

What's happening is that the method name `ShouldAllBeEqual` is matching the regex `ShouldAllBe` and `ShouldAllBeMessageGenerator`

[2019-12-16 13:28] mqtwinter commented on #599
The R# people say this will be resolved in R#  2019.3.1

[2019-12-17 02:06] hossambarakat commented on #217
@ArnaudB88 Thanks for reminding me about this PR. I have just updated it with the latest master branch so it should be ready for merge.

[2020-01-25 23:29] bradleypatton commented on #587
Any information about this?

[2020-01-28 03:17] nchetan commented on #472
Found this issue from https://up-for-grabs.net/#/filters?labels=52&tags=
Based on the fact that it's closed, can we remove that label please?

[2020-01-28 08:57] lxalln commented on #472
@nchetan this issue isn't closed :)

[2020-01-29 07:58] Ekkeir opened #600 "ShouldMatchApproved opens difftool in the 1st Visual studio instance"
We are using ShouldMatchApproved in our unit tests. After migrating to VS2019 (used as difftool) the following unexpected behaviour is observed (could have gone unnoticed in VS2017).

1. Open an instance of VS with a solution, make sure that ShouldMatchApproved unit test fails. Run the test. A difftool window opens in this VS instance (as expected).

2. Open another instance of VS with another sol

[2020-01-29 08:06] sungam3r commented on #600
I have the same issue.

[2020-02-26 05:54] stukselbax opened #601 "ShouldBeDictionaryTestExtensions Should not rely on default Dictionary<TKey, TValue> implementation when generates a message to avoid InvalidCastException"
Recently I have tried to use  `.ShouldContainKeyAndValue()` on the headers dictionary in one asp.net core library:

[code]

For mocking httpContext I have used NSubstitute. When my test failed, it was unable to generate `Shouldly`-message, because:

[code]

Since [IHeaderDictionary](https://github.com/dotnet/aspnetcore/blob/3.0/src/Http/Http.Features/src/IHeaderDictionary.cs) did not implement `Sy

[2020-02-26 19:19] JosephWoodward commented on #473
I've finally gotten around to merging this and will get it released in the next few days.

[2020-02-26 19:19] #473 closed

[2020-03-04 02:24] JakenVeina opened #602 "`.ShouldBeUnique()` runs in O(n!) time"
Had a test the other day upon ~500,000 record dataset (I've since refactored this), but attempting to use `.ShouldBeUnique()` upon this dataset resulted in a test that never completed (not in the amount of time I was willing to wait, anyway.

The offending code can be seen [here](https://github.com/shouldly/shouldly/blob/d0f7ffbfb34a4202d2d2f6a3cadc4f519480a402/src/Shouldly/ShouldlyExtensionMethod

[2020-03-08 01:00] hrai commented on #554
Should this be closed?

[2020-03-22 00:20] hrai opened #608 "Discussion - Upgrading co-contributors to have merge permissions?"
This is an open source project and I know people contribute on their free time which is hard to get these days.

I was wondering if the maintainer has considered pulling in long term contributors to help out with the PR merges.

This would enable faster resolution of issues. Also, the PRs wouldn't be sitting waiting for merges and gets stale with potential merge conflicts when someone tries to mer

[2020-03-26 09:06] brunomasantos commented on #281
Hi guys,

I wanted to start contributing to this project. Wondering if is this that i can try to pick up. I see its open a long time now.

Thanks guys

[2020-03-26 11:07] JosephWoodward commented on #281
@brunomasantos We already have an open [pull request](https://github.com/shouldly/shouldly/pull/417) surround this one.

[2020-03-26 11:08] JosephWoodward commented on #554
Yes it should, thanks!

[2020-03-26 11:08] #554 closed

[2020-03-26 11:11] JosephWoodward commented on #608
Yeah, I'd certainly be up for some help on keeping this up to date. Given all of @jnm2's work he seems like a good candidate.

[2020-03-26 11:17] brunomasantos commented on #281
Completely missed it, sorry 👍

[2020-03-26 11:58] brunomasantos commented on #557
From what i can understand in here, this would be something like:

[code]

Wondering if you are ok with me picking this up. Also it would be great for @jho1965us to gives us the real use case to add a unit test matching it.

[2020-03-26 12:18] jnm2 commented on #608
Thanks for the vote of confidence! I'm hesitant because I'm always behind on what I think I should be doing, so I may disappoint. On the other hand, I use Shouldly everywhere and would like to give back.

At one point I thought @slang25 already had merge permissions. He's been pretty active here. My perception is that he'd be a capable co-maintainer if available.

[2020-03-26 17:10] egil opened #609 "Add and require C# XML documentation on public methods"
It would really push this library to the next level if all public assert methods had good [XML documentation](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/).

Most of the time, the vocabulary used to name assert methods is so good that docs are not needed, but some of the lesser used methods does require me now and then to look it up in the docs to make sure I am getting

[2020-04-03 18:40] mdaniyalkhann commented on #577
@kerdemirer you can use
[code]

[2020-04-23 21:23] daningalla opened #615 "Should.ThrowAsync not catching exception"
These behave differently. XUnit test passes while Shouldly fails:

[code]

[2020-04-23 22:30] sungam3r commented on #615
Try 4.0.0-beta0002

[2020-04-23 23:38] JosephWoodward commented on #615
I really need to move that out of beta...

[2020-04-23 23:38] JosephWoodward commented on #615
@daningalla Let me know if that solves the problem you're seeing.

[2020-04-24 00:26] daningalla commented on #615
@JosephWoodward  - indeed it does.

[2020-04-24 01:08] JosephWoodward commented on #615
@daningalla Great! I'll close this off then if that's okay?

[2020-04-24 01:08] #615 closed

[2020-04-24 13:30] daningalla commented on #615
Thank you @JosephWoodward, excellent work.

[2020-04-29 16:28] rubans opened #616 "ShouldBe() on two simple objects failing"
I have the following code :
`
var expect = new Dummy()
{
    Prop = 1,
};
var actual = new Dummy()
{
    Prop = 1
};
actual.ShouldBeSameAs(expect);
`
I have similar example elsewhere of this working so I would assume this should be working but I get an exception:
Shouldly.ShouldAssertException : actual
        should be same as
    UnitTests.Dummy (56005557)
        but was
    UnitTests.Dummy (16

[2020-04-29 16:31] JosephWoodward commented on #616
Thanks for reporting this. The `ShouldBeSameAs` feature is still in its infancy so reports like this are really valuable.

[2020-05-05 19:28] amandal1810 commented on #616
@rubans  as far as i can see from the code and unit test cases, the `ShouldBeSameAs` feature is supposed to compare the object references and not the properties of the objects.

@JosephWoodward and owners of this project: what should be the intended expectation from the `ShouldBeSameAs` feature? Should it look at the object properties?

[2020-06-01 02:26] SimonCropp opened #617 "can i become a core contributor?"

[2020-06-01 14:00] meJevin commented on #512
I think this is not a bug, because this boils down to calling `DateTime.Equals` on `x` and `y` objects.
Indeed, the code below yields the same result

[code]

Comparing `DateTime` objects with different kinds is a bad idea in the first place.

[2020-06-01 14:06] meJevin commented on #616
@JosephWoodward I have the same question as @amandal1810. What does that feature do?

[2020-06-01 22:56] JosephWoodward commented on #617
Hi Simon, thanks for your interest! I'm a bit hesitant to make anyone without a history of contributions to Shouldly a core contributor. Out of interest, why are you interested in becoming a core contributor over a contributor?

[2020-06-01 23:14] #602 closed

[2020-06-01 23:18] SimonCropp commented on #617
even though i dont use shouldly, i like the concept and i think it is something that should continue to exist and be maintained.

It seems you are not short on contributors https://github.com/shouldly/shouldly/pulls. but you need more people to help triage , merge, and release

Happy to run as a trial. perhaps 2-3 weeks. if u think it is not working out, remove me and no hard feelings.

[2020-06-02 22:24] JosephWoodward commented on #617
This is true. And there's some things I'd really like to get done but lack the time sometimes. Is this a long term commitment you're interested in?

[2020-06-02 22:27] SimonCropp commented on #617
depends if i can have an impact.

how about we close this for now. i will see what impact i can have as a non maintainer. and we can re-evaluate in the future?

[2020-06-02 22:42] JosephWoodward commented on #617
Do you fancy continuing this conversation over DM on Twitter?

[2020-06-03 00:11] SimonCropp commented on #617
sure. DMd u

[2020-06-03 10:39] #617 closed

[2020-06-03 11:30] SimonCropp commented on #47
given how many different similar algorithms there are, IMO this should not be part of the shouldly.. perhaps it could exist as another nuget that extends shouldly?

@JosephWoodward thoughs?

[2020-06-03 11:33] SimonCropp commented on #253
the difficulty with this is how to serialize the items to log. the only viable option is to call `ToString`, which for many types will output the typename. with that constraint would this still be useful enough?

[2020-06-03 11:35] SimonCropp commented on #255
@JulienFiaffe  given you dont have a specific use case for this. perhaps it is best to close it for now, and re-visit if someone can articulate a real use case?

[2020-06-03 11:37] SimonCropp commented on #531
@ealhomsi @martincostello can one of you supply a minimal and stand alone solution that reproduces this issue?

[2020-06-03 11:40] SimonCropp commented on #557
i dont think "exceptions should be serializable" applies to when the exceptions are being throw directly to a test runner.

@jho1965us @EranOfer @brunomasantos  If you think it is necessary, can u provide a minimal standalone repro solution that illustrates where an exceptions not being serializable causes problems in the context of shouldy

[2020-06-03 11:53] SimonCropp commented on #519
ShouldNotBeAssignableTo maps to [Type.IsInstanceOfType](https://docs.microsoft.com/en-us/dotnet/api/system.type.isinstanceoftype). so i think the current behavior is correct.

@JosephWoodward i think this one can be closed

[2020-06-03 11:55] SimonCropp commented on #549
@JosephWoodward given the PR was merged, i think this can be closed

[2020-06-03 12:00] SimonCropp commented on #461
@JosephWoodward  given 452 was released in 2014, i dont think it is worth the effort in adding support for it at this time. thoughts?

[2020-06-03 16:22] JosephWoodward commented on #549
@SimonCropp Thanks!

[2020-06-04 12:27] JulienFiaffe commented on #255
@SimonCropp given it has been 5 years without any new input, I do not mind closing this issue.
Doing it now, thank you for the reminder.

[2020-06-04 12:27] #255 closed

[2020-06-04 15:24] Hefaistos68 opened #621 "ShouldBeNull() calling GetHashcode on null object"
For whatever reason, ShouldBeNull() is calling GetHashCode on the object in question, which IS null.
[code]
The code is question is:

[code]
Thread is a simple class with a name and an int ID (not the System Thread class)

[2020-06-04 18:24] JosephWoodward commented on #616
@meJevin @rubans Hi, sorry for the delay. I was getting my methods mixed up, `ShouldBeSameAs` does a referencial check on the types so that test is expected to fail. If you're looking to compare if the two objects are equivalent then you can use the `ShouldBeEquivalentTo` assertion in the latest preview. It's this extension which is a new feature that I refer to in my first comment.

[2020-06-04 18:25] JosephWoodward commented on #616
I'm going to close off this issue but please feel free to response with any further questions.

[2020-06-04 18:25] #616 closed

[2020-06-05 02:38] JosephWoodward commented on #621
@Hefaistos68 I'm having a hard time replicating this. This is what I've got at the moment:

[code]

[2020-06-05 02:41] JosephWoodward commented on #460
This hasn't seen much activity in way of others interested in this feature so I'm going to close it off for now.

[2020-06-05 02:41] #460 closed

[2020-06-05 08:18] Hefaistos68 commented on #621
I have here both classes implementing IEquateable and Bobbin.Thread being null. Besides that, thats pretty much what I see here.

[2020-06-05 09:14] JosephWoodward commented on #621
From looking through the source, the only reason Shouldly would call the `Thread.GetHashCode` method is if `Thead` is not null 🤔

I'm kinda flying blind with this, are you able to reproduce it in an example that I run?

[2020-06-05 09:16] JosephWoodward commented on #281
I'm going to close this one off as we've not had much interest it as a feature and agree with Jake that `enumerable.FirstOrDefault().ShouldBe(element)` is clearer.

[2020-06-05 09:16] #281 closed

[2020-06-05 09:18] JosephWoodward commented on #609
I agree, this would be great to do.

[2020-06-05 23:35] JosephWoodward commented on #47
@SimonCropp I agree, it's not something we've seen asked for in all the time this ticket has existed. I'll close 👍

[2020-06-05 23:35] #47 closed

[2020-06-05 23:37] JosephWoodward commented on #245
This can be closed.

[2020-06-05 23:37] #245 closed

[2020-06-05 23:39] #403 closed

[2020-06-05 23:39] #320 closed

[2020-06-05 23:43] SimonCropp commented on #47
any other issues/prs u want to close for the same reason?

[2020-06-05 23:47] JosephWoodward commented on #575
I'm going to close this off as one of Shouldy's aims is to be simple and we've actively tried to keep a fluent API out of it.

[2020-06-05 23:47] #575 closed

[2020-06-05 23:49] JosephWoodward commented on #621
As I'm unable to replicate I've removed the bug label in the meantime.

[2020-06-06 16:31] Hefaistos68 commented on #621
Monday I will give it a try, make a repro case here.

[2020-06-06 18:21] JosephWoodward commented on #621
@Hefaistos68 That'd be great, thanks!

[2020-06-08 09:14] JosephWoodward commented on #520
I'm currently building a new site which will feature this information, but as someone that was using Shouldly and became a contributor the big sell for me and others is the simplicity of the assertions.

I've always felt the fluent API of FluentAssertions was unnecessary and added too much visual noise for me, for instance:

[code]
vs
[code]

Shouldly (I believe) also had the friendly error messag

[2020-06-08 09:14] #520 closed

[2020-06-08 09:27] Hefaistos68 commented on #621
Ok, made a repro case here. Point is: its actually not a direct bug in Shouldly, but should be catched. What happened here is that in the Thread class, the "name" was null, but the Thread member in Bobbin was NOT null.

`
	public class Thread2 : IEquatable<Thread2>
	{

		private string _name;

		public Thread2(string name)
		{
			Name = name;
		}

		public Thread2()
		{
		}

		public int ID { get;

[2020-06-08 09:50] JosephWoodward commented on #599
Going to close this off as it's no longer an issue, thanks for making us aware of @mqtwinter

[2020-06-08 09:50] #599 closed

[2020-06-08 22:03] #282 closed

[2020-06-08 22:07] JosephWoodward commented on #376
Now this feature targets .NET Standard this should work so closing this issue.

[2020-06-08 22:07] #376 closed

[2020-06-08 22:09] JosephWoodward commented on #461
@SimonCropp Agreed, we'd like to get off the older .NET versions ideally.

[2020-06-08 22:09] #461 closed

[2020-06-08 22:10] JosephWoodward commented on #491
This should now be fixed, please let me know if it's still an issue.

[2020-06-08 22:10] #491 closed

[2020-06-08 22:11] JosephWoodward commented on #469
This should no longer be an issue, let me know otherwise.

[2020-06-08 22:11] #469 closed

[2020-06-10 07:23] xhafan commented on #340
@CreepyGnome Why did you close this issue? As far as I know Shouldly is not able to compare collections regardless the order of items.

[2020-06-10 11:56] niekw91 commented on #587
I think the 'ShouldStartWith' method is displayed in the wrong category as it is not executed on an Enumerable but on the 'String' type instead. The rest of the methods are all present on the Enumerable type and should be visible in code.

[2020-06-11 00:05] SimonCropp commented on #532
@trondtactile @JosephWoodward  given it is possible to use newer version of .net in unity i think this should be closed https://docs.microsoft.com/en-us/visualstudio/cross-platform/unity-scripting-upgrade?view=vs-2019

[2020-06-11 00:06] SimonCropp commented on #557
@JosephWoodward close for now?

[2020-06-11 00:32] JosephWoodward commented on #532
@SimonCropp Good shout, closing...

[2020-06-11 00:32] #532 closed

[2020-06-11 02:44] SimonCropp commented on #407
@Eirenarch given shouldly has no knowledge of the current test framework, how would you propose that it work out what exception type to throw?

[2020-06-11 02:58] SimonCropp commented on #502
@JosephWoodward want a PR for this?

[2020-06-11 03:37] SimonCropp commented on #253
@JosephWoodward i think we should close this one. seems simple but is very difficult to implement

[2020-06-11 07:18] Eirenarch commented on #407
@SimonCropp please read my post to the end. It can be done with framework specific providers and I have linked the approach of Fluent Assertions

[2020-06-11 08:43] JosephWoodward commented on #407
This sounds like a good feature to introduce. The more we can clean up from the test output the better.

[2020-06-11 13:12] SimonCropp commented on #407
we could check the references in the calling assembly, then invoke the correct exception type with reflection

[2020-06-11 17:46] snobu commented on #519
While i appreciate the answer even if it comes two years late (i do open source as well and best effort is still real effort) and i'm not mad at all, still, reading this out loud doesn't make any sense:
[code]

[2020-06-13 08:27] SimonCropp commented on #600
I dont think this is possible to fix. From my experience with approvaltests and verify (that have similar functionality) you cant determine what instance of VS ran the test and even if you could you cant pick an instance of VS to launch the diff in.

[2020-06-13 08:28] SimonCropp commented on #600
That is why VS is very far down list of tool preference here https://github.com/VerifyTests/DiffEngine/blob/master/docs/diff-tool.order.md

[2020-06-13 18:06] JosephWoodward commented on #600
@SimonCropp That's an interesting question, I'm not sure (it was before my time). That's interesting to know that it's not possible to know which instance to launch the diff view in.

[2020-06-14 07:54] SimonCropp commented on #512
Yeah i dont think the default date equality behaviour should be changed.

@JosephWoodward suggest this should be closed

[2020-06-20 16:02] patriksvensson opened #623 "Add ShouldBe support for unsigned integers"
First, thank you for a fantastic library. I've been using it for quite some time and I love it.

I noticed today that there is no `ShouldBe` method for `ulong` and `uint` and just wanted to raise an issue about it. Is this something you would accept a pull request for?

[2020-06-21 22:01] JosephWoodward commented on #623
@patriksvensson Thanks for your kind words, I wasn't the creator of Shouldly (just someone that really liked it) and have since become a core contributor.

We would gratefully accept a pull request for `ulong` and `uint` support if this is something you're interested in adding.

[2020-06-22 07:37] patriksvensson commented on #623
@JosephWoodward Absolutely 😊 Will submit one for this then!

[2020-06-22 07:58] patriksvensson commented on #623
@JosephWoodward This is a bit embarrasing, but Shouldly already have this and I didn't read the error message.

[code]

I got the error because there isn't a conversion from `int` to `uint`. Instead of saying that I got the error :

[code]

So not a problem with Shouldy, but more of a problem with the C# compiler which I think should be able to give us a better error message.

We could add explici

[2020-07-02 22:29] SimonCropp commented on #600
so do we close this?

[2020-07-04 06:36] SimonCropp commented on #531
given CI now passes on ubuntu, i will close this one. please let me know if it is still and issue

[2020-07-04 06:36] #531 closed

[2020-07-04 08:14] #424 closed

[2020-07-04 11:29] SimonCropp commented on #585
closing since this is fixed in the current beta.

@daningalla no idea on the next release. perhaps raise a new issue to have that specific discussion?

[2020-07-04 11:29] #585 closed

[2020-07-04 11:41] #291 closed

[2020-07-04 11:50] SimonCropp commented on #217
given https://github.com/shouldly/shouldly/pull/430 is merged, i will close this

[2020-07-04 11:50] #217 closed

[2020-07-04 11:51] #557 closed

[2020-07-04 11:51] #512 closed

[2020-07-04 12:00] SimonCropp commented on #433
@krzysztofowsiany @vorou still interested in this one? anyone want to submit a PR?

[2020-07-04 12:11] SimonCropp commented on #609
closing this one for now. docs can always be better, and no amount of change will ever make this one done. Always happy to accept PR for docs (xml or otherwise)

[2020-07-04 12:11] #609 closed

[2020-07-04 12:22] #584 closed

[2020-07-05 00:52] #562 closed

[2020-07-05 00:53] SimonCropp commented on #623
@patriksvensson next release is v4, so breaking changes in side effects are ok. so i say go for it and submit a PR

[2020-07-05 00:56] SimonCropp commented on #458
given there is no repro for this, and @RPM1984 has a workaround, and it has been 3 years, i will close for now. happy to revisit if more info becomes avaliable

[2020-07-05 00:56] #458 closed

[2020-07-05 00:58] SimonCropp commented on #142
@chaitanyagurrapu are you still interested in this feature?

[2020-07-05 01:00] SimonCropp commented on #254
@banderror happy to consider a PR. if you still need this?

[2020-07-05 08:27] SimonCropp commented on #303
anyone want to submit a PR?

[2020-07-05 08:27] #289 closed

[2020-07-05 08:31] SimonCropp commented on #280
given https://github.com/shouldly/shouldly/pull/410 is merged i will close this

[2020-07-05 08:31] #280 closed

[2020-07-05 08:34] SimonCropp commented on #366
version 4 will support .NETStandard 1.3 and up which includes UWP 10.0

[2020-07-05 08:34] #366 closed

[2020-07-05 08:37] SimonCropp commented on #381
IMO this is not worth the effort (and resulting complexity). @JosephWoodward  thoughts?

[2020-07-05 12:03] carllaw6885 commented on #303
I’ll check this out and look to submit a PR for it.

[2020-07-06 07:08] SimonCropp commented on #472
given https://github.com/shouldly/shouldly/pull/498 is merged i will close this

[2020-07-06 07:08] #472 closed

[2020-07-06 07:16] #579 closed

[2020-07-06 07:22] SimonCropp commented on #569
@natiki currently no there is no way to do this in shouldly

[2020-07-06 07:22] #569 closed

[2020-07-06 09:41] SimonCropp opened #637 "remove Func<string> customMessage overloads"
@JosephWoodward @JakeGinnivan whats the point of passing the `customMessage` builder all the way through? why not just let all the apis take a string?

[2020-07-06 10:40] JosephWoodward commented on #600
@SimonCropp Yeah, if we can't control which window this opens in then we should close this off.

[2020-07-06 10:40] #600 closed

[2020-07-06 11:30] SimonCropp opened #638 "Drop support for netstandard1.3 and net451"
and only support netstandard2.0 and up. still gives pretty good coverage https://docs.microsoft.com/en-us/dotnet/standard/net-standard

@JosephWoodward thoughts?

[2020-07-06 12:44] SimonCropp commented on #388
@JosephWoodward FWIW this is how it is handled in diffengine https://github.com/VerifyTests/DiffEngine/blob/master/docs/diff-tool.md#maxinstancestolaunch

[2020-07-06 12:49] SimonCropp commented on #369
@asgerhallas  @xoposhiy how does this look https://github.com/shouldly/shouldly/pull/640?

[2020-07-06 12:52] SimonCropp commented on #608
@JosephWoodward @jnm2 @slang25

so the current status is I am a tourist with commit permissions. My goal is to get should back to a "maintained" state. i dont really have any skin in the game to be a long term maintainer, although i am happy to stick around if needs be. But i think adding @jnm2 and/or @slang25 as maintainer would be a good idea.

[2020-07-06 12:53] SimonCropp commented on #621
@Hefaistos68 that repro is pretty complex. is it possible to share a simpler one? or better yet share a failing unit test as a PR

[2020-07-06 12:55] SimonCropp commented on #397
given the timeline, and @JakeGinnivan last comment, i am closing this one for now.  happy to reopen if it still effects anyone

[2020-07-06 12:55] #397 closed

[2020-07-06 12:58] slang25 commented on #608
Thanks @SimonCropp, I appreciate the work you've put in here getting everything in good shape. Getting that Nullable Reference stuff merged is a big deal too 🥳

I'd love to join as a maintainer, I think like @JosephWoodward (and @jnm2) my availability is a bit "spikey", but with more of us there's a better chance we'll have things covered and can give each other some encouragement.

[2020-07-07 02:59] jnm2 commented on #637
ℹ NUnit has the same thing. I think it's in case it slows down the test to build the message. I think I used it maybe once, ever.

[2020-07-07 03:11] JakeGinnivan commented on #637
That would be my guess, avoid creating a potentially large string/evaluating the things which create the custom message if it's not needed.

That said, that seems like a premature/unnecessary optimisation

[2020-07-07 03:19] SimonCropp commented on #637
any objections to me removing and only having a string. it deletes a massive amount of code

[2020-07-07 03:27] SimonCropp commented on #638
@JakeGinnivan @jnm2 slang25 thoughts?

[2020-07-07 04:23] jnm2 commented on #638
The net difference when removing netstandard1.3 is dropping support for .NET Core 1.0 (Microsoft no longer supports it), certain versions of Xamarin, and UWP 10.0. IIRC there is no reason not to move to the version of UWP that supports netstandard2.0 since it runs on all versions of Windows that Microsoft currently supports.

The net difference when removing net451 is that people who target net451

[2020-07-07 04:27] SimonCropp commented on #638
also we are in a test context here. if people are in a pinch, they can still target net451-net46 in prod, but test against 461. i suspect most OSS projects dont test against all their supported runtimes anyway

[2020-07-07 04:36] SimonCropp commented on #638
as an aside i wish it didnt. i extend nunit in a couple of projects. and people expect those projects to support net35 simply because nunit does

[2020-07-07 09:05] banderror commented on #254
@SimonCropp nope, I don't. There are no thumbs-ups etc as well, so I think it makes sense to close this 🙂

[2020-07-07 09:24] SimonCropp commented on #254
@banderror thanks

[2020-07-07 09:24] #254 closed

[2020-07-07 10:59] slang25 commented on #638
I agree with what's been said here. A year ago I might have had a different answer, but today everything below TFMs supporting netstandard2.0 are in maintenance mode, and I can't see there being a good reason to not update test projects to a more supported framework runtime where necessary.

[2020-07-07 12:38] jnm2 commented on #638
One reason could be that the framework behaves differently due to behavior quirking. Here is a list of what changes: https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/retargeting/4.5.1-4.6.1

[2020-07-07 14:39] SimonCropp commented on #637
specifically. it removes 1600 lines of code

[2020-07-07 15:07] jnm2 commented on #637
Having time to publish versions with [Obsolete], but people do expect a few such breaks in a major release too.

[2020-07-07 17:53] JosephWoodward commented on #637
I'd be happy to remove the delegate versions. Perhaps to save confusion we leave the extension methods there for a bit with `[Obsolete(true)]` and a description with how to fix as opposed to just removing them?

[2020-07-07 22:06] SimonCropp commented on #638
well i guess we can target 472 or target lower and issue the same warning

[2020-07-07 22:40] SimonCropp commented on #638
how about this

 * release a beta with only netstandard2. publicise the fact that this is coming. see if anyone has legit objections, if the do we can re add some lower runtimes
 * if there are no objections, release a stable. then again, if there are legit objections we can re-add some lower runtimes

[2020-07-08 05:33] chaitanyagurrapu commented on #142
@SimonCropp I haven't used Shouldly in a little while so I am afraid I have to say that I am not particularly invested in the feature at the moment.

[2020-07-08 05:38] SimonCropp commented on #142
thanks. i will close this for now

[2020-07-08 05:38] #142 closed

[2020-07-08 11:20] #637 closed

[2020-07-08 12:19] SimonCropp commented on #391
@JakeGinnivan still think this is necessary?

[2020-07-08 12:22] SimonCropp commented on #572
closing due to no response

[2020-07-08 12:22] #572 closed

[2020-07-08 13:30] JakeGinnivan commented on #391
Honestly no idea, happy to close

[2020-07-08 13:30] #391 closed

[2020-07-08 17:15] gregmac commented on #623
Don't forget `ushort`! 😊

[2020-07-09 22:10] SimonCropp commented on #638
@JosephWoodward r u ok with the above plan?

[2020-07-09 23:19] JosephWoodward commented on #638
@SimonCropp Yeah, sounds like.a good idea. Perhaps we keep this issue open for people to raise objections along the way?

[2020-07-10 13:30] dennisroche commented on #388
`DiffRunner.MaxInstancesToLaunch(5);` helps solve the problem without having to mess about with `AppDomain.Unload`

Happy to close.

[2020-07-10 13:31] dennisroche commented on #388
🤦‍♂️ that was in another project.

yes, we should copy that approach 😀

[2020-07-10 13:34] dennisroche commented on #303
@carllaw6885 thanks. shout if you need help.

[2020-07-11 01:43] hrai commented on #421
Looks like this has already been addressed.

![Screenshot from 2020-07-11 11-41-04](https://user-images.githubusercontent.com/4055444/87213898-c7400500-c36b-11ea-8574-daf8ab8e3b45.png)

[2020-07-14 12:58] #412 closed

[2020-07-16 08:57] #508 closed

[2020-07-16 09:43] JosephWoodward commented on #508
For anyone landing on this page from Google, this feature is now in the [latest beta release](https://www.nuget.org/packages/Shouldly/4.0.0-beta0002).

[2020-07-16 12:00] #369 closed

[2020-07-29 20:13] jnm2 commented on #638
Should this issue be closed now that #643 is merged?

I'd love to have a beta to play around with btw, whenever the breaking changes have mostly settled.

[2020-07-29 21:45] SimonCropp commented on #638
@jnm2 it is open since @JosephWoodward requested it to remain open. I am happy to close

and i wanted to get this resolved before doing a beta https://github.com/shouldly/shouldly/pull/644

[2020-07-29 21:51] jnm2 commented on #638
Oh, ignore me. I remember reading that but I missed it this time through.

[2020-08-04 08:56] SimonCropp commented on #592
fixed by https://github.com/shouldly/shouldly/pull/644

[2020-08-04 08:56] #592 closed

[2020-08-04 08:59] SimonCropp commented on #638
ok i am going to close this. it is in the 4 milestone so people can see it as part of the change list

[2020-08-04 08:59] #638 closed

[2020-08-04 09:01] #388 closed

[2020-08-04 09:02] #551 closed

[2020-08-19 15:05] Hefaistos68 opened #654 "At loss with shouldly result"
Just got this out of a unit test:
[code]

from my point of view there is no difference according to the message. In fact both objects are empty containers. Yet something triggered the failure and shouldly could not express the difference.
I will dig into this and let you know whats up with that. Maybe we can improve it somehow.

[2020-08-29 14:25] patriksvensson opened #657 "Error: "Shouldly uses your source code to generate its great error messages""
Started seeing errors in my builds on Windows (Linux and MacOS seems to be fine) when running my tests in Release mode, and not for every test, just a couple of them. I can't reproduce this locally, only in GitHub Actions.

[code]

Link to build here for more context: https://github.com/spectresystems/spectre.cli/runs/1045311427?check_suite_focus=true

Haven't seen this before, is it some kind of

[2020-08-29 18:30] slang25 commented on #657
I'll take a quick look and see if I can replicate. There are a few factors that can produce that message, and the message itself isn't quite accurate.

Shouldy walks the stack to try to find your method, and the place where the assertion was specified. This relies on debug builds (to prevent inlining etc...) and debug symbols being loaded (not "Full" as specified in the message).

There have been

[2020-08-30 07:47] patriksvensson commented on #657
@slang25 I understand. And after digging into the code a bit I realize this is my own mistake. Closing the issue.

[2020-08-30 07:47] #657 closed

[2020-08-30 07:50] slang25 commented on #657
I'm really curious about the ci issue though, it happens every time in CI, but I can't replicate it locally (same SDK version, same commands and everything!), and it should be able to use debug symbols here, I don't get what is going on.

[2020-08-30 07:55] patriksvensson commented on #657
@slang25 It's an exception in another assembly that tries to get `System.Console.BufferWidth`. NCrunch and `dotnet test` returns an actual ConsoleHandle, while GitHub Actions on Windows does not, so it throws. Looks like I haven't built the other assembly (Spectre.Console) with all debug symbols.

[2020-08-30 07:57] patriksvensson commented on #657
Working on a fix for this now. But as a side note, I noticed that there is a `ShouldlyConfiguration.DisableSourceInErrors` that disables this via the current call context. Would be awesome if there was a way of disabling this for a whole assembly somehow.

[2020-09-01 15:22] lommez opened #659 "ShouldNotThrowAsync not available"
I've downloaded the package 3.0.2 but the extension method ShouldNotThrowAsync is not available.
Or am i missing something?

Here is my code:
[code]

[2020-09-02 00:50] JosephWoodward commented on #659
Hi @lommez, check out the [latest beta package](https://www.nuget.org/packages/Shouldly/4.0.0-beta0002), you'll find it in there.

[2020-09-02 00:50] JosephWoodward commented on #659
I'll close this off in the meantime, any other questions then please feel free to ask.

[2020-09-02 00:50] #659 closed

[2020-09-12 11:53] Piedone opened #663 "Sponsorship"
Would it be possible to set up GitHub sponsorship for the project, or some other way to financially contribute?

[2020-09-19 17:23] slang25 commented on #654
Interesting, can you share with us some of the test code? A small example recreating the issue would really help (or even just which assertion method is being used and the types).

[2020-09-19 17:32] slang25 opened #667 "GitHub Actions - Shouldly assertions not working"
I've seen in a few OSS projects, when running on GitHub Actions on Windows, the shouldly assertion fails with the following message:

What's unusual is that running the same commands locally seems to work, with the very same versions of the dotnet sdk, and exact same commands that GHA issues in CI.

Examples so far (that I can remember, there have been more):
- https://github.com/martincostello/al

[2020-09-19 18:35] JosephWoodward commented on #667
As you're aware, we've had a number of issues raised with this problem - so perhaps there is something deeper at play here...

[2020-09-20 03:25] SimonCropp commented on #663
@JosephWoodward do you want to go with

* GH sponsors? which requires a non-personal bank account for sponsoring a project
* Open Collective?

[2020-09-20 03:27] SimonCropp commented on #387
given the next version will support significantly more tools https://github.com/VerifyTests/DiffEngine#supported-tools i will close this

[2020-09-20 03:27] #387 closed

[2020-09-20 03:31] SimonCropp opened #669 "Take down other docs sites"
since we now have gitbook https://docs.shouldly.io/

@JosephWoodward can u take down

 * https://shouldly.readthedocs.io/
 * http://docs.shouldly-lib.net/

[2020-09-20 03:36] SimonCropp opened #670 "Version 4 stable"
Whats left to do for the v4 stable release?

[2020-09-20 03:37] SimonCropp commented on #670
ping @JosephWoodward @jnm2 @slang25 thoughts?

[2020-09-20 03:40] SimonCropp commented on #608
i added @jnm2 and @slang25

[2020-09-20 03:40] #608 closed

[2020-09-20 03:43] SimonCropp opened #671 "Minimize access"
@whatupdave @PandaWood @xerxesb @AnthonyEgerton @JakeGinnivan

just wondering if you still want to to have access to Github and/or the nuget for shouldly?

I am thinking from a security perspective it makes sense to minimize that access if it is no  longer required

[2020-09-20 03:49] JakeGinnivan commented on #671
You can remove me, I can request access again if I get back involved. Maybe just have at leave 2 so access is not lost if you happen to move on from the project etc

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Simon Cropp <notifications@github.com>
Sent: Sunday, September 20, 2020 11:43:45 AM
To: shouldly/shouldly <shouldly@noreply.github.com>
Cc: Jake Ginniva

[2020-09-20 06:35] AnthonyEgerton commented on #671
I’m happy for you to remove me.

Cheers,
Anthony

[2020-09-20 18:35] jnm2 commented on #621
Shouldn't `x.ShouldBeNull()` be doing `x is null` (`ReferenceEquals(x, null)`) and totally ignoring custom-implemented equality?

[2020-09-20 18:38] jnm2 commented on #670
A beta release possibly? (https://github.com/shouldly/shouldly/issues/638#issuecomment-655173490)

[2020-09-20 18:40] jnm2 commented on #623
And `sbyte`? :D

[2020-09-20 21:23] SimonCropp commented on #670
yep. will release a beta as soon as @JosephWoodward grants me nuget access :)

[2020-09-20 21:27] JosephWoodward commented on #670
Doing it tonight (sorry for being slack). It'd be great to get one final beta out before a stable v4 IMO.

[2020-09-20 23:50] JosephWoodward commented on #671
@SimonCropp I've removed Jake and Anthony 👍

[2020-09-20 23:53] JosephWoodward commented on #669
I'm not sure I have access to them (I think @JakeGinnivan has access). There's still some bits that need to be migrated over from the readthedocs site too, so probably worth leaving it there until that's completed.

[2020-09-20 23:54] JosephWoodward commented on #663
@SimonCropp I'm leaning towards the latter, though this really isn't something I've considered or have experience with. What would you suggest?

[2020-09-21 00:36] JosephWoodward opened #674 "int?.ShouldBeNull issue"
It looks like in the latest 0003 release we've broken the following scenarios when using `Nullable<T>` due to the [class constraint](https://github.com/shouldly/shouldly/issues/584):

[code]

[code]

[2020-09-21 00:50] JosephWoodward commented on #670
I've released a [0003 beta](https://github.com/shouldly/shouldly/releases/tag/v.4.0.0-beta0003).

I'm not sure I can add you to the NuGet organisation as I think it's still owned by @JakeGinnivan

[2020-09-22 06:13] SimonCropp commented on #663
my preference would also be Open Collective. want me to get that started?

[2020-09-23 18:11] jnm2 commented on #674
Yep, just hit this too on nullable struct types. I think the only real way to address #584 would be to start shipping an analyzer along with the library.

[2020-09-23 18:50] jnm2 commented on #674
I forgot, there's a resolution to this! C# now resolves overloads in this scenario:

[code]

[code]

[2020-09-23 19:03] jnm2 commented on #584
Adding `where T : class` broke existing code that used these extension methods on `System.Nullable<T>` values. The fix was to add overloads with `where T : struct` as well. (#676)

[2020-09-23 22:36] #674 closed

[2020-09-23 22:38] jnm2 commented on #670
The beta has an issue keeping me from moving to it which was just fixed (https://github.com/shouldly/shouldly/issues/674). Also @JosephWoodward I think there's a typo in the tag https://github.com/shouldly/shouldly/releases/tag/v.4.0.0-beta0003 (`v.` instead of `v`).

[2020-09-24 11:39] JosephWoodward commented on #670
Now that's been fixed, I'll publish a new beta tonight

[2020-09-24 17:08] r-pankevicius commented on #584
@jnm2 **Shame on me**: I forgot that `System.Nullable<T>` is a struct. I'll come back with my view on this before inspecting your changes "to avoid mind pressure".  😊

[2020-09-24 17:27] r-pankevicius commented on #584
This is version 3.

[code]

[2020-09-24 17:43] jnm2 commented on #584
Looks good. I think style guides recommend the syntax `T?` rather than `Nullable<T>` in C# source code. Another difference you'll see is that Shouldly is using C# 8's Nullable Reference Types feature, so the syntax is `T?` for `where T : class` as well.

[2020-09-24 17:49] r-pankevicius commented on #584
Your syntax` this T? actual` also looks good. The only difference semantically is ==/!== null and HasValue/! HasValue.

[2020-09-24 17:54] r-pankevicius commented on #584
I've heard about C# 8's Nullable Reference Types feature, but did not dig into it yet. Thanks for info.

[2020-09-24 18:56] jnm2 commented on #584
You can use both the operators and the HasValue property whether or not you use the syntax `T?` or `Nullable<T>`. `T?` is a synonym for `global::System.Nullable<T>` the same way that `(int, string) is a synonym for `global::System.ValueTuple<int, string>`.

[2020-09-24 19:12] r-pankevicius commented on #584
Oh, unit tests are not a target for optimization, so investigation deep to MSIL level if ==/!== operators are as optimal as property getter HasValue invocation do not make a difference.

[2020-09-28 08:58] SimonCropp commented on #559
@jnm2 now u have commit access. do u want to revisit this?

[2020-09-29 10:43] eddex commented on #308
Hi, I just found this issue and I'm a bit confused. The changes referred to in the comment above refer to a commit where next to documentation also code changes were done. Is this issue only about migrating the documentation or is this a some sort of a migration of the code too? And if so, where can we find the old codebase?

[2020-09-30 14:29] PatryxCShark opened #679 "How to check if two enumerations have the same values?"
Hi,
I want to check if two collections with GUID have all the same items, but the order is not important. for me
`IEnumerable<Guid> list1;
IEnumerable<Guid> list2;`

I can use:
;`list1.ShouldBe(list2);`
but here the order is important.

Is there any possibility to do it nicely in Shouldly?

[2020-09-30 20:39] jamesmcroft commented on #679
I ended up creating a custom extension method for this scenario called `ShouldBeEquivalentTo` which basically performs the check without a care for the order.

I'm not sure if there is a way of doing this in the Shoudly framework but I would always be interested in knowing if there is a way of achieving this.

Alternatively, very open to providing a contribution for this if not 😄

[2020-10-01 01:35] jnm2 commented on #669
https://github.com/shouldly/shouldly/issues/308 tracks the progress of migrating to readthedocs.

[2020-10-01 12:22] KonH commented on #133
@JosephWoodward Hello! I made PR which covers that case, please review it. Any feedback will be appreciated!

[2020-10-04 01:22] SimonCropp commented on #663
@JosephWoodward i need to be an admin of the org to set this up in open collective

[2020-10-04 01:23] SimonCropp commented on #654
@Hefaistos68 assuming the lack of response means you found a solution. if not can you share a small repro and we can re-open this issue

[2020-10-04 01:23] #654 closed

[2020-10-04 10:21] Hefaistos68 commented on #654
Sorry, am on medical leave and not working, will get back to it in a few weeks.

[2020-10-04 12:02] SimonCropp commented on #308
@jnm2 @JosephWoodward ok i made a fair dint on the usages snippets and the resulting exception. see update list above. changes have been deployed to the docs site.

[2020-10-04 12:45] JosephWoodward commented on #308
Oh nice! Well done!

[2020-10-04 14:05] jnm2 commented on #559
Yes, I would like to. I'll get a PR ready and then close #559 since it's based on a very old version and works with `List<T>` instead of `Nullable<T>`.

[2020-10-04 14:12] jnm2 commented on #559
Actually, now that we already have separate overloads of ShouldNotBeNull for reference types and value types, I'd like to propose that both of those return non-nullable T (unwrapping System.Nullable in the case of value types). This will kill two birds with one stone because I've also wanted ShouldNotBeNull to be chainable for reference types. It's also a super simple change. PR incoming.

[2020-10-05 02:20] RodgerLeblanc commented on #561
`ExpectedShouldlyMessage` is now `public` instead of `internal` following #648.

[2020-10-05 02:45] SimonCropp commented on #308
ok this is done. let me know if i missed anything

[2020-10-05 02:45] #308 closed

[2020-10-05 03:32] RodgerLeblanc opened #685 "Typos in Obsoletes.cs"
Noticed 2 typos :

- In `FuncCustomMessage` : `cusomMessage` instead of `customMessage`
- In `DiffMessage` : `seperated` instead of `separated`

[2020-10-05 08:33] #685 closed

[2020-10-10 07:25] #453 closed

[2020-10-10 11:44] SimonCropp commented on #663
opencollective created https://opencollective.com/shouldly

@JosephWoodward can u create an OC account so i can make u an admin?

[2020-10-10 11:46] SimonCropp commented on #669
@jnm2 @JosephWoodward i think i have migrated all the existing doco from the old sites. can u review?

[2020-10-10 11:48] SimonCropp commented on #663
GH funding created
![image](https://user-images.githubusercontent.com/122666/95654281-ba89a380-0b4a-11eb-9ff3-df752a9a0972.png)

[2020-10-10 12:00] SimonCropp commented on #433
looked at the current api, and i cant see anything that takes a ignoreOrder  for ShouldBe

[2020-10-10 12:15] SimonCropp commented on #663
note that i have left the default tiers in place. happy to take suggestions on modifications

[2020-10-11 23:16] Piedone commented on #663
Great! One can customize the amount when making the donation (with the minimum being the amount displayed for the tier) so it's basically just a question what's the minimum you'd like somebody to be able to call them "Sponsor".

Can you confirm you're ready to receive financial contributions?

[2020-10-13 08:29] sungam3r opened #693 "Regression in 4.0.0-beta0003"
[code]

[2020-10-13 09:55] SimonCropp opened #694 "ShouldCompleteInException ?"
[code]

Should this be clean up since we are making breaking changes? @jnm2 @JosephWoodward

[2020-10-13 09:57] SimonCropp commented on #694
modified here https://github.com/shouldly/shouldly/commit/50a46607fa196bbece867ce22efd812c2b3abb85

@bmpj13 any ideas?

[2020-10-13 09:59] SimonCropp commented on #694
actually modified here https://github.com/shouldly/shouldly/commit/896b6efcf5fbb022e2a3b41eb45b6033aacf8210

@JakeGinnivan any ideas?

[2020-10-13 11:54] JakeGinnivan commented on #694
Sorry, it's been too long

[2020-10-13 13:59] Shane32 commented on #693
Duplicate of #674 ?

[2020-10-13 14:18] sungam3r commented on #693
Maybe. I remember that error, but clearly speaking I was too lazy to look for it.

[2020-10-15 21:48] SimonCropp commented on #693
@JosephWoodward can u deploy 4.0.0-beta0004. i tried but got an error

[2020-10-15 22:20] JosephWoodward commented on #693
@SimonCropp Sure, I'll try it in a mo. What error were you seeing?

[2020-10-15 22:22] SimonCropp commented on #693
![image](https://user-images.githubusercontent.com/122666/96192074-01cfc400-0f91-11eb-831b-3fd3fab05fa9.png)

[2020-10-16 08:55] JosephWoodward commented on #674
This has been fixed in the latest release https://www.nuget.org/packages/Shouldly/4.0.0-beta.4

[2020-10-16 08:56] JosephWoodward commented on #693
@SimonCropp @Shane32 @sungam3r There we go, that's been deployed and can be found [here](https://www.nuget.org/packages/Shouldly/4.0.0-beta.4)

[2020-10-16 12:22] jnm2 commented on #694
The problem with removing the base class is that it silently breaks code that was catching ShouldlyTimeoutException and expecting to catch both kinds of exceptions. I don't really see the benefit to having code that catches assertion exceptions in general except perhaps utility methods.

[2020-10-16 12:39] jnm2 commented on #308
@SimonCropp You're a legend!

[2020-10-16 12:44] jnm2 opened #697 "Consider moving the solution file to the repo root"
Pros:
- `dotnet build`, `dotnet test`, etc would all work in the repo root
- It's easier to start VS when you leave your terminal open in the repo root (`sh`, Tab, Enter)
- It makes more sense if there are ever projects in the solution outside the `src` folder, like `build` or `deploy` or `tests` etc

Cons:
- Adding new projects will require inserting `src/` into the default path Visual Studio sug

[2020-10-16 12:48] jnm2 commented on #669
It looks great from the dozen or so pages I looked at! I don't have time to comb through deeply right now. If that's a need, I'd feel better if we came up with a CI check to make sure all `Should*` extension method names are documented.

[2020-10-16 13:08] jnm2 opened #698 "ShouldBeCompletedSuccessfully to unwrap Task<T> results"
Helpers for this end up in just about every project I work on. This would be equivalent to `task.IsCompletedSuccessfully.ShouldBeTrue()` (on .NET Framework, `task.Status.ShouldBe(TaskStatus.RanToCompletion)`) followed by `return task.Result;`. (`Task.Result` has no detrimental behaviors when the task is successfully completed.)

Logical extensions of this:
- Methods returning void on non-generic `

[2020-10-16 16:18] JosephWoodward commented on #693
I'm going to close this issue off now the package is available, please feel free to reopen if necessary.

[2020-10-16 16:18] #693 closed

[2020-10-16 16:19] JosephWoodward commented on #697
I'm with you on this one, it's something I've been meaning to do at some point.

[2020-10-16 17:54] jnm2 commented on #584
Just updated to beta0004 and found a latent bug in our tests because of this :D

[2020-10-16 23:23] #133 closed

[2020-10-16 23:39] SimonCropp commented on #694
If there is no scenario for people to catch these exception types, i think we should remove them

[2020-10-16 23:40] SimonCropp commented on #669
@jnm2 i did consider that as well. Although for now i think it is safe to take down the other docs sites?

[2020-10-16 23:45] jnm2 commented on #694
I'm aware I'm appealing on the basis of lack of imagination here. 😄 But removing them in a major version would be a forcing function to learn what the use cases might be that we would change our minds and support, and we can always restore them.

The framework guidelines say never to throw one of the base exception types though, so we can't remove all of them. We can make them internal though.

[2020-10-16 23:48] SimonCropp commented on #694
In this case the FW design guidelines are wrong. They were written only to consider APIs consumed in a real running app scenario. They never took into account using exceptions to communicate information to someone running a test

[2020-10-16 23:52] jnm2 commented on #694
Hmm, maybe. I'm not sure. On the other hand, I like seeing the exception type in the test results window because it tells me the exception originated from Shouldly and not from production or third party code.

[2020-10-17 01:51] JakeGinnivan commented on #669
Am I good to stop paying for shouldly-lib.net domain now too?

So just to confirm @SimonCropp, delete the readthedocs and readme.io sites. I can do that if so

[2020-10-17 06:01] SimonCropp commented on #669
@JakeGinnivan yep that correct

given we have `shouldly.io` i assume we dont need `shouldly-lib.net`. @JosephWoodward @jnm2 want to chime in?

[2020-10-17 06:08] JosephWoodward commented on #669
@JakeGinnivan Yeah, you're good to stop paying for the shouldly-lib domain as I've moved it to a trendy .io domain 😊

[2020-10-18 00:21] JakeGinnivan commented on #669
Done :)

[2020-10-18 01:45] #669 closed

[2020-10-18 20:38] #697 closed

[2020-10-23 06:00] SimonCropp commented on #694
given i dont feel strongly about it, i will close

[2020-10-23 06:00] #694 closed

[2020-10-23 06:01] SimonCropp commented on #670
@jnm2 @JosephWoodward i think we should push a stable now

[2020-10-23 12:29] jnm2 commented on #670
Can I have your thoughts on https://github.com/shouldly/shouldly/issues/698 quick?

[2020-10-23 20:00] slang25 commented on #698
I think there's value in this, and it's safe as you've explained.

[2020-10-23 22:44] PandaWood commented on #671
Hey sorry for the delay, yeah might as well remove me.

On Sun, Sep 20, 2020 at 1:43 PM Simon Cropp <notifications@github.com>
wrote:

[2020-10-23 23:22] #559 closed

[2020-10-23 23:36] SimonCropp commented on #698
while i think this is valuable, it doesnt look like a breaking change, so does it need to be included in v4?

[2020-10-23 23:38] SimonCropp commented on #671
@PandaWood thanks

[2020-10-24 10:36] #671 closed

[2020-10-26 02:54] AaqibAhamed commented on #381
Can I take this?

[2020-10-26 22:11] SimonCropp commented on #381
@JosephWoodward @jnm2 thoughts?

[2020-11-05 22:19] jnm2 commented on #381
It has to be something that is not a burden to extend over time.

[2020-11-05 22:21] jnm2 commented on #698
No, all new APIs. It can come later.

[2020-11-06 00:16] SimonCropp opened #705 "remove minver"
with how often  we deploy i dont think minver adds enough value. for me it adds friction, i had trouble getting the version correct on the last release.

imo we should remove it and just have the version in the dir props

thoughts

[2020-11-06 00:24] SimonCropp commented on #705
for context. i am the creator of GitVersion and i no longer use it on any of my projects. at the time, in old csproj world, it was a pain to keep the nuget version in sync with the assembly version. especially in thr context of a project producing multiple nugets. now the directory props it is simple to maintain

[2020-11-06 03:39] JosephWoodward commented on #705
I've no strong feelings about this, so happy to do it by hand 👍

[2020-11-06 03:41] JosephWoodward commented on #381
I'm inclined to agree. This has been open since 2016 and hasn't received much attention as a feature.

[2020-11-06 08:44] #705 closed

[2020-11-06 08:47] SimonCropp commented on #670
i started an upgrade guide https://docs.shouldly.io/documentation/3to4

any additions?

[2020-11-06 11:01] slang25 commented on #670
There are spelling fixes in the API, for example, `FilenameDescriminator` `->` `FilenameDiscriminator`

That's just from a quick scan of this:
https://www.fuget.org/packages/Shouldly/4.0.0-beta0004/lib/netstandard2.0/diff/3.0.2/

I'll have a proper look later.

[2020-11-06 11:35] JosephWoodward commented on #381
I think we can close this issue off if we've agreed we're not going to do it.

[2020-11-06 11:35] #381 closed

[2020-11-07 09:51] sungam3r opened #707 "Is Shouldly 4.0.0-beta0004 delay signed ?"
https://github.com/graphql-dotnet/graphql-dotnet/runs/1366189611 :
[code]

This happens only on `Microsoft Windows Server 2019` OS image and `net48` TFM.

[2020-11-08 00:26] SimonCropp commented on #707
can u try 4.0.0-beta.5

[2020-11-08 04:16] Shane32 commented on #707
I have verified that both the net451 and netstandard2.0 builds for shouldly 4.0.0-beta0002 will validate its strong signature with sn.exe, but shouldly 4.0.0-beta0004 fails verification

[code]

[code]

[code]

[2020-11-08 04:28] Shane32 commented on #707
[code]

[2020-11-08 04:34] Shane32 commented on #707
4.0.0-beta.5 has solved the build problem.

@sungam3r @SimonCropp I assume this issue can be closed now

[2020-11-08 05:25] SimonCropp commented on #707
yep :)

[2020-11-08 05:25] #707 closed

[2020-11-08 08:36] sungam3r commented on #707
Well done )

[2020-11-09 08:16] SimonCropp commented on #670
i am deploying v4 now.

[2020-11-09 08:16] #670 closed

[2020-11-09 16:42] jnm2 commented on #670
Thanks for keeping this moving!

[2020-11-09 17:43] jnm2 opened #710 "Analyzer for the hard-to-spot expr?.Prop.ShouldBe(x)"
`?.` is a natural thing to reach for here, but it doesn't have the intended effect when `expr` is null:

[code]

I can't think of a way to address this without starting to ship an analyzer with the Shouldly package.

This was probably the intended effect:

[code]

A fix that generates assertion messages with better information content would be to use our new chaining ability (requires Shouldly v4+

[2020-11-09 23:04] da1rren opened #711 "docs.shouldly-lib.net is returning a 404"
![image](https://user-images.githubusercontent.com/2702382/98606843-de720d80-22df-11eb-8a56-62333909a2e9.png)

[2020-11-09 23:05] #711 closed

[2020-11-09 23:05] da1rren commented on #711
My mistake the docs are over here: https://docs.shouldly.io/

[2020-11-09 23:05] SimonCropp commented on #711
@da1rren the new docs is at https://docs.shouldly.io/

where did u get the old docs link? so i can fix that reference

[2020-11-09 23:06] da1rren commented on #711
@SimonCropp Second result on google for me!

[2020-11-09 23:08] SimonCropp commented on #711
thanks. i have request google to remove that page

[2020-11-09 23:27] JosephWoodward commented on #711
As the domain has expired, hopefully it won't take long for Google to unlist those results. 🤞

[2020-11-12 11:25] SimonCropp commented on #710
i have not maintained an analyzer. but i dont object to one being added

[2020-11-12 11:47] JosephWoodward commented on #710
It's something I've considered before, and even started trying to make one. I'd be a great way to start to add some additional functionality into Shouldly (I was thinking, being able to switch simple xunit tests to Shouldly assertions for instance).

[2020-11-12 11:57] JosephWoodward commented on #710
@jnm2 Have you built an Analyzer before?

[2020-11-12 13:33] jnm2 commented on #710
Yes, a few from scratch and contributing to many others. I'd be happy to set everything up.

One question to answer would be whether to introduce a new package, Shouldly.Analyzers, or whether to put the analyzers in the same package. Most libraries go the separate package route because it allows independent control of the versions which can be useful. It's also easier to use the SDK to create the

[2020-11-14 12:45] slang25 opened #717 "Approval methods fail with TypeInitializationException under .NET 5"
As found by @gkinsman, when using things like `.ShouldMatchApproved()` results in an exception being thrown when targetting `net5`:

Repo: https://github.com/gkinsman/ShouldlyRepro

This is because the `EmptyFiles` package is expected to copy an `EmptyFile` directory to the bin folder on build, and does this via targets files in the nuget package.

Something has changed in .NET 5 around the behavi

[2020-11-14 12:49] slang25 commented on #717
Potential fix: https://github.com/VerifyTests/EmptyFiles/pull/71

[2020-11-15 07:23] SimonCropp opened #719 "work out why CS8631 and CS8620 started"
with an update to dotnet stable we started getting the following build warnings `CS8631` `CS8620`, which resulted in failing building in release mode.

[code]

[2020-11-15 07:24] SimonCropp commented on #719
i suppressed CS8631;CS8620 in the props for now

[2020-11-15 07:51] SimonCropp commented on #717
@gkinsman this should be fixed now. thanks @slang25 for the fix

[2020-11-15 07:51] #717 closed

[2020-11-15 14:59] slang25 commented on #717
Brilliant, confirmed using that repo updating with just a top-level dependency on Shouldly now does the right thing 🙂

[2020-11-15 16:02] gkinsman commented on #717
Awesome news, thanks!

[2020-11-18 03:52] PureKrome opened #720 "Questions about how the Shouldy NuGet package has been built"
G'Day! 👋🏻

Got a question about the Shouldly nuget package. Currently it's
- Embedded (vs a pdb)
- ~Not sourcelinked~ (updated: [it is actually](https://github.com/shouldly/shouldly/blob/master/src/Shouldly/Shouldly.csproj#L27))
- Not optimized
- Not deterministic

I'm not suggesting these settings are wrong - I'm curious to know the decisions behind this.

example ref: [build.targets](https://git

[2020-11-19 00:40] SimonCropp commented on #720
@PureKrome so those settings are optimised for a test project consuming shouldy (the most common scenario). So in that case the pdb type/optimized/deterministic should not matter.

I am guessing that you are not consuming shoudly from a test project but rather extending shoudly?

[2020-11-19 00:49] SimonCropp commented on #720
Also: the reason those settings are required is so that shouldly can properly walk the stack trace, find the root method, and generate the correct error message

[2020-11-19 01:56] PureKrome commented on #720
Nope - I have some old _library_ code I was experimenting with, updating from NET:poop: to NS20/NET50. It shouldn't be in my library, but I was trying to see if I could get an easy upgrade/quick win. (proper solution: remove it from library and just keep using them in tests).

I couldn't `dotnet pack` my library because I needed pdb's, and they were not getting generated. My test projects don't ne

[2020-11-19 01:56] #720 closed

[2020-11-21 10:53] mbhoek commented on #705
@SimonCropp I found this comment because shouldly is still listed as one of the projects using GitVersion. As you seem to be pretty explicit about no longer using GitVersion on any of your projects, you might want to get [the reference](https://gitversion.net/docs/who) removed?

[2020-11-22 11:59] SimonCropp commented on #705
@mbhoek i am no longer part of the GitVersion project and dont have commit permissions. you should feel free to submit a pull request to fix that reference

[2020-11-24 18:33] lprichar commented on #637
That is very cool, and I now understand why the feature was removed.

However, it's extremely useful for the .ShouldBeEmpty() method when you want to write out details about the item that actually came back when it was unexpectedly non-empty.  For instance if you're doing an import and have import errors like this:

`importErrors.ShouldBeEmpty(() => $"{importErrors[0].LineNumber}: {importErrors[0]

[2020-11-24 18:41] jnm2 commented on #637
That's a nice example, thanks @lprichar! Here's what I often do:

[code]

Extending to your example:

[code]

Or possibly string interpolation rather than a tuple.

[2020-11-24 19:08] lprichar commented on #637
Projecting a collection that's supposed to be empty in order to get useful error messages when it isn't.  Interesting solution.  Feels a bit hacky at first glance, but is definitely a very creative solution.  Thanks @jnm2.

[2020-11-24 19:42] jnm2 commented on #637
@lprichar It's felt like the most consistent approach in the most situations so far, and it usually feels like it has the best signal-to-noise ratio of all the options. I'm always on the lookout for better ideas!

[2020-11-24 21:28] jnm2 commented on #719
Updated compiler probably checks something I missed before. I'll take a look because we don't want to be suppressing especially these checks.

[2020-11-24 21:54] SimonCropp commented on #719
@jnm2 thanks

[2020-11-24 22:05] SimonCropp commented on #637
perhaps ShouldBeEmpty should serialize the list to a string and write the result on fail?

My personal approach would be to use snapshot testing via https://github.com/VerifyTests/Verify. then if the collection is not empty i get a diff tool opening showing the unexpected values in the list

[2020-11-25 15:39] loop-evgeny opened #723 "Project referencing Shouldly NuGet package is rebuilt every time, because no .pdb file is generated"
I created a trival C# project referencing Shouldly, like this:

[code]

`dotnet build` and Visual Studio build rebuild this project every time, even though no changes have been made. VS logs this:

Indeed, that .pdb file is not generated by the build, even though the default settings are to generate a .pdb file. It still happens even if I try to explicitly set the project to generate a .pdb file:

[2020-11-25 15:50] loop-evgeny commented on #723
Other projects in the solution (not referencing the test project) seem to sometimes be rebuilt now as well, but not every time:

I haven't investigated this further.

[2020-11-27 00:47] jnm2 opened #727 "There is no PR validation build check"
This makes it hard to see if I'm making a mistake, and it risks placing the master branch in an undeliverable state.

I'm not sure I have access to the AppVeyor account, but GitHub Actions is also quite good. I'd be willing to set that up if that sounds desirable.

[2020-11-27 00:54] jnm2 commented on #727
Looks like multiple PRs I just submitted fail when I run `dotnet test`. I'm used to PRs saving me the time to run the entire test suite and preventing me from forgetting.

[2020-11-30 10:02] JosephWoodward commented on #727
Yeah, we should get this fixed. I'm not sure what broke it 🤔

[2020-11-30 23:17] jnm2 commented on #727
I wonder if adding people to the org reset some token or other.

[2020-12-08 11:13] dashenxian commented on #723
I'm having the same problem，
create a new .net core3.1 ClassLibrary,then referencing Shouldly(4.0.1) on NuGet,build the project with visual studio2019

[2020-12-12 10:13] skrysmanski commented on #723
I'm running into the same problem - but with .NET 5.

[2020-12-12 10:32] skrysmanski commented on #723
I did some more digging and can confirm that the problem is that Shouldly is setting the debug type to "embedded".

You can confirm this by removing the line `<DebugType>embedded</DebugType>` from the `Shouldly.targets` file. On Windows, this file is located here:

    %USERPROFILE%\.nuget\packages\shouldly\4.0.1\build\Shouldly.targets

It appears that Visual Studio (or MSBuild or whatever) does n

[2020-12-12 23:46] KirillOsenkov commented on #723
I think it’s a bug in the fast up-to-date check logic in the new project system. Would you mind opening an issue at https://github.com/dotnet/project-system/issues/new and linking to this issue? I think there is a way to add the phantom pdb file into an exclusion list so it’s not considered output, but I can’t remember offhand how to do it.

[2020-12-12 23:51] KirillOsenkov commented on #723
https://github.com/dotnet/project-system/blob/master/docs/up-to-date-check.md

@drewnoakes

[2020-12-14 13:44] loop-evgeny commented on #723
This is not a problem with the fast up-to-date check, because it also happens with `dotnet build` (ie. without VS involved at all). If you run `dotnet build /v:n` you can see that it runs the `CoreCompile` target:

but if you run `dotnet build /v:n` twice for a project not referencing Shouldly the second time it says:

[2020-12-14 22:38] #719 closed

[2020-12-14 22:47] SimonCropp opened #731 "re enable mac build when appveyor is net 5"
https://github.com/appveyor/ci/issues/3565

[2020-12-14 23:22] #723 closed

[2020-12-16 08:33] jswolf19 opened #735 "`ShouldBe` on Enumerables assumes that an enumerable is traversable multiple times"
When `ShouldBe` on an enumerable fails, it reenters the enumerable in order to make its error message. It is my understanding, however, that enumerables are not guaranteed to be retraversable, and a test on such an enumerable results in incorrect error reporting.

My use case is with testing a CSV parser that, when calling `ReadLine()` returns an enumerable dependent on an underlying `TextReader`,

[2020-12-16 11:23] SimonCropp commented on #727
so do we delete and recreate the appveyor project?

[2020-12-16 15:53] jnm2 commented on #727
If we're deleting AppVeyor, can we move to GitHub Actions?

[2020-12-17 03:52] distantcam opened #736 "ShouldMatchApproved performance issues with large approvals"
We're having performance issues when using ShouldMatchApproved in various places when the exception message is shown.

- Visual studio intellisense for the exception message.
- Build server when the output of test runs shows the exception message.

This is due to the `expectedValue` being shown in the exception, when the approval is very large.

Is there a way to remove the `expectedValue` from th

[2020-12-17 03:53] SimonCropp commented on #727
no objections here

[2020-12-17 03:58] SimonCropp commented on #736
can u share some code that replicates the perf issues?

[2020-12-17 03:58] SimonCropp commented on #736
or if it is open source a url

[2020-12-17 04:06] SimonCropp commented on #723
can u try 4.0.2

[2020-12-17 04:34] distantcam commented on #736
@SimonCropp Updated with link to reproduction

[2020-12-17 08:47] martincostello opened #737 "Shouldly 4.0.2 adds lots of "empty.*" files to project"
With Should 4.0.2 installed in a test project, the project is filled with lots of files named `empty.*`, such as `empty.bmp`, `empty.docx` etc. They are further duplicated in an `EmptyFiles` folder.

![image](https://user-images.githubusercontent.com/1439341/102464488-4c7ac480-4044-11eb-9394-1bd8d8eb824e.png)

These files appear to be contained in the NuGet package, shown below in Solution Explore

[2020-12-17 08:48] martincostello commented on #737
For comparison, the 4.0.1 NuGet package is 129.77 KB compared to 4.0.2's 207.35 KB.

[2020-12-17 08:52] SimonCropp commented on #736
what diff tool r u using?

[2020-12-17 08:54] distantcam commented on #736
Beyond Compare. Why does that matter?

On Thu, 17 Dec 2020 at 4:52 pm, Simon Cropp <notifications@github.com>
wrote:

[2020-12-17 09:39] #737 closed

[2020-12-17 09:43] SimonCropp commented on #737
can u try 4.0.3

[2020-12-17 09:54] loop-evgeny opened #738 "Empty files are shown as included in project in v4.0.2"
When I upgraded my tiny test project from Shouldly v4.0.1 to 4.0.2 all the empty files Shouldly uses started appearing under the project, like this:

![image](https://user-images.githubusercontent.com/34301024/102471855-fadb3580-4055-11eb-9f35-767513236592.png)

This did not happen in v4.0.1. I don't want to see that - it's noise in the solution explorer.

(Ideally I don't really want those files

[2020-12-17 09:55] loop-evgeny commented on #723
v4.0.2 fixes this issue, thanks, but it adds a new one: https://github.com/shouldly/shouldly/issues/738

[2020-12-17 10:00] dashenxian commented on #738
The same is true of mine

[2020-12-17 10:01] SimonCropp commented on #738
so this also happens with 4.0.3

[2020-12-17 10:02] dashenxian commented on #723
It's ok now,[but Empty files are shown as included in project in v4.0.2 #738](https://github.com/shouldly/shouldly/issues/738)

[2020-12-17 10:15] bert2 commented on #738
4.0.3 fixed this for me.

[2020-12-17 10:17] #738 closed

[2020-12-17 10:21] bert2 commented on #738
thanks for fixing it so quickly, @SimonCropp 👍

[2020-12-17 10:25] martincostello commented on #737
Looks like that fixed it:

![image](https://user-images.githubusercontent.com/1439341/102475733-2a883e80-4052-11eb-8b46-b333b2fd7b6c.png)

[2020-12-17 10:30] loop-evgeny commented on #738
Great, v4.0.3 fixes it, thanks!

[2020-12-17 10:41] SimonCropp commented on #738
glad to hear

[2020-12-18 00:46] dashenxian commented on #738
thanks for fixing it so quickly, @SimonCropp 👍

[2020-12-29 17:47] dotnetchris opened #741 "Dependency free package?"
I noted some of the changes between 4 and 3 from the documentation, source, and just simply the dependencies i haven't specifically seen before.

I see one of the larger changes was the end of previous support for diff tool integration? (i wasn't even aware that was a feature nor something i could maybe need). That it was replaced with capabilities from DiffEngine. This is likely a good improvemen

[2020-12-29 18:37] SimonCropp commented on #741
what is the value to consumers of making this change?

[2021-01-05 18:24] dotnetchris commented on #741
People don't like package explosions, especially for small tools. The dependency chain for v4 is really egregious. There's just no need for it (personally the outcome is as of v4 I can't recommend this tool any longer).

Just as in the real world, I don't expect my screwdriver to have a monkey wrench hanging off the end.

[2021-01-05 23:41] SimonCropp commented on #741
so v4 (in the .NETStandard 2.0 variant) increases the dependencies from 3 to 4. i am not sure if i would call that change now a "really egregious dependency chain".

Would u like the dependencies on System.Memory split into a diff package as well?

There was and is a need for it. It fixed several bugs, reduced the amount of duplicate code that needed to be maintained, make test and releasing shoul

[2021-01-07 10:00] SimonCropp commented on #735
@jswolf19 can you share a failing unit tests as a Pull Request

[2021-01-07 10:15] jswolf19 commented on #735
@SimonCropp Yeah, I should be able to whip something up.

[2021-01-07 10:34] SimonCropp commented on #735
@jswolf19 awesome :)

[2021-01-11 10:12] loop-evgeny opened #747 "ShouldMatchApproved showing "approved" version on the right in diff tool seems counter-intuitive to me"
When ShouldMatchApproved() fails it calls the diff tool (Beyond Compare in my case) with the "received" file first, then the "approved" file, which makes the diff too show the "approved" file on the right. I find this quite counter-intuitive. I expect the "approved/expected" on the left and the "received/actual" value on the left.

I realise that this is subjective, but if you do an image search f

[2021-01-11 11:48] Ekkeir opened #748 "ShouldMatchApproved does not bring up difftool for some file extensions in Shouldly 4.x+"
After updating Shouldly from 3.x to 4.x, ShouldMatchApproved-based tests ceased bringing up a diff-tool window in Visual Studio.

It seems that "exotic" extensions are no longer accepted for some reason.

The following seems to reproduce the problem
[code]

Visual Studio is used as a diff-tool.

[2021-01-11 11:55] SimonCropp commented on #748
yep sounds like a bug. what progress have you made in fixing it?

[2021-01-11 11:57] SimonCropp commented on #747
isnt the convention for most diff tools to be received on left and current on right. then u accept  to the right?

[2021-01-11 12:24] Ekkeir commented on #748
Well, I downgraded back to Shouldly 3.x for now.

I can only assume it's somehow related to migration to diffengine in 4.0.

[2021-01-11 13:12] loop-evgeny commented on #747
I don't think the diff tools themselves have any convention - they just display files in the order you specify on the command line.

[2021-01-11 14:21] loop-evgeny opened #749 "Truncate output of ShouldMatchApproved"
When ShouldMatchApproved fails it outputs

My "approved" file is ~900 KB and such an amount of text is not handled well by tools like Visual Studio and TeamCity. Those tools *should* of course handle it better, but Shouldly can easily work around it by truncating the output to some reasonable length - nobody is going to read 900 KB anyway.

[2021-01-11 20:42] SimonCropp commented on #747
happy to accept a pr that optional switches it the other way

[2021-01-11 20:44] SimonCropp commented on #749
what size would u truncate to ?

[2021-01-11 20:45] SimonCropp commented on #748
glad you found a fix that works for you

[2021-01-11 20:45] #748 closed

[2021-01-11 20:46] SimonCropp commented on #741
let us know if you ever get around to a more detailed analysis

[2021-01-11 20:46] #741 closed

[2021-01-11 20:47] SimonCropp commented on #736
would this work for u https://github.com/shouldly/shouldly/issues/749

[2021-01-11 20:50] SimonCropp commented on #679
happy to accept a pr. thanks

[2021-01-11 22:01] Ekkeir commented on #748
Any plans to fix it though? Especially if it does seems to be a bug?

[2021-01-11 22:48] SimonCropp commented on #747
also the "expectation vs reality" image search is mostly about joke memes. where the punch line is "the reality" and hence has to come last

[2021-01-12 00:17] distantcam commented on #736
Yep, it's the same problem. Truncating or excluding the whole approval file from the exception message would fix the issue.

[2021-01-12 10:10] loop-evgeny commented on #747
That's true. I don't really know what other people expect on the left and right, so I'm hoping for some comments here from others!

[2021-01-12 10:14] loop-evgeny commented on #749
It would take some experimentation to see what VS and TeamCity handle but off the top of my head, I'd say ~ 50-100 KB. Seems unlikely that a person would manually inspect more text that to see the differences. They'd likely need to use the diff tool to compare received and approved for any more.

[2021-01-12 10:14] loop-evgeny commented on #749
Raised a TeamCity issue for this, by the way: https://youtrack.jetbrains.com/issue/TW-69539

[2021-01-18 13:57] benmccallum opened #753 "Support for ValueTask"
Sorry if my knowledge in this space makes this all invalid, but I've recently needed to start writing tests against `ValueTask`-returning methods and was surprised that I couldn't do:
[code]

In a few places I was able to tack on the end `.AsTask()` to make it fit the existing `Task` overloads:
[code]

But this seems to fall over when the method is only doing sync things as I believe the `ValueTas

[2021-01-18 13:59] benmccallum commented on #753
Not sure how to title this without sounding patronizing whilst acknowledging the fact there is support with .AsTask() but I've seemingly to find a loophole. Hope you get the gist. Thanks :)

[2021-01-18 14:04] benmccallum commented on #753
I've just realised wrapping it in another func is a decent workaround:
[code]

[2021-01-19 21:41] SimonCropp commented on #747
@loop-evgeny did u want to submit a PR for this?

[2021-01-20 14:22] loop-evgeny commented on #747
I cloned the code, but turns out Shouldly.Tests uses .NET Framework 4.8. I don't have that installed and don't want to install it just for this, so no, not at this stage.

[2021-01-21 14:40] loop-evgeny opened #755 "ShouldBeEquivalentTo ignores fields"
v4.0.3. ShouldBeEquivalentTo does not appear to compare fields - it passes for two objects with different field values, like this:

[code]

I see no documentation on ShouldBeEquivalentTo on docs.shouldly.io but sounds like it's supposed to behave like the FluentAssertions equivalent?

[2021-01-21 15:11] JosephWoodward commented on #755
Hi @loop-evgeny,

Thanks for raising the issue you're seeing. This feature is still in its infancy and is rather primitive at the so feedback like this is super useful.

[2021-01-22 15:01] VicenzoMartinelli opened #756 "Support task result assertion"
Would be a great additions if Shouldly endured the assertion of tasks results.
My suggestion is something like that:

`await anyTaskRetuningValue(params).ShouldReturnAsync(assertionComparer)`
`await anyTaskRetuningValue(params).ShouldNotReturnNullAsync()`

And for tasks without returning value:

`await anyTaskWithoutReturningValue().ShouldRunSuccessfully()`

Thanks for the amazing project!

[2021-01-22 15:08] silvalarissa commented on #756
Very nice issue bro

[2021-01-24 13:45] jamesmcroft commented on #679
So I've looked into this and somehow missed it. Apparently, there is a `ShouldBeEquivalentTo` extension that already works for this scenario.

After pulling my extension into the codebase, I went to write tests only to find that there are already tests to cover this for enumerables. So looks like it's already there.

[2021-02-02 08:55] #735 closed

[2021-02-15 11:05] jhv2017kam opened #766 "ShouldMatch regexPattern parameter should be annotated with [RegexPatternAttribute]"
This will enable Resharper to syntax highlight the supplied regex string

[2021-02-16 17:24] loop-evgeny opened #767 "ShouldBeEquivalentTo does not handle nested dictionaries"
This basic nested dictionary case fails with `ShouldBeEquivalentTo`

[code]

I would expect this to pass, but it throws:

[code]

[2021-02-27 21:29] jnm2 commented on #756
Would https://github.com/shouldly/shouldly/issues/698 suit?

[2021-02-27 21:33] jnm2 opened #769 "Embedded PDB causes VS to jump to Shouldly internals instead of user test code when debugging assertions"
This is caused by VS not following the "Just My Code" setting and treating any DLL that contains embedded PDB as the user's code.

We had the same problem at NUnit and decided to go the route of the new recommended snupkg symbol package format.

https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/nuget#symbol-packages
https://docs.microsoft.com/en-us/nuget/create-packages/symbol-pack

[2021-02-27 21:42] jnm2 commented on #663
@JosephWoodward What do you think?

[2021-02-28 01:47] #736 closed

[2021-02-28 01:48] #749 closed

[2021-02-28 02:06] jnm2 opened #770 "Cut down on PR noise and provide easy, fast feedback to contributors by adding *a few* StyleCop Analyzers rules"
@shouldly/core Would you mind if I turn on a few rules provided by StyleCop? Having contributed myself to repositories that have these rules in place, it's really nice having inline prompts and <kbd>Ctrl</kbd>+<kbd>.</kbd> light bulb fixes so that I don't spend time thinking about the codebase style to guess it up front, or spend time talking about it in my PRs.

These are some of my pet peeves th

[2021-02-28 02:25] jnm2 commented on #756
Hi, thanks for the suggestion!

It looks like this could lead to an explosion of new methods: `ShouldReturnAsync` for `ShouldBe`, `ShouldNotReturnNullAsync` for `ShouldNotBe`, etc. There is already existing composability:

[code]

And:
[code]

Have you found there to be friction using the current composable building blocks shown above?

We probably don't want to do something that would essentially

[2021-02-28 02:28] jnm2 opened #771 "Enabling the Discussions tab"
@shouldly/core What do you think about turning on the GitHub Discussions tab for this repository? Here's an example of what it might look like: https://github.com/dotnet/roslyn/discussions

I would probably have moved https://github.com/shouldly/shouldly/issues/756 to a discussion under the Ideas category. Is that the kind of place you'd want that to be, or should we stick with issues for now?

[2021-02-28 02:34] jnm2 commented on #727
@shouldly/core I would like to remove the AppVeyor webhooks from this repository and set up a GitHub action to do the exact same thing we were using AppVeyor for. Does that sound good?

[2021-03-12 01:12] distantcam commented on #736
I upgraded to the latest version and this still isn't fixed.

[2021-03-12 03:23] jnm2 commented on #736
@distantcam The pull request was merged 12 days ago and is in the 4.1.0 milestone. That's the version to keep an eye out for when we do another release.

[2021-03-16 14:22] terryaney commented on #767
Similarily, there is a problem with `ShouldContainKeyAndValue` when value is an array.

[code]

To get around this problem I did the following:

[code]

[2021-03-18 08:59] mcon commented on #727
I've created a couple of PRs which should fix the build: https://github.com/shouldly/shouldly/pull/780 https://github.com/shouldly/shouldly/pull/778

Seems the AppVeyor CI is running, just no statuses being posted... Would be great if the maintainers could step in here.

[2021-03-21 16:37] jnm2 commented on #727
I haven't heard from other maintainers, but I am one, so I'll start doing what I'm capable of. Right now that means creating a GitHub Actions PR validation build.

[2021-03-21 18:15] #727 closed

[2021-03-21 18:18] jnm2 commented on #727
This is now in place and required on PRs. This doesn't stop maintainers from merging PRs at their discretion at any time, which is important to me, but it puts the pressure in the right place.

A temporary issue with this is that GitHub has no way to trigger a PR build without someone pushing to the PR branch. So for old PRs, we will have to merge without having a build status to verify.

[2021-03-21 18:37] jnm2 commented on #771
@JosephWoodward How do you feel about me taking action on things like this by default, as we all deal with the reality that we don't get a chance to see and respond to things as often as we like?

[2021-03-21 18:40] jnm2 commented on #679
@PatryxCShark Yes, like this:

[code]

[2021-03-21 18:40] #679 closed

[2021-03-21 18:50] jnm2 commented on #623
Also, `nint` and `nuint` have been shipped in C# 9.

@patriksvensson Are you okay with it if someone beats you to creating the PR?

[2021-03-21 18:52] jnm2 commented on #561
Closing due to lack of response, but we will see future responses and reopen if anyone wants to pursue this and has answers to guide the design.

[2021-03-21 18:52] #561 closed

[2021-03-21 19:04] jnm2 commented on #753
I think our support for ValueTask would amount to overloads doing the same workaround. We need to be cautious of maintaining an explosion of overloads, but if we would consider paying that cost to help reduce repetition on the consumption side if it is both painful enough and common enough.

This should not be the case. Both Task and ValueTask sometimes throw unwrapped exceptions and sometimes ret

[2021-03-21 19:16] jnm2 commented on #392
I like this concept. I like it even more when the message is included, because I've been bitten by tests only checking paramName and not realizing the test only passed because of an unrelated ArgumentException for that parameter due to a factor it wasn't even testing for.

Is it better to add `paramName` alone or should we require a `message` parameter too, to push people in that direction? What d

[2021-03-21 19:27] jnm2 commented on #456
In v4, we support assertions on nullable DateTime with tolerance parameters using the following syntax:

[code]

I think the original request is asking for this shorthand syntax which would roll the not-null and tolerance checks into one:

[code]

We might be able to pull that off without adding any new overloads if we take `DateTime?` instead of `DateTime` as the extension method receiver paramet

[2021-03-21 19:27] #456 closed

[2021-03-21 19:28] jeffkl commented on #392
I think the pattern is usually:

[code]

In which case all I've specified is the `paramName`.  We can assume the message will be correct as it comes from the runtime.

But there is [an overload](https://docs.microsoft.com/en-us/dotnet/api/system.argumentnullexception.-ctor?view=net-5.0#System_ArgumentNullException__ctor_System_String_System_String_) to `ArgumentException` that takes a message so t

[2021-03-21 19:36] jnm2 commented on #663
@Piedone Here's the current situation: maintainers are chronically overcommitted, and I think this is new to us. On the other hand, your generosity means an awful lot to us, and it's good to see in the ecosystem. Can I ask for a suggestion from you for what you think is a fair amount for us to set the "Sponsor" level at? Then I can set that up in Open Collective and we would be immediately ready t

[2021-03-21 19:40] jnm2 commented on #392
Good point. It makes sense to verify the message of all the ArgumentExceptions except for ArgumentNullException, pretty much, but that's one message you really don't want to be specifying in test code.

I'm happy with either then, just a `string paramName` overload, or both that and a `string paramName, string message` overload.

[2021-03-21 19:42] jnm2 commented on #392
@jeffkl I'll certainly take you up on your generous offer if you still have the desire after three years :D I'll remove `Up For Grabs` and assign you if you'd like.

[2021-03-21 20:30] jnm2 commented on #421
This was fixed in https://github.com/shouldly/shouldly/pull/372 in 2016.

[2021-03-21 20:30] #421 closed

[2021-03-21 20:36] jnm2 commented on #303
@carllaw6885 It's been a while and that's alright. I'm going to mark this as up for grabs. If you're still working on it, let us know and we can assign the issue to you.

[2021-03-21 20:39] jnm2 commented on #253
@SimonCropp It could be done the same way `ShouldBe` on enumerables works, I think. `.ShouldContain(value)` is kind of like a special case of `ShouldBe(new[] { value })`. I'd expect us to share some of that item-listing display logic.

[2021-03-21 20:50] jnm2 commented on #435
I like this idea. If you run the test suite twice, the tests will first fail then succeed, so that could be weird. But source control should show you all the added files. Maybe we could have an opt-in setting to turn on this behavior.

@SimonCropp You know more about the diffing engine than I do. Is this already supported? And would you have an alternative suggestion that would be more idiomatic w

[2021-03-21 21:11] Piedone commented on #663
I'm glad to hear!

I think what Git Extensions does (another .NET project that we also sponsor) is quite a good approach: https://opencollective.com/gitextensions There are multiple tiers for one-time and recurring contributions too. I'd probably draw the line at $50 as well (keep in mind that all amounts are minimums and people can choose to actually contribute more). However, I've never been on

[2021-03-21 21:13] Piedone commented on #435
I'd definitely do this optionally, in an opt-in manner, only, not by default.

[2021-03-21 21:34] jnm2 commented on #747
I've always found this counterintuitive too. The test failed, and I expect to see what it was off by. If it was numeric, then I'd expect the relevant difference to be `actual` minus `expected`. Additions in `actual` would appear as additions in the diff, and subtractions as subtractions.

[2021-03-21 21:55] SimonCropp commented on #747
shouldnt this be an issue in diffengine?

[2021-03-21 22:06] jnm2 commented on #663
@Piedone Thanks for the suggestion! I think it's copying Git Extensions now. Let us know if you notice something that could be improved.

[2021-03-21 22:11] Piedone commented on #663
Great then! Can you confirm you're ready to receive financial contributions, you'll indeed receive the funds when setting up contributions in OC?

[2021-03-21 22:19] jnm2 commented on #663
I understand the funds will sit there until we submit expenses to transfer them to personal accounts based on whatever criteria we agree on. I don't think any configuration is needed on the OC side, just at some point @JosephWoodward will need to help decide how to split/spend it. I've never been part of a discussion like this before and possibly he hasn't either. Do you have advice?

[2021-03-21 22:21] jnm2 commented on #747
@SimonCropp Hard for me to say because I haven't looked closely, but I guess I should have before marking up for grabs. This upstream issue should stay open though to track the Shouldly API work.

[2021-03-21 22:37] jnm2 commented on #435
A question that remains for me is whether it's idiomatic in snapshot testing to simply turn on a setting temporarily and run the tests to regenerate all files rather than deleting all or selectively deleting, then rerunning.

[2021-03-21 22:49] SimonCropp commented on #435
no it is not currently available.

i have found with diffenginetray https://github.com/VerifyTests/DiffEngine/blob/master/docs/tray.md it is trivial to approve new files when they popup

[2021-03-22 01:33] Piedone commented on #663
I have no experience with this so can't really comment, sorry. My personal recommendation would be to find a simple, clear rule so you don't have any differences in the future. One thing to consider, also as done by GE, is not to take payments for contributors directly but only to expenses they themselves have to pay. There e.g. hiring a graphic designer is something like this. However, I don't se

[2021-03-22 09:55] JosephWoodward commented on #771
@jnm2 Sounds like a good idea to me! As I've not had much time to dedicate to Shoudly recently, you've been contributing to Shouldly long enough to understand the project's general direction to feel free to make any changes you see fit.

[2021-03-22 10:08] benmccallum commented on #753
Thanks for the detailed response @jnm2.

The distinction between the following is something I didn't realise and will be aware of next time.
* `Should.Throw<Exception>(TaskReturningMethod())` vs
* `Should.Throw<Exception>(TaskReturningMethod)` / `Should.Throw<Exception>(() => TaskReturningMethod())`

By no means feel obliged to support new overloads if there's not enough support from others. I thi

[2021-03-22 14:43] jnm2 commented on #771
Cool, nice to know that ccing isn't coming across as spamming! I turned on the Discussions feature and I'll look at moving things on a case-by-case basis.

[2021-03-22 14:43] #771 closed

[2021-03-22 15:12] jnm2 commented on #435
Okay, so we'll have to file an issue at https://github.com/VerifyTests/DiffEngine and possibly contribute a fix if we want to implement this new option.

@Piedone @SimonCropp What do both of you think of exposing a different setting, one that overwrites all existing files which you only turn on temporarily, run all tests, and turn back off? `UpdateMode = true` or something like that?

[2021-03-22 15:13] jnm2 commented on #663
Oh, I see what you're asking, and thanks!
Yes, we're ready for you to submit the sponsorship.

[2021-03-22 15:21] jnm2 commented on #753
Another thing we could consider is obsoleting the `Should.Throw<T>(Task)` overloads and requiring `Should.Throw<T>(Func<Task>)` only. That would make the syntax `Should.Throw<Exception>(TaskReturningMethod())` stop working, requiring one of the other two syntaxes to be used, and possibly avoid this pitfall. Having fewer ways to do the same thing speeds up developers.

[2021-03-22 15:24] jeffkl commented on #392
@jnm2 Yes I can contribute this back, please assign it to me.

[2021-03-22 15:24] jnm2 commented on #766
This makes sense to me. We need to be sure that we don't ship any new public types or any new nuspec dependencies. I can think of at least one easy way to do that (declare an internal source attribute).

[2021-03-22 15:26] jnm2 commented on #756
Converting discussion issues to GitHub discussions.

[2021-03-22 15:26] #756 closed

[2021-03-22 15:30] jnm2 commented on #770
@shouldly/core I'm planning to work on this soon just because of the number of formatting oversights in PRs. I don't want to give up and not address them, but I also don't want to spend time talking about it in PRs. With StyleCop, the instant feedback and light bulb fixes means we can have the cake and eat it too.

[2021-03-22 15:32] jnm2 commented on #731
We are effectively not using AppVeyor for CI anymore, but we should probably consider adding iOS and Ubuntu builds to the GitHub Actions CI workflow then.

[2021-03-22 15:39] jnm2 commented on #755
I'm calling this a bug because I think it was missed in design to consider how we wanted this to play out, and I'm tentatively milestoning for 4.1 to minimize the amount of time in which tests might be written that could break when we roll this out.

[2021-03-22 15:44] jnm2 commented on #594
Shouldly's decision to have a single method call, `ShouldNotBeNull()`, turned out to be incredibly lucky when C# 8 came out with the Nullable Reference Types feature. It's possible to annotate `expr.ShouldNotBeNull()` so that the compiler knows that `expr` is not null after that statement (and we did this in v4). It's not possible to do the same thing with `expr.Should().NotBeNull()` with the anno

[2021-03-22 15:58] jnm2 commented on #442
Somewhat selfishly, since .NET 3.5 is still in use for some work projects that run under a larger third party platform, I'd like to add back in just a `net35` build beside our other builds. These days it's easy to build net35 cross-platform using `dotnet build` (well, [*now*](https://www.nuget.org/packages/jnm2.ReferenceAssemblies.net35/) it is). I'm familiar with doing this.

If you all don't min

[2021-03-22 15:59] Piedone commented on #435
I always feel uneasy about adding temporary changes to code that is otherwise kept in a repository (so not like an untracked config file). Being able to recreate removed verification files seems like a more natural way of handling this.

[2021-03-22 16:02] jnm2 commented on #442
Oh, I should respond to this:

.NET Framework 3.5 SP1 is very much in support by Microsoft as a Windows OS component and will be until 2029.
https://docs.microsoft.com/en-us/lifecycle/products/microsoft-net-framework
https://docs.microsoft.com/en-US/lifecycle/faq/dotnet-framework

To be clear, I don't think this means that therefore any .NET library should support .NET Framework 3.5. But it's a bi

[2021-03-22 16:16] Piedone commented on #663
Great, thanks!

[2021-03-22 16:19] jnm2 commented on #433
@SimonCropp That parameter has been here for the `IEnumerable<T>` extension methods for a while:

https://github.com/shouldly/shouldly/blob/f77860ec5cb6290f7eaa5d85f3e904ab14390681/src/Shouldly/ShouldlyExtensionMethods/ShouldBe/GenericShouldBeTestExtensions.cs#L48-L54

@vorou

Sometimes. Not for Dictionary, but for SortedDictionary.

I don't think so because we need it for IEnumerables, and all di

[2021-03-22 16:27] jnm2 commented on #663
@Piedone We appreciate that! OC prompted me to tweet, hope that's fine with you.

@JosephWoodward There's money now, want to file expenses for hosting etc?

[2021-03-22 16:27] #663 closed

[2021-03-22 17:17] benmccallum commented on #753
I'd be in favour of that, makes sense.

[2021-03-22 17:57] jnm2 opened #789 "Obsolete the Should.Throw overloads that take Task instead of Func<Task>"
(Broken out of https://github.com/shouldly/shouldly/issues/753)

The presence of this overload is a pit of failure when asserting exceptions like ArgumentException that mean "the caller should have known better," where the exception is not meant to be recovered from. It is common and favorable for a task-returning method to throw such exceptions directly rather than returning a task instance wrapp

[2021-03-22 17:57] jnm2 commented on #753
Cool. That's now tracked at https://github.com/shouldly/shouldly/issues/789.

[2021-03-22 18:13] Piedone commented on #663
Of course, thank you.

[2021-03-22 19:45] SimonCropp commented on #435
I dont think this is the correct approach. the api for diffengine is essentially "show this diff", if the caller wants that diff to be accepted, then there is no diff to show. I think we should focus on how make accepting diffs easier.

 In Verify the default behavior is to [place all "accept diffs commands" into the clipboard](https://github.com/VerifyTests/Verify/blob/master/docs/clipboard.md).

[2021-03-23 16:00] Crozin opened #793 "Collection message formatter throws on null collection"
Having two collections where one of them is `null` Shouldly can't produce proper assertion message:

[code]

Throws:

[code]
Looks like `ShouldBeIgnoringOrderMessageGenerator` misses support for `null` support in `context.Actual` and `context.Expected`.

[2021-03-25 15:09] loop-evgeny opened #794 "ShouldBe() fails to compare FSharpOption value"
As of Shouldly 4.0.3, ShouldBe() fails with F# options when it should succeed.

Code:

[code]

Project file:

[code]

[2021-03-26 12:10] loop-evgeny opened #795 "Installing Shouldly silently disables optimization and changes other properties"
I've run into a similar issue before (#723) but this wasted hours of my time again: performance tests suddenly started failing for no explicable reason, when the code being tested did not change. The problem turned out to be Shouldly's .props file disabling optimization:

[code]

This can be verified at runtime by [checking for the DebuggableAttribute](https://stackoverflow.com/a/49832939/1536933)

[2021-03-28 18:04] jnm2 commented on #442
After trying this out, there were too many points against it for me. The main problem is that if you add a `net35` target to the package, `net461`+ projects begin preferring it over `netstandard2.0`, so at minimum we would probably be adding `;net461;net35`. Then that increases the test matrix complexity.

Another problem is that the combination of ReSharper + ReferenceAssemblyAnnotator + net35 re

[2021-03-28 18:04] #442 closed

[2021-03-28 18:27] jnm2 commented on #795
I hear you. Huge, impossible-to-ignore warnings for the 99% case are a non-starter I think, but maybe it would be an acceptable tradeoff to put a smaller amount friction in the 99% path and not have Shouldly work out of the box, but fail with a test message that says "Set this csproj property: ...". I think even this would diminish the user experience significantly and provide a poor impression of

[2021-03-28 18:37] jnm2 commented on #795
A central draw of Shouldly is that it generates great error messages. It only generates great error messages if it can locate source files based on the stack trace when a test fails. We don't currently know of a way to obtain the original source file without setting these properties, but we can also try again.

[2021-03-28 18:51] jnm2 commented on #794
There is not a clear way to solve this. We would have to special-case certain types and that would be a big break from previous behavior, which has legitimate uses.

The `IEnumerable<T>` overload of ShouldBe behaves differently than the default ShouldBe overload which delegates equality checks to the type itself, in this case the FSharpOption type. We could special-case the FSharpOption  type, but

[2021-03-28 18:58] jnm2 commented on #794
With other types you would unwrap this way:

[code]

But since Shouldly doesn't bring a dependency on F#, we can't ship an unwrapping method specifically for FSharpOption:

[code]

Such extension methods can now be created in your own test code, though.

[2021-03-28 19:07] jnm2 commented on #793
Even though this is probably an intentional design at the moment that `ShouldBe` overloads that assert on strings and collections require both parameters to be non-null, we should be throwing ArgumentNullException directly in the ShouldBe method that is called and not allowing it to propagate down to an internal spot like this which makes it look like an accident.

[2021-03-28 19:13] jnm2 commented on #793
Most specialized ShouldBe overloads do not support null arguments by design. For example, null tasks, null strings, etc. We could reconsider this and it would require some design work to make sure we get it right, since it's a new layer of complexity.

However, in the current state of things where our nullability annotations say "do not pass a nullable argument here" if you have C#'s Nullable Refe

[2021-03-28 19:17] jnm2 commented on #794
This is in principle the same as https://github.com/shouldly/shouldly/issues/767 only with FSharpOption instead of Dictionary.

[2021-03-28 19:31] jnm2 commented on #767
To continue the conversation from https://github.com/shouldly/shouldly/issues/794#issuecomment-808941364 which I saw first, I'm at a point where I'm comfortable with this kind of change yet. See https://github.com/shouldly/shouldly/issues/794#issuecomment-808941364. We would have to be ready to be consistent and take on every combination of dictionary keys and values, enumerable values, options, n

[2021-03-29 07:42] loop-evgeny commented on #795
I don't think it's really that hard to set the properties and most users would already have symbols enabled, at least in the Debug build where they're typically running failing tests. Certainly it would increase friction to some extent - but it's nowhere near as bad as having your performance tests failing for no explicable reason and wasting hours trying to figure this out *and then* having to ma

[2021-03-29 13:35] slang25 commented on #795
I agree that what Shouldly is doing here is too intrusive. From digging around and from memory, the initial problem was a bug where the stack walking within Shouldly wasn't happening reliably, however this shouldn't require a change to the consuming projects from what I understand.

I think we wanted/needed portable PDBs (which we still do, as 'full' is legacy), however they were not loaded by def

[2021-04-01 01:23] Crozin commented on #793
I find that a bit counterintuitive.

[code]

[2021-04-02 20:02] #766 closed

[2021-04-03 13:05] mcon commented on #755
Should be able to close this one now https://github.com/shouldly/shouldly/pull/790 is in :+1:

[2021-04-03 13:48] #755 closed

[2021-04-03 16:17] #770 closed

[2021-04-03 17:49] jnm2 commented on #767
It occurred to me while I was on a run that this kind of deep custom comparison is well-suited to the philosophy behind the shape matching of `IsEquivalentTo`. And since that is so much newer of an API, I think that is a space we could flesh out (soon!) to handle all nested combinations of dictionaries, enumerables, tuples, well-known option patterns like FSharpOption, etc.

[2021-04-06 16:54] mcon commented on #767
Worth noting that there's prior art for the sort of rich comparison you describe (https://github.com/fluentassertions/fluentassertions/tree/develop/Src/FluentAssertions/Equivalency).

[2021-04-28 16:28] jeffkl commented on #392
I started working on this but hit an issue.  `ShouldThrow` has default parameters so when I added a string argument the compiler is unhappy.

Should I introduce a new method called `ShouldThrowArgumentException<ArgumentException>()`?  Its a little verbose, any suggestions or thoughts?

[2021-04-28 18:08] jnm2 commented on #392
Can you add the string argument before the default parameters? If I remember right, `string? customMessage = null` should always be the last parameter no matter what; otherwise, reading the call site could be confusing.

[2021-04-28 18:10] jnm2 commented on #392
We could also consider making this composable, e.g. `.ShouldThrow<ArgumentException>().ShouldHave("argName", "Optional message);`. The downside would be discoverability and not having as much of a strong suggestion that you should verify the param name if it's an argument exception.

[2021-04-28 20:16] jeffkl commented on #392
Here's a better example of what I was trying to do:

![image](https://user-images.githubusercontent.com/17556515/116463428-87c1a700-a81f-11eb-8e12-d95f1335f721.png)

This of course works but is slightly verbose:
[code]

The call is laughable:

[code]
I don't really like the other way of calling it (and its the main point of this being more built-in):
[code]

It works last long as you specify the p

[2021-04-29 04:43] gkhedekar5758 commented on #793
@jnm2 Sir, I am a first-time contributor and have been working on this issue since last week for my knowledge, i have been in never in open source which I want to now start.  can I take this issue? Thank you, Gaurang

[2021-05-26 08:18] DevsAnon opened #812 "Implement way to check equivalency between two IEnumerables using Custom Comparer"
In NUnit framework one can simply compare two IEnumerables using the following

`Assert.That(actual, Is.EquivalentTo(expected).Using(customComparer));`

And with that we can check whether two Collections have the same data, based on comparer, but not caring about order.
FluentAssertions also have something similar
[https://fluentassertions.com/collections/](https://fluentassertions.com/collections

[2021-05-28 10:26] hemiaoio commented on #392
I think it should not be limited to ArgumentException. Should it be suitable for all Exception types, and then you can judge the value of the property in the type, such as the ErrorCode property of HasErrorCodeException

[2021-05-28 12:34] martincostello opened #813 "Feature suggestion: Explicit Task<T> support for Should*() methods?"
I've recently migrated some UI tests from Selenium to Playwright, with the main difference between the two being that Playwright is pretty much exclusively async for all of its methods for accessing elements in the DOM. This means that async has spread throughout the test suite, including through page object models.

With the use of Shouldly, this has turned code that used to be like this:

[code]

[2021-06-09 07:59] Edgaras91 commented on #274
Anything for Nullable DateTime? Facing this issue now.

[2021-06-11 15:49] kurtlmartin commented on #274
@Edgaras91
I ran into this as well. Due to knowing that in this unit test my Nullable DateTime will be tested with a value, I did this.
`Date.Value.ShouldBe(DateTime.Now, TimeSpan.FromMinutes(1));`
Hope this helps. :)

[2021-06-11 16:48] Edgaras91 commented on #274
Thanks, @kurtlmartin, but what if one test case will give a value, and the other won't. Would prefer a more future proof nullable datetime against nullable dateime, to make sure they both the same.

[2021-06-17 10:41] TsengSR commented on #277
@JakeGinnivan: Is there still no alternative to it?

The reason/use case I'd have is, when testing a class which involves throwing in constructor, I usually use AutoMocks for it. The issue here is, that the IoC container in the unit tests may not necessarily be the same as in the main application (i.e.  as far as I know there's no Automock for the default Microsoft.Extensions.DepedencyInjection, s

[2021-06-17 10:43] JakeGinnivan commented on #277
Hey, to be honest I haven't worked with shouldly (or .net) for a few years now. I will have to delegate to the newer maintainers

[2021-06-20 22:23] edumserrano opened #817 "Exception returned by Should.ThrowAsync<T> has InnerException property equal to null"
I was trying to do an assert on the inner exception returned by an async method and was using the `Should.ThrowAsync<T>` for that.

The test below is a representation of the problem I encountered. The local method `ThrowExceptionWithInnerException` is simulating an `async` method in my code that throws an exception with an inner exception.
When I run the test below I get a `NullReferenceException`

[2021-06-29 10:01] hwanders opened #818 "Should.ThrowAsync<Exception> does not fail for a succeeding task"
The assertion `Should.ThrowAsync<TException>` with the generic type `Exception` will **not** fail for a successful task.
Instead it returns  a `ShouldAssertException` which I think should never be returned but only thrown.

This means that some tests including assertions about certain processes to fail (with an unknown exception) will appear green although the processes succeed.

Changing the asse

[2021-07-13 13:23] daveaglick commented on #795
FWIW, I just got sidetracked by this too and if it weren't for this issue I might have spent many hours on it. In my case, I use Shouldly in a testing support library that's intended to be used within other unit test projects, but doesn't contain any tests of it's own. My support library is published to NuGet and all of a sudden, after an upgrade from Shouldly 3.x to 4.x, my publishing scripts sto

[2021-07-20 09:52] szyb opened #821 "ShouldContain throws exception on null input (string)"
Consider code below:
[code]
When `result` is null then the test will end up with exception: NullReferenceException.
In my opinion it should resulted with failing assertion, like:
[code]

[2021-07-24 10:05] adam-knights commented on #818
New to this project, but fancied having a dig in the code. It is down to [this line](https://github.com/shouldly/shouldly/blob/037a2b9c118aa266a84988d9adf0301c4ca1ad5a/src/Shouldly/ShouldStaticClasses/ShouldThrowTaskAsync.cs#L55). When your expectedException type is `Exception` the `ShouldAssertException` is a child of `Exception` and matches, when its any other type of Exception it hits the secon

[2021-07-24 10:33] adam-knights commented on #817
I'm new to this project, but thought I would have a dig in the code... Ultimately [this line](https://github.com/shouldly/shouldly/blob/master/src/Shouldly/ShouldStaticClasses/ShouldThrowTaskAsync.cs#L46) is the culprit. Because your outer exception is a `TaskCanceledException` the NET method `ContinueWith` gives a task where `IsFaulted` is `false` and `isCanceled` is `true`. Infact, if we place a

[2021-07-25 22:18] hwanders commented on #818
I think you've analyzed this correctly and the test is correct.
The `e.ShouldBeOfType<ShouldAssertException>()` in the `catch (ShouldAssertException e)` block seems redundant though.

[2021-08-22 11:20] adamralph commented on #705
Out of interest, do you remember what trouble you had?

[2021-08-30 02:30] ggrondecki commented on #818
I just ran into this issue today and I see the PR for it is still open. Any ETA on when this will be released?

[2021-09-07 12:58] rick-palmsens opened #825 "ShouldBe does not use the correct comparer for IEnumerable<IEquatable>"
For the following code, comparing the individual instances with `ShouldBe` succeeds, but comparing the lists fails. It seems to call the `object` version of `Equals` when comparing the lists, which has not been overridden. The individual comparisons however do call the `Foo` version of `Equals`.

[code]

[2021-09-08 23:43] taori opened #826 "Shouldly should not add tons of dependencies"
There's a ton of odd dependencies introduced by the upgrade from 3x to 4x
I get that DiffEngine and EmptyFiles probably makes sense, but things like

Registry, MEF, ConfigurationManager, SqlClient and all the other seem pretty weird. Was there any thought put into crosscompiling so there are less dependencies?

![grafik](https://user-images.githubusercontent.com/5545184/132599335-47f1cabf-fe0b-499

[2021-09-21 06:17] distantcam commented on #736
Still not fixed.

[2021-10-03 00:17] SimonCropp commented on #826
i dont know why nuget is resolving that list. the actual count of dependencies for shouldly is only 4 https://www.nuget.org/packages/Shouldly

 * DiffEngine (>= 6.4.9)
 * EmptyFiles (>= 2.3.3)
 * Microsoft.CSharp (>= 4.7.0)
 * System.Memory (>= 4.5.4)

so perhaps raise it with the nuget team?

[2021-10-03 00:57] taori commented on #826
After a brief investigation i would assume the original offender here is https://www.nuget.org/packages/DiffEngine/6.4.9

[2021-10-03 01:06] SimonCropp commented on #826
happy accept a PR to diffengine that reduces the number of dependencies

[2021-10-03 01:08] taori commented on #826
Yeah. Will look into that shortly. Just writing an issue @diffengine atm so it is tracked.

[2021-10-03 05:34] SimonCropp commented on #826
hopefully this should fix it

[2021-10-03 19:34] #826 closed

[2021-10-04 10:57] taori commented on #826
@SimonCropp @slang25 Thanks for the quick fix.

When is this going to be published though? - Last nuget package update was 10months ago. Is CI broken or is the project in a "collection features and fixes" state?

[2021-10-04 11:00] taori opened #828 "Please tag issues with "up for grabs""
I would be interested in contributing and there are a bunch of untagged issues which seem older - Could someone who followed the discussions tag the issues accordingly if the issues themselves are deemed to be acceptable for PR's?

Been using shouldly for a while now and i would like to return the favor.

[2021-10-04 11:22] SimonCropp commented on #826
@taori  i am not a core maintainer or this project. so i have no idea

[2021-11-09 15:07] Edgaras91 opened #829 "Support Net Framework"
I have a class library, that builds 2 releases, one for net core 3.1, and one for net460 (.NET Framework 4.6.0).
When I run my tests project which is on net core 3.1, it only covers the core 3.1 build library, resulting in "half-covered code".

Changing the TargetFramework to:
<TargetFrameworks>net460;netcoreapp3.1</TargetFrameworks>
Fails to load the Shouldly library.

Can we have support for net

[2021-12-06 22:08] SimonCropp commented on #829
given 4.6 was released 6 years ago, i dont think it is reasonable to request an OSS library to put in the effort to support it.

you should be able to use 4.6.1

[2021-12-06 22:10] SimonCropp commented on #747
this is now supported in diffengine. no changes are required in shouldly, so this should be closed https://github.com/VerifyTests/DiffEngine/blob/main/docs/diff-tool.md#leftright-diff-behavior

[2021-12-06 22:12] #731 closed

[2021-12-06 22:25] SimonCropp opened #830 "Time to put out a call for more maintainers?"

[2021-12-06 22:54] #829 closed

[2021-12-06 23:37] jnm2 commented on #747
Unless Shouldly wants to provide this option in ShouldMatchConfiguration, which is more discoverable for Shouldly users than setting an environment variable.

[2021-12-06 23:41] SimonCropp commented on #747
yeah but this is a user preferences, that should operate on the machine level. it should not be hard coded into source and forced on every developer using the codebase

[2021-12-07 00:45] jnm2 commented on #747
Seems like a blurry line to me, but certainly let's wait and see if someone asks for it. Good point!

[2021-12-07 00:45] #747 closed

[2021-12-24 11:11] alexnnenn opened #831 "ThrowsAsync works incorrectly in case of canceled task"
I've just tried testing call of function Foo and got different behaviour in test, depending on what variant I use:
[code]

The output is:
[code]

I've expected that It will be OperationCanceledException in all variants. It seems, that ThrowAsync still works wrong in case of canceled task.

I've used latest available release version 4.0.3.

_Originally posted by @alexnnenn in https://github.com/sho

[2022-01-04 10:36] nathan-c commented on #795
I also ran into an issue trying to debug a .NET6 unit test project (while upgrading from .NET5) where Rider couldn't load symbols and so never hit my breakpoints. I eventually worked out that embedded doesn't appear to be a valid option anymore.

Manually selecting Portable fixed my issue but we have many unit test projects using Shouldly meaning I need to change all the csproj files to include `<

[2022-01-11 12:35] rick-palmsens opened #834 "Add support for IReadOnlyDictionary"
`ShouldContainKey` works with `IDictionary`, but not with `IReadOnlyDictionary`.

[2022-03-03 14:18] Edgaras91 opened #836 "ShouldBeEquivalentTo should not compare types"
ShouldBeEquivalentTo is throwing an exception when Object A should be of the type of Object B.

What I am actually asserting is type A against type B:A (A is the base)
I want to assert all of the A properties between the two objects if they have the same values.
TI believe Fluent Assertion does not compare types on its "Equivalent" extension.

I think Equivalent should check only the properties be

[2022-03-16 03:19] distantcam commented on #736
Still not fixed.

[2022-03-16 14:29] jnm2 commented on #736
@distantcam It's fixed, but the fix is not published as a NuGet package yet.

[2022-04-07 23:01] blake-costar opened #838 "ShouldBe() is overly permissive in null propagation scenarios"
When NULL propagates down to a property value via the propagation error **?.** Shouldly seems to glibly agree to almost any assertion.  I don't think the following test should pass:

[code]

[2022-05-22 22:08] #830 closed

[2022-06-09 18:32] deanis74 commented on #657
I'm curious about this error as well. Like so many others out there, my testers receive this message but I never do - "cannot reproduce". This has nothing to do with whether they have the pdb files. I don't receive this message because I have the full source file.

The message is generated in [SourceCodeTextGetter.cs](https://github.com/shouldly/shouldly/blob/master/src/Shouldly/Internals/SourceCo

[2022-06-10 13:41] slang25 commented on #657
@deanis74 you might have a scenario where you build and move your tests somewhere, then run them on a different machine, but generally this isn't how tests are usually ran. This is an implicit assumption I've been making, but I think it's good to call it out.

In the cases that have been reported so far, I am under the understanding that some variant of `dotnet test` is ran, and the at runtime the

[2022-06-10 15:13] deanis74 commented on #657
@slang25 that's the exact situation I have. And I've been trying to chase down why my testers were encountering that error even though my step definitions project was built with full debug info. I don't think that's an entirely unusual situation to encounter, so at the very least the message of does not match the requirements of needing the original source file in its original location.

[2022-06-11 19:23] slang25 commented on #657
I think the message is the biggest problem with this feature, it is supposed to be a light-up feature, i.e. if we can display the expression being asserted on, great! let's show it! If not, no big deal. If the intended usage is to use Shouldly and build an assembly on one machine, and then run it on another, this functionality should not be expected to work, and Shouldly shouldn't make a fuss abou

[2022-07-04 09:50] Compufreak345 opened #841 "No new releases since 2020"
Hi all,

the last release is from December 2020 - the last commit in the main branch is from October 2021.

Are there any new releases planned so the users of the Nuget package can benefit from the latest changes, like enabling field comparisons?

Thanks!

[2022-07-06 12:49] slang25 commented on #841
Hi @Compufreak345, thanks for raising this, I'll take a look at what's involved in getting a new release out 🙂

[2022-07-08 07:55] makeit-mh opened #842 "ShouldAllBe with predicate signature Expression<Func<T, int, bool>> (like in LINQ where clause)"
I'm looking for ShouldAllBe with predicate signature Expression<Func<T, int, bool>> (like in LINQ where clause). Where is it? I want do something like this:
   result.ShouldAllBe((item ,index ) => item.No== 1);
How can I achive something like this?

[2022-07-08 17:25] #818 closed

[2022-07-10 09:46] afroze9 commented on #838
The above code translates into:
[code]

The code is not even reaching the assert statement. I'm not sure if it even would be possible to handle this scenario.

[2022-07-10 16:04] slang25 commented on #838
That's correct, we'd need to implement an analyzer package to detect and warn when mixing this usage with Shouldly assertions.

[2022-08-12 12:00] SimonCropp commented on #769
this seems like a bug in VS. and not something libraries should need to work around

[2022-08-12 15:04] jnm2 commented on #769
I agree, and yet practically speaking it's so nasty on a regular basis.

[2022-08-13 01:35] SimonCropp commented on #769
yep but you should be raising it with the VS team. given many OSS projects are shipping with embedded symbols, shouldly no using embedded symbols will only slightly mitigate the issue

[2022-08-13 04:15] jnm2 commented on #769
Debugging a test stops you in an inappropriate stack frame whenever an assertion fails. That happens at a rate far beyond any other library I can think of in the course of any kind of debugging (app or tests).

[2022-08-13 06:02] SimonCropp commented on #769
all the more reason to raise a bug with the VS team so they can fix it asap

[2022-08-13 16:07] jnm2 commented on #769
That's for sure. A both-and strategy solves the immediate need, and also helps people who don't stay on (or can't use) the latest VS all the time.

[2022-08-24 04:18] jacobjmarks commented on #841
Seconded. I am particularly interested in getting the functionality added with #790

[2022-08-24 14:25] SimonCropp commented on #841
4.1 is released

[2022-08-24 14:29] #841 closed

[2022-08-24 22:33] jacobjmarks commented on #841
Great news, thanks @SimonCropp. Looks like a GitHub release also needs to be added?

[2022-08-25 00:14] SimonCropp commented on #841
@jacobjmarks https://github.com/shouldly/shouldly/releases/tag/4.1.0

[2022-09-04 15:52] SSchulze1989 commented on #838
Bit late but i have just come across this and there seem to be a very simple fix for the problem:
Just wrap the null-propagated terms in round brackets:
[code]

[2022-09-05 13:29] protron opened #857 "Improve ShouldContainKey (error message and return value for chaining)"
`dictionary.ShouldContainKey(key)` currently returns a worse error message when compared to `dictionary.Keys.ShouldContain(key)`. Because the later actually shows the keys actually found in the dictionary.

[code]

And some asserts like `ShouldBeAssignableTo` are returning some useful values so you can chain that result with more asserts (in that case the object already converted to that type). In

[2022-09-07 01:24] SimonCropp commented on #623
@jnm2

yes please

[2022-09-10 16:11] gsigler opened #860 "http://shouldly.io/ seems 💀"
None of the links to http://shouldly.io/ seem to be working. Looks like something went wrong.

[2022-09-12 15:57] marco-luzzara opened #861 "DynamicShould.HaveProperty assumes cast to IDictionary<string, string>"
In [DynamicShould.HaveProperty](https://github.com/shouldly/shouldly/blob/master/src/Shouldly/ShouldStaticClasses/DynamicShould.cs#L15), if the object we pass is of type `IDynamicMetaObjectProvider`, but does not implement `IDictionary<string, object>`, an `InvalidCastException` is thrown.

This does not happen with expando objects, but Shouldly cannot assert the property of a class that directly

[2022-09-13 04:59] greengumby commented on #723
This never was a problem with .net 4.X using  `nuget pack` any ideas why `dotnet pack` requires the PDB file?

[2022-09-23 15:40] MorganVergara commented on #860
No one seems to be monitoring the Gitter chat page either. This was reported there back on August 12th, and again by me yesterday (September 22d).

[2022-10-04 17:11] jnm2 commented on #860
@JakeGinnivan @josephwoodward @SimonCropp The official docs have been down for two months or more. Who is capable of configuring the domain and hosting?

[2022-10-04 17:14] jnm2 commented on #838
Also consider `p.ShouldNotBeNull().BirthDaty.ShouldBe(...);`

Duplicate of https://github.com/shouldly/shouldly/issues/710.

[2022-10-04 17:17] jnm2 commented on #842
You can currently achieve this via:

[code]

Or if you define your own AsIndexed extension method or similar, which many do:
[code]

[2022-10-04 17:33] jnm2 commented on #669
@josephwoodward Shouldly.io has now gone down: https://github.com/shouldly/shouldly/issues/860

[2022-10-04 17:53] jnm2 commented on #860
According to a WHOIS search, the domain `shouldly.io` does not expire until Aug 2023. This means there must be an issue with the hosting.

The hosting is https://www.gitbook.com if I understand correctly. (See the mention in #669 for example.) I'm not sure who has access to configure GitBook.

[2022-10-04 17:54] jnm2 commented on #860
Or, maybe the name servers aren't set up correctly in the domain configuration. (https://docs.gitbook.com/advanced-guides/custom-domain/configure-dns)

[2022-10-04 18:01] jnm2 commented on #860
I grabbed the domain **shouldly.org** so that we have that as an option if we don't have access to **shouldly.io** for one reason or another. Maybe I could give it a week and see if we get a response from @JakeGinnivan and @josephwoodward, and if not, I could attempt to publish the docs to `shouldly.org` via GitBook.

If we do revive **shouldly.io**, I'll set up **shouldly.org** to redirect to it.

[2022-10-09 14:05] jnm2 commented on #860
Current situation:

- The shouldly.io domain registration has expired and has been bought by a domain squatter who wants to sell it for a high price.
- GitBook, the hosting service, is now locking us out because adding me as a member of the GitBook Shouldly org put us over the limit for a free ("OSS") account.
- The administrator with access to these things has extremely limited time.

I'm investi

[2022-10-09 15:50] jnm2 commented on #860
https://docs.shouldly.org/ is now live! I'll work on changing links.

[2022-10-09 17:27] #860 closed

[2022-10-09 17:28] jnm2 opened #865 "Update maintainer credits in readme and NuGet package authors"
What is the current list of maintainers? @JakeGinnivan, @josephwoodward, @jnm2, @slang25?

@SimonCropp You just published a package in August, are you in or out? :D

I'd like the readme and NuGet authors to reflect this.

[2022-10-09 18:02] jnm2 opened #866 "Enabling all maintainers to perform all maintenance tasks for Shouldly"
@shouldly/core This is high priority for me given #860. Given that no single person has guaranteed time to resolve problems in a timely fashion, I would like every maintainer to have ability to:

- Publish and edit metadata for NuGet packages
  ✔️ @JakeGinnivan is a package owner
  ✔️ @josephwoodward is a package owner
  ✔️ @slang25  is a package owner
  ✔️ @SimonCropp is a package owner
  ❌ I am

[2022-10-09 18:07] jnm2 commented on #865
@JakeGinnivan is not a Shouldly org member and is not in @shouldly/core. Should he be removed as an active maintainer? We can still keep credits for past significant maintainers.

[2022-10-10 00:00] JakeGinnivan commented on #865
Happy to be removed, if I ever find the need to jump back in I can just ask.
Not doing a lot of .net (though am working at a company now who does after 5 years of nodejs only).

[2022-10-10 09:09] SimonCropp commented on #865
@jnm2 yeah. i am happy to be in for now.

[2022-10-16 08:53] SimonCropp commented on #866
yes

yes. if people want to check if an expense is ok, they can take the initiative to ask

u should have an invite

i have no experience with this. does that make it easier to use or mange users?

i dont mind people still having access. some people like the metrics of nuget counts associated with their name. i have also heard people say it can help with job applications. The one thing i would ask

[2022-10-17 08:42] marco-luzzara commented on #861
I would like to work on it but I cannot compile the solution. I am using docker (`mcr.microsoft.com/dotnet/sdk:6.0`) because I don't have the last version installed but when I run:

[code]
I get

[code]

The same goes for `dotnet build` on the solution. It only works when I build the `Shouldly.csproj`.

[2022-10-19 12:28] rick-palmsens opened #867 "Should.CompleteIn deadlocks on single threaded synchronization contexts"
Example:
[code]

Expected output:
[code]

Actual output:
[code]

[2022-11-04 13:22] R0boC0p commented on #767
Hi,
it's now over a year later, and I don't know where we are with this. I know this issue is about nesting dictionaries, but I am even having issues with enumerables as values of dictionaries:

[code]
atm i have to work around the issue by converting my complex object to a string (like serializing it to json) and then comparing it. Which is a nightmare to later actually spot the difference.
Anyon

[2022-11-05 23:29] makeit-mh commented on #842
It works. Thanks! ;-)